{% extends 'avec/layout_interno.html' %}
{% load socialaccount %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<style>
/*body{
  background-image: url('http://www.avecdata.com/static/avecv2.0-template/img/home_8.jpg') !important;
  background-size: 125%;
}*/
</style>
<div class="topic">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3 style="font-size: 18px;">Avec Registro</h3>
			</div>
			<div class="col-sm-8">
				<ol class="breadcrumb pull-right hidden-xs" style="margin-top: 0px;">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li class="active">Experimentar</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="home-app__container contaniner-pagamento" >
	<div class="section" style="margin-top: 40px;">

    <div class="container">
    	<div class="row">
        <div class="col-md-3" style="width:30%;"></div>
          <div class="col-md-5 form-register-avec" style="width:40%; background-color: #ffffff;">

            <!--<div class="row" style="background-color: #f7fafe; height: 156px;  padding-top: 60px; text-align: center !important;" >
              <a  href="{% url 'index' %}">
                <img src="{% static 'avecv2.0-template/img/avec-logo.svg' %}" alt="AVEC - Data" width="130">
              </a>
            </div>-->

      			<div class="sign__form avec-register">

      				<h3 class="sign-form__title avec-pagamento-title avec-register-title">Criar sua conta</h3>

      				<form id="form-register" method="post">
      					{% csrf_token %}

                  <div class="row avec-row-social">
                      <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-facebook avec-btn-facebook" ><i class="fa fa-facebook"></i>Inscreva-se com Facebook</a>
                      <a href="{% provider_login_url 'google' method='oauth2' %}" class="btn btn-google-plus avec-btn-google-plus" ><i class="fa fa-google-plus"></i>Inscreva-se com Google</a>
                  </div>

                <!-- Already have account -->
      					<div class="avec-possui-conta">
      						<div class="row">
      						<p class="avec-possui-conta-Fa"> Já possui conta? <a class="avec-possui-conta-Fa avec-text-style-1" href="{% url 'logar' %}">Faça o login!</a> </p>
                     <!-- Esqueceu a senha -->

      						</div>
      					</div>

      					{% for error in form.non_field_errors %}
      					<div class="alert alert-danger">{{ error }}</div>
      					{% endfor %}
      					<!-- Username -->
      					<div class="form-group{% if form.username.errors %} has-error{% endif %} form-group-avec form-group-avec-register" >
                  <div class="input-group input-group-avec-user input-group-avec-user-register">
                    <label for="{{ form.username.auto_id }}" class="sr-only">{{form.username.label }}</label>
        						<input type="text" class="form-control avec-register-input" id="{{ form.username.auto_id }}" name="{{ form.username.name }}" placeholder="{{ form.username.label }}" maxlength="150" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Informe o seu Login" data-original-title="{{ form.username.label }}">
        						<input type="hidden" name="user_id" value="0"> {% for error in form.username.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
      						</div>
      					</div>

      					<!-- Name -->
      					<div class="form-group{% if form.name.errors %} has-error{% endif %} form-group-avec form-group-avec-register" >
                  <div class="input-group input-group-avec-user input-group-avec-user-register">
        						<label for="{{ form.name.auto_id }}" class="sr-only">{{ form.name.label }}</label>
        						<input type="text" class="form-control avec-register-input" id="{{ form.name.auto_id }}" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" maxlength="150" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Informe seu Nome" data-original-title="{{ form.name.label }}">
        						{% for error in form.name.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                  </div>
      					</div>

      					<!-- Email -->
      					<div class="form-group{% if form.email.errors %} has-error{% endif %} form-group-avec form-group-avec-register">
                  <div class="input-group input-group-avec-user input-group-avec-user-register">
        						<label for="{{ form.email.auto_id }}" class="sr-only">{{ form.email.label }}</label>
        						<input type="email" class="form-control avec-register-input" id="{{ form.email.auto_id }}" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" maxlength="150" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Informe seu E-mail" data-original-title="{{ form.email.label }}">
        						{% for error in form.email.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                  </div>
      					</div>

      					<!-- Phone -->
      					<div class="form-group{% if form.phone.errors %} has-error{% endif %} form-group-avec form-group-avec-register">
                  <div class="input-group input-group-avec-user input-group-avec-user-register">
                    <label for="{{ form.phone.auto_id }}" class="sr-only">{{ form.phone.label }}</label>
        						<input type="tel" id="{{ form.phone.auto_id }}" class="form-control phone avec-register-input" name="{{ form.phone.name }}" placeholder="{{ form.phone.label }}" maxlength="28" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Informe seu Celular" data-original-title="{{ form.phone.label }}">
        						{% for error in form.phone.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                  </div>
      					</div>

      					<!-- Password -->
  							<div class="form-group{% if form.password1.errors %} has-error{% endif %} form-group-avec form-group-avec-register">
                  <div class="input-group input-group-avec-user input-group-avec-user-register">
                    <label for="{{ form.password1.auto_id }}" class="sr-only">{{ form.password1.label }}</label>
    								<input type="password" class="form-control margin-bottom-xs avec-register-input" id="{{ form.password1.auto_id }}" name="{{ form.password1.name }}" autocomplete="off" placeholder="{{ form.password1.label }}" maxlength="150" required="required" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Informe sua Senha" data-original-title="{{ form.password1.label }}">
    								{% for error in form.password1.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                  </div>
                </div>
  							<div class="form-group{% if form.password2.errors %} has-error{% endif %} form-group-avec form-group-avec-register">
                  <div class="input-group input-group-avec-user input-group-avec-user-register">
    								<label for="{{ form.password2.auto_id }}" class="sr-only">{{ form.password2.label }}</label>
    								<input type="password" class="form-control avec-register-input" id="{{ form.password2.auto_id }}" name="{{ form.password2.name }}" autocomplete="off" placeholder="{{ form.password2.label }}" maxlength="150" required="required" data-toggle="popover" data-trigger="focus" data-content="Confirme sua Senha" data-original-title="{{ form.password2.label }}">
    								{% for error in form.password2.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                  </div>
  							</div>

      					<!-- Submit -->
      					<div class="form-group" id="avec-create-account-content">
      						<button type="submit" class="btn btn-avec-success avec-permission-login">Registrar</button>
      					</div>

                <!-- Terms of services -->

                  <div class="row">
                  <p class="avec-possui-conta-Fa avec-terms-agree"> Clicando no botão acima você concorda com nossos
                    <a class="avec-possui-conta-Fa avec-text-style-1 avec-terms-agree" href="{% url 'terms_conditions' %}"
                      target="_blank">Termos de uso</a>
                  </p>
                     <!-- Esqueceu a senha -->


                  <!--<label for="terms_accept">Eu <strong>ACEITO</strong> os <a href="{% url 'terms_conditions' %}" target="_blank">Termos e Condições Gerais</a>
                  (<a href="{% static 'termsofuse/avec-termos-condicoes-gerais.pdf' %}" target="_blank">PDF</a>) e a <a href="{% url 'privacy_statement' %}" target="_blank">Política de Privacidade</a>
                  (<a href="{% static 'termsofuse/avec-politica-privacidade.pdf' %}" target="_blank">PDF</a>)</label>-->
                </div>

      				</form>
      			</div>
      		</div>
      	</div>
      </div>
  </div>
  </div>
</div>
{% block scripts %}
<script type="text/javascript">
/*$(document).ready(function () {

    $('#terms_accept').click(function(){
    	if($('#terms_accept').is(':checked') == false) {
    		$('#avec-create-account-content').addClass('disabledbutton');
    	} else {
    		$('#avec-create-account-content').removeClass('disabledbutton');
    	}
    });
});*/
</script>
{% endblock %}
{% endblock %}
