{% extends 'avec/base.html' %}
{% load socialaccount %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Registro</h1>
        </div>
        <form class="form-horizontal" id="form-register" method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            <fieldset>
                <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                	<label for="{{ form.username.auto_id }}" class="col-md-3 control-label">{{ form.username.label }}</label>
                	<div class="col-md-6">
           				<input type="text" id="{{ form.username.auto_id }}" class="form-control" name="{{ form.username.name }}" placeholder="{{ form.username.label }}" maxlength="150" >
           				<input type="hidden" name="user_id" value="0">
           				{% for error in form.username.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
           			</div>
           		</div>
                
                <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                	<label for="{{ form.name.auto_id }}" class="col-md-3 control-label">{{ form.name.label }}</label>
                	<div class="col-md-6">
           				<input type="text" id="{{ form.name.auto_id }}" class="form-control" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" maxlength="150" >
           				{% for error in form.name.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
           			</div>
           		</div>
           		
           		<div class="form-group{% if form.email.errors %} has-error{% endif %}">
                	<label for="{{ form.email.auto_id }}" class="col-md-3 control-label">{{ form.email.label }}</label>
                	<div class="col-md-6">
           				<input type="text" id="{{ form.email.auto_id }}" class="form-control" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" maxlength="150" >
           				{% for error in form.email.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
           			</div>
           		</div>
           		
           		<div class="form-group{% if form.phone.errors %} has-error{% endif %}">
                	<label for="{{ form.phone.auto_id }}" class="col-md-3 control-label">{{ form.phone.label }}</label>
                	<div class="col-md-6">
	           			<input type="tel" id="{{ form.phone.auto_id }}" class="form-control phone" name="{{ form.phone.name }}" placeholder="{{ form.phone.label }}" maxlength="150" >
	           			{% for error in form.phone.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
	           		</div>
           		</div>
           		
           		<div class="form-group{% if form.password1.errors %} has-error{% endif %}">
                	<label for="{{ form.password1.auto_id }}" class="col-md-3 control-label">{{ form.password1.label }}</label>
                	<div class="col-md-6">
	           			<input type="password" id="{{ form.password1.auto_id }}" class="form-control" name="{{ form.password1.name }}" autocomplete="off" placeholder="{{ form.password1.label }}" maxlength="150" required="required" >
	           			{% for error in form.password1.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
	           		</div>
           		</div>
           		
           		<div class="form-group{% if form.password2.errors %} has-error{% endif %}">
                	<label for="{{ form.password2.auto_id }}" class="col-md-3 control-label">{{ form.password2.label }}</label>
                	<div class="col-md-6">
	           			<input type="password" id="{{ form.password2.auto_id }}" class="form-control" name="{{ form.password2.name }}" autocomplete="off" placeholder="{{ form.password2.label }}" maxlength="150" required="required" >
	           			{% for error in form.password2.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
	           		</div>
           		</div>
                
                
                <div class="form-group">
                	<div class="col-md-9 col-md-offset-3">
                		<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Registrar</button>
                  </div>
                </div>
                <div class="form-group">
                	<div class="col-md-3 col-md-offset-3">
                  		<a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-facebook" ><i class="fa fa-facebook"></i>Inscreva-se com Facebook</a>
                  </div>
                  <div class="col-md-3">
                  		<a href="{% provider_login_url 'google' method='oauth2' %}" class="btn btn-google-plus" ><i class="fa fa-google-plus"></i>Inscreva-se com Google</a>
                  </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
