.avec-navbar-brand {
    padding: 22.5px 15px;
}

.navbar > .avec-container {
   /*box-shadow: 0px 0px 8px 2px #909090;*/
   box-shadow: 0px 0px 8px 2px rgba(144,144,144,0.9);
}

.avec-pricing-title {
	color: #3E4C5B;
	padding-top: 40px;
}

.pricing-option {
	border: 15px solid #DDE6EE;
}

.pricing-option_popular::before {
    border-left: 60px solid rgba(61, 193, 208, 1);
}

.shop-index__heading {
    font-family: 'Lato-Regular', sans-serif;
}

footer:before {
   -webkit-box-shadow: none;
   box-shadow: none;
}

.btn-avec-primary,
.btn-avec-success {
	margin: 16px 0px;
    padding: 10px 16px !important;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
}

a.avec-link-login {
	color: #32a8b5 !important;
	text-shadow: 1px 1px rgba(64, 192, 207, 0.2);
}

a.avec-link-login:hover {
	color: #333333 !important;
}

a.btn-avec-vagas {
	background-color: #3DC1D0;
	background-color: #40c0cf !important;
    border-color: rgba(0, 0, 0, 0.1);
	font-size: 18px;
	padding: 16px 40px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
}

a.btn-avec-vagas:hover {
  background-color: #32a8b5 !important;
  border-color: rgba(0, 0, 0, 0.15);
  color: white;
}

a.btn-avec-primary:before,
a.btn-avec-success:before,
a.avec-link-login:before {
	border-top: none !important;
}

.btn-avec-primary {
  background-color: #a6b3c2 !important;
  border-color: rgba(0, 0, 0, 0.1);
  color: #f1f1f1 !important;
  -webkit-transition: all .05s linear;
       -o-transition: all .05s linear;
          transition: all .05s linear;
}

.btn-avec-primary:hover {
  background-color: #91979e !important;
  border-color: rgba(0, 0, 0, 0.15);
  color: white;
}

.btn-avec-secundary:hover {
  background-color: #32A8B5 !important;
}

.col-md-offset-1 {
    margin-left: 0%;
    text-align: justify;
}

.col-md-offset-2 {
    text-align: justify;
}


.btn-avec-primary:focus,
.btn-avec-primary.focus,
.btn-avec-primary:active,
.btn-avec-success:active:hover,
.btn-avec-primary:active:focus,
.btn-avec-primary.active,
.btn-avec-primary.active:hover,
.btn-avec-primary.active:focus {
  background: #91979e;
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.125);
  outline: none;
}


.btn-avec-success {
  background-color: #40c0cf !important;
  border-color: rgba(0, 0, 0, 0.1);
  color: #f1f1f1 !important;
  -webkit-transition: all .05s linear;
       -o-transition: all .05s linear;
          transition: all .05s linear;
}

.btn-avec-success:hover {
  background-color: #32a8b5 !important;
  border-color: rgba(0, 0, 0, 0.15);
  color: white;
}

.btn-avec-success:focus,
.btn-avec-success.focus,
.btn-avec-success:active,
.btn-avec-success:active:hover,
.btn-avec-success:active:focus,
.btn-avec-success.active,
.btn-avec-success.active:hover,
.btn-avec-success.active:focus {
  background: #32a8b5;
  border-color: rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.125);
  outline: none;
}

.btn-avec-cadastrar:hover {
  background-color: #DDE6EE !important;
}

.avec-menu-item {
	text-align:center;
	margin: 0px 8px 0px 0px;
}

h1.avec-home-app {
	color: #3e4c5b;
	display: block;
	margin-bottom: 40px !important;
	font-weight: 300 !important;
	white-space: normal;
}

h1.avec-home-app:before {
	background: none !important;
}

h1.avec-home-app:after {
	background: none !important;
	content: none;
}

.stylish-input-group {
	background-color: #fff;
}

.stylish-input-group .input-group-addon{
    background: #fff !important;
    border-radius: 0 46px 46px 0;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
	border-radius: 46px 0px 0px 46px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.avec-search-results .stylish-input-group {
	border-radius: 50px;
	border: 1px solid #fff;
}

.interest_area {
	background-color: #f7fafd;
	padding-top: 30px;
}

.interest_area h2 {
	color: #a7b4c3;
}

.interest_area h4 {
	color: #a7b4c3;
}
.avec-ft-list {
	padding-top: 30px;
}

.avec-ft-list li {
	color: #3e4c5b;
	font-size: 17px;
	padding: 0px;
}

.avec-ft-list li:before {
	color: #fff;
}

.avec-ft-list li:nth-child(odd):before {
	color: #40c0cf;
}

.avec-ft-list li:nth-child(odd) {
	font-weight: bold;
	padding-top: 12px;
}

.avec-ft-produtos-list li {
	font-size: 18px;
	text-align: center;
}

.avec-ft-produtos-list li:nth-child(odd) {
	font-size: 23px;
	text-align: center;
	font-weight: normal;
}

.avec-ft-produtos-list {
	border: 1px solid #dde6ee;
    padding: 70px 68px 75px  68px;
    border-radius: 8px;
}

.avec-ft-produtos-list > li:before {
    content: "\f140";
    font-size: 24px;
}

.avec-ft-produtos-list li:nth-child(odd):before {
	font-size: 23px;
}

span.avec-produtos-icon-description {
	display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 54px;
    margin-bottom: 35px;
}

span.avec-produtos-icon-description i {
	color: #3dc1d0;
	font-size: 36px;
}

.avec-produtos-title-description {
	width: 100%;
	display: inline-block;
	color: #3e4c5b;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 27px;
}

.avec-produtos-content-description {
	color: #3e4c5b;
    font-size: 18px;
	text-align: center;
}

.avec-relevant-section {
	background-color: #f7fafe;
}

.avec-relevant-data-row {
	color: #3e4c5b !important;
}

.avec-relevant-data-row .index-3-features-2__heading {
	width: 290px;
	font-size: 18px;
	margin-top: 0px;
  margin-bottom: 0px;
  line-height: 27px;
  letter-spacing: -0.7px;
}

.avec-relevant-data-row a.avec-icon-link .index-3-features-2__icon {
	background-color: #61788e;
	vertical-align: top;
}

.avec-relevant-data-row a.avec-icon-link h4.index-3-features-2__heading {
	color: #61788e;
}

.avec-relevant-data-row a.avec-icon-link h4.index-3-features-2__heading:hover {
	/*color: #3dc1d0 !important;*/
	text-decoration: none;
}

.avec-relevant-data-row a.avec-icon-link div.index-3-features-2__content {
	color: #61788e;
	text-decoration: none !important;
  letter-spacing: -0.5px;
  font-size: 13px;
}


.avec-relevant-data-row a.avec-icon-link:hover {
	text-decoration: none;
}

.avec-relevant-data-row a.avec-icon-link div.index-3-features-2__content:hover {
	/*color: #3dc1d0 !important;*/
	text-decoration: none;
	text-decoration-style: none;
}

.pricing-option, .pricing-option__inner {
	border-radius: 4px;
}

.index-3-features-2__icon:hover {
	text-decoration: none;
}

.index-3-features-2__content span {
	text-decoration: none;
	text-decoration-style: none;
}

.avec-icon-chart {
	min-height: 100px;
}

.btn-avec-secundary {
	width: 100px;
}



.avec-relevant-data-row .index-3-features-2__icon:hover {
	background-color: #3dc1d0 !important;
}

.avec-icon-pie-chart {
	vertical-align: top;
}

.avec-icon-area-chart {
	background-color: #999999 !important;
	vertical-align: top;
}

.index-3-features-2__content {
  /*  margin-left: 52px;*/
}

.price-table-item {
	background-color: #dde6ee;
}

.price-table-item .home-app-pricing__item {
	margin: 20px;
	padding: 40px 0px;
    background-color: #fff;
}

.home-app__pricing .price-table-item:not(:last-child) {
	margin-right: 20px;
}

.avec-icon-bolt {
    width: 54px;
    height: 46px;
    line-height: 54px;
    position: absolute;
    background-color: transparent;
}

.avec-icon-bolt i {
	font-size: 22px;
}

.avec-icon-bg-bolt {
	width: 81px;
	height: 83px;
	position: absolute;
	overflow: hidden;
	background-color: transparent;
}

.avec-icon-bg-bolt:before {
	content: '';
    position: absolute;
    left: -97px;
    width: 187%;
    height: 175%;
    background-color: transparent;
    background-color: rgba(61, 193, 208, 1);
    top: -73px;
    -webkit-transform: rotate(133deg);
    -moz-transform: rotate(133deg);
    transform: rotate(133deg);
}

.home-app-pricing__price {
	background-color: #f7fafe;
	color: #3dc1d0;
}

.home-app-pricing__content {
	border-bottom: 2px solid #dde6ee;
	margin-bottom: 0px;
    padding-bottom: 10px;
  */color: #3e4c5b  ;*/
}

.home-app-pricing__extra {
	border-bottom: 2px solid #dde6ee;
	margin-bottom: 0px;
    padding: 15px 10px;
}

.home-app-pricing__bottom_extra {
	border-bottom: none;
}

.plans__item--no-selected {
	color: #dde6ee;
	text-decoration: line-through;
}

.footer__item span {
	color: #3e4c5b;
}

.footer-item__content p {
    margin-bottom: 20px;
}

.footer-item__content a {
	color: #3e4c5b;
}

.footer-item__content a:hover, a:focus {
    color: #3dc1d0;
}

#autocomplete {
	margin: 17px 0px 17px 17px;
	font-size: 16px;
	width: 97%;
	border: none;
}

.avec-input-group-addon {
	padding-right: 0px;
	border: none;
}

.btn-search-data {
	margin: 0 5px; padding: 22px !important;
}

.avec-title-home-app {
	color: #3E4C5B;
	font-size: 44px;
}

.avec-subtitle-home-app {
	color: #3E4C5B;
	font-size: 23px;
}

.avec-title-nosso-time-gross{
  color: #3E4C5B !important;
	font-family: 'Lato', sans-serif;
  font-weight: 300;
	font-size: 44px !important;
}

.avec-title-nosso-time {
	color: #3E4C5B !important;
	font-family: 'Lato-Light', sans-serif;
	font-size: 18px !important;
  letter-spacing: -0.5px;
}

.avec-index-3-features-2__content {
	color: #3E4C5B !important;
	font-size: 17px;
}

.avec-container {
	position: fixed !important;
	background-color: #fff;
	opacity: 0.9;
	padding: 0px
}

.section_centered .row {
	height: 20%;
}

.home-app__container > .section:first-child {
    margin-top: -15px;
}

.avec-navbar-left {
	width: 375px;
	float: left;
}

.avec-navbar-right {
	width: 337px;
	float: right;
}

.avec-dropdown{
    color: #61788E !important;
}

.avec-menu-nav-right {
	width: 550px !important;
    float: none !important;
    margin: 0px auto;
}

.avec-navbar-center {
	width: 62%;
	display: inline-block;
	float: none;
}

.item-assuntos {
	width: 100%;
}

.investidores-img {
	width: 300px;
	height: 300px;
	margin: 0px 26px;
}

footer {
    background-color: #f7fafe;
}

.avec-linkedin img.avec-center-block:hover {
	opacity: 0.2;
	cursor: pointer;
}

.avec-linkedin i {
	width: 100%;
	position: absolute;
	padding: 50% 0px;
    color: #3E4C5B;
    left: 0;
    visibility: hidden;
}

.avec-linkedin i span {
	font-family: 'Lato', sans-serif;
}

.avec-linkedin:hover i {
	visibility: visible;
}

.avec-icon-quemsomos {
	font-size: 46px;
	color: #3dc1d0;
	display: block;
}

span.avec-nome-colaborador {
	color: #3E4C5B;
	font-size: 20px;
}

p.avec-cargo-colaborador {
	color: #8091A4;
	font-size: 13px;
}

.avec-index-3-features-2__heading {
	font-weight: bold;
	margin-bottom: 10px;
}

.footer__copyright {
	font-family: 'Lato-Light', sans-serif;
	font-size: 12px;
}

.footer__social > li > a {
    background-color: #DDE5EE;
}

.contaniner-pagamento > .section:first-child::before {
    background-color: #dde6ee;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.avec-pagamento-title {
	font-family: 'Lato', sans-serif;
	color: #3e4c5b;
	font-weight: 300;
	font-size: 36px;
	margin: 0px;
}

.avec-plain-selected {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	width: 100%;
	padding: 15px 25px;
    font-size: 23px;
    display: inline-block;
    color: #3e4c5b;
    background-color: #fff;
}

.avec-plain-selected i {
	float: right;
    margin-top: 10px;
    color: #3dc1d0;
}

.avec-pagamento-service-list {
	margin: 24px 6px;
    font-size: 18px;
}

ul.avec-pagamento-service-list li {
	list-style-type: none;
	margin-bottom: 10px;
}

.avec-pagamento-informacoes-footer {
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0px 30px;
    width: 360px;
    display: block;
}

.avec-form-control {
	line-height: 45px;
    font-size: 18px;
    height: 53px;
    background-color: #fff !important;
    border-radius: 4px;
}

.avec-pagamento-link-back a {
	color: #3e4c5b;
}

.avec-pagamento-link-back i {
	margin-right: 10px;
}

@media (max-width: 768px) {
	h1.avec-title-home-app {
	    font-size: 32px;
	}


	/* .home-app__pricing .row > div[class*="col-"] {
	    margin: 0px auto;
	} */
}

@media (min-width: 768px) {


	.navbar-nav > li > .dropdown-menu:before, .dropdown-submenu > .dropdown-menu:before {
	    border-top: none;
	}

	.section > .avec-section__inner {
		padding: 55px 0 80px 0 !important;
	}

	.section-quemsomos > .section__inner {
	    padding: 100px 0 !important;
	}

	.section-produtos > .section__inner {
	    padding: 100px 0 !important;
	}



}


@media screen and (min-width: 1600px) {


	.navbar > .avec-container {
		width: 100%;
		/* padding: 0px 244px; */
	}

	.home-app__pricing .row > .price-table-item {
		width: 267px;
	}

	.navbar > .avec-container {
		width: 100%;
		/* padding: 0px 400px; */
	}

	.price-table-item {
		width: 267px;
	}
	/*
	.avec-menu-plains {
		width: 62%;
	} */

	.avec-navbar-center {
		width: 62%;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {


	.navbar > .avec-container {
		width: 100%;
		padding: 0px 5px;
	}

	.price-table-item {
		width: 329px;
		margin: 10px 96px;
	}

	.avec-navbar-center {
		width: 46%;
	}

	.avec-navbar-right {
	    width: 344px;
	}

	.avec-btn-nav-right {

	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.navbar > .avec-container {
		width: 100%;
		padding: 0px 15px;
	}

	.home-app__pricing .row > .price-table-item {
		width: 329px;
    	margin: 10px 23px;
	}

	.avec-navbar-center {
		width: 42%;
	}

	.avec-navbar-left {
	    width: 237px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .form-register-avec{
    width: 100% !important;
  }

	.navbar > .avec-container {
		width: 96%;
		padding: 0px;
	}

	/* .navbar-nav > li.avec-menu-subscription {
		display: none;
	} */

	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	    margin-left: 5px;
	}

	.home-app__pricing .row > .price-table-item {
		width: 329px;
    	margin: 10px 23px;
	}

	.avec-navbar-center {
		width: 48%;
	}

	.avec-navbar-left {
	    width: 125px;
	}

	.avec-navbar-right {
	    width: 200px;
	}
}

@media screen and (min-width: 321px) and (max-width: 420px) {
	.navbar > .avec-container {
		width: 100%;
		padding: 0px 0px;
	}

  .form-register-avec{
    width: 100% !important;
  }

	.avec-navbar-left {
	    width: 100%;
	    float: none;
	    margin-left: -5px !important;
	}

	.avec-navbar-center li.dropdown {
		width: 100%;
	}

	.avec-navbar-center li.avec-menu-item {
		width: 100%;
	}

	.avec-navbar-center li.dropdown a {
		text-align: center;
	}

}

@media screen and (max-width: 320px) {

  .form-register-avec{
    width: 100% !important;
  }

  .avec-btn-facebook, .avec-btn-google-plus{
      width: 90% !important;
  }

	.home-app__pricing .row > .price-table-item {
		width: 267px;
		margin: 10px 27px;
	}

	.navbar > .avec-container {
		width: 100%;
	}

	.avec-navbar-left {
	    width: 100%;
	    float: none;
	    margin-left: -5px !important;
	}

	.avec-navbar-center li.dropdown {
		width: 320px;
	}

	.avec-navbar-center li.avec-menu-item {
		width: 320px;
	}

	.avec-navbar-center li.dropdown a {
		text-align: center;
	}
  .avec-foto{

      width: 100% !important;

  }
}

.avec-permission{
    padding: none;
    border: none;
    outline: none;
}

.avec-permissao-form__title{
  color: #ffffff;
  font-family: 'Lato', sans-serif;
	font-size: 18px !important;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
}

.avec-permission-login{
  width: 100%;
  font-size: 18px;
}

.form-control{
     border:0 solid transparent;
     background:transparent;
}

.input-group-addon{
  border: 0 solid transparent;
  background:transparent;

}

.input-group-avec-user{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius : 5px;
}

.input-group-avec-password{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-group-avec{
    height: 33px;
    margin-bottom: 0px;
}

 .fa-icon-avec{
   color: #cfd8e3;
 }

.avec-crie-conta{
    color: #3e4c5b;
    font-family: 'Lato', sans-serif;
    font-size: 18px !important;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

.avec-forgot-password{
  color: #3e4c5b;
  font-family: 'Lato', sans-serif;
  font-size: 13px !important;
  font-weight: 300;
  float: right !important;
  letter-spacing: -0.5px;
}

.avec-remember-me{
  color: #3e4c5b;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px !important;
  float: left !important;
  letter-spacing: -0.5px;
}

.checkbox-avec{
  padding-bottom: 30px;
}

.avec-acesso-completo-title{
  color: #3e4c5b;
  font-family: 'Lato', sans-serif;
  font-size: 24px !important;
  font-weight: 300;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.avec-acesso-completo-content{
  color: #3e4c5b;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding-top: 0px;
}

.avec-acesso-completo-content2{
  color: #3dc1d0 !important;
  text-align: center;
  font-size: 20px !important;
  margin-bottom : 0px !important;
}

.avec-award2{

}


.avec-register{
    padding: none;
    border: none;
    outline: none;
}

.avec-register-title {
	text-align: center;
  border-bottom: none !important;
  padding-top: 15px;
  padding-bottom: 30px;
}

.avec-btn-facebook, .avec-btn-google-plus{
  width: 60%;
}

.avec-row-social{
  text-align: center;
}

.avec-possui-conta{
  text-align: -moz-center;
  padding-top: 20px;
}

.avec-possui-conta-Fa {
  font-family: Lato;
  font-size: 16px;
  line-height: 2.81;
  letter-spacing: -0.4px;
  text-align: center;
  color: #8091a4;
  color: var(--blue-grey);
}

.avec-possui-conta-Fa .avec-text-style-1 {
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #3dc1d0 !important;
  color: var(--TurqAvec);
}

.input-group-avec-user-register{
    width: 100%;
    height: inherit !important;
    border-radius: 5px;
}

.avec-register-input{
    height: inherit !important;
}

.form-group-avec-register{
  width: 100%;
  height: 54px !important;
  padding-bottom: 10px !important;
}

.avec-terms-agree{
  font-size: 13px;
}
