body{
	font-family: 'Lato', light;
}

a:hover {
     text-decoration: none;!important;
}

.chart-wrapper .chart-title {
    color: black !important;
    font-weight: 300 !important;
}

.home-features-item__content > h4 > a{
    color: #3e4c5b !important;
	font-family: Lato Light !important;
	font-size: 18px;
	letter-spacing: -0.7px;
	text-align: center;
	color: #3e4c5b;
}

.home-features-item__content p {
	font-family: Lato light !important;
	font-size: 13px;
	color: #8091a4;
}



.topic .avec-h3 {
    font-size: 33px;
	  color: #3e4c5b;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-top: 21px;
    font-family: Lato light !important;
}

.breadcrumb > .avec-active {
    color: #a7b4c3;
}

.panel-default > .panel-heading {
	color: #3e4c5b;!important;
}

.btn-search, .avec-btnP, .avec-btn {
  background-color: #40c0cf !important;
  border-color: rgba(0, 0, 0, 0.1);
}

.btn-search:hover , .avec-btnP:hover, .avec-btn:hover {
    background-color: #32a8b5 !important;
    border-color: rgba(0, 0, 0, 0.15);
    color: white;
}

.fa-avec{
  width: 40px !important;
  height: 40px !important;
  border-radius: 4px !important;
  background-color: #61788e !important;
  line-height: 40px !important;
}

.nocontent {
    font-size: 13px;
font-family: Lato light !important;
}

.nocontent-div {
    text-align: center;
    color: rgb(207, 217, 226);
}

.fa-avec-exclamation{
  font-size: 40px;
}

.avec-headline >span {
  font-size: 20px;
  color : #3e4c5b;
  font-family: Lato light !important;
}

.avec-info{
  color: #a7b4c3;
  font-family: Lato light !important;
}
