
.footer {
    bottom: 0;
    width: 100%;
    height: auto;
}

.avec-content {
    min-height: calc(100vh - 144px);
}

.services-detail__content {
	padding: 0px;
}

.services-detail h6,
.services-detail p {
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.avec-services-title {
	width: 359px;
	line-height: 28px;
    height: 27px;
    display: inline-block;
    padding-bottom: 15px;
}

.services-retrato h6 {
	font-family: "Open Sans", sans-serif;
    color: #000;
}

.services-retrato p {
	font-family: "Open Sans", sans-serif;
}

.avec-services-messagem {
	font-family: "Open Sans", sans-serif;
}

.avec-services-retrato {
	width: 100%;
	padding: 50px 50px !important;
    max-height: 300px;
    min-height: 300px;
}

.bg-danger {
    background-color: #d9534f!important;
    color: #f1f1f1;
}

.avec-quotes-content-message {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	font-size: 40px;
}

.services-detail__title {
	width: 100%;
    font-size: 33px;
}


.services-retrato__title {
	width: 100%;
    font-size: 33px;
}

.avec-services-content-right {
	text-align: left;
}

.avec-form-separator {
	border-bottom: 1px solid #e5e5e5 !important;
    margin: 0px 0px 20px 0px !important;
    padding-bottom: 10px !important;
}

.avec-form-separator .plans__item {
	padding: 5px 0px !important;
}

.dropdown-user-menu li a {
	display: inline-block !important;
	padding-left: 10px;
}

.j-calltoaction-link:hover {
	color: #f1f1f1 !important;
	text-decoration: none;
    background-color: #286090;
    border-color: #3e5881;
}

.j-calltoaction-link-register {
	background-color: #1ab198 !important;
    border: none !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);
}

#paypal, .page-header {
	text-align:center !important;
}

.breadcrumb {
	margin-top: 31px;
}

.plans {
    padding: 50px 0px;
}

input[type=checkbox].cb-avec:hover {
	cursor: pointer;
}

input[type=radio].rd-avec,
input[type=checkbox].cb-avec {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].rd-avec ~ label:before,
input[type=checkbox].cb-avec ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #1e2938;
    width: 1.4em;
}

input[type=radio].rd-avec:checked ~ label:before,
input[type=checkbox].cb-avec:checked ~ label:before  {
    content: "\f058";
    font-size: 1.2em;
    color: #1e2938;
    letter-spacing: 5px;
}
input[type=checkbox].cb-avec ~ label:before {        
    content: "\f096";
    cursor: pointer;
}
input[type=checkbox].cb-avec:checked ~ label:before {
    content: "\f14a";        
    color: #1e2938;
}
input[type=radio].rd-avec:focus ~ label:before,
input[type=checkbox].cb-avec:focus ~ label:before,
input[type=radio].rd-avec:focus ~ label,
input[type=checkbox].cb-avec:focus ~ label
{                
    color: #1e2938;
}

.cb-avec-content {
	height: 50px;
}

 .cb-avec-content label {
	background: #fff;
    color: #1e2938;
    font-size: 1em;
    margin-bottom: 0px;
    background-color: transparent;
}

.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {
    opacity: .6;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    font-size: 16px !important;
}

/* .header .navbar-default .navbar-nav>li>a {
    color: #f1f1f1;
} */

.header__navbar--fixed .header__menu-item:not(.btn) {
    color: #fff!important;
}

.form-group-avec {
	height: 65px;
	margin-bottom: 10px;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-webapp.card {
    padding: 34px 16px;
}

.card-webapp.card span  {
	width: 100%;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #1e2938;
	font-size: 22px;
    display: block;
    margin-bottom: 20px;
}

.card-webapp.card hr  {
	margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 0;
    border-top: 1px solid #1e2938;
}

.avec-login-title {
	text-align: center;
}

.avec-login-logo {
	text-align: center;
}

.avec-login-logo i {
	font-size: 5em;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: #434343;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: #1e2938;
}

.btn-default {
    color: #333 !important;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #3071a9 !important;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff !important;
  background-color: #31b0d5 !important;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-success-avec {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success-avec:focus,
.btn-success-avec.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success-avec:hover {
  color: #fff;
  background-color: #449d44 !important;
  border-color: #398439 !important;
}
.btn-success-avec:active,
.btn-success-avec.active,
.open > .dropdown-toggle.btn-success-avec {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success-avec:active:hover,
.btn-success-avec.active:hover,
.open > .dropdown-toggle.btn-success-avec:hover,
.btn-success-avec:active:focus,
.btn-success-avec.active:focus,
.open > .dropdown-toggle.btn-success-avec:focus,
.btn-success-avec:active.focus,
.btn-success-avec.active.focus,
.open > .dropdown-toggle.btn-success-avec.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success-avec:active,
.btn-success-avec.active,
.open > .dropdown-toggle.btn-success-avec {
  background-image: none;
}
.btn-success-avec.disabled:hover,
.btn-success-avec[disabled]:hover,
fieldset[disabled] .btn-success-avec:hover,
.btn-success-avec.disabled:focus,
.btn-success-avec[disabled]:focus,
fieldset[disabled] .btn-success-avec:focus,
.btn-success-avec.disabled.focus,
.btn-success-avec[disabled].focus,
fieldset[disabled] .btn-success-avec.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success-avec .badge {
  color: #5cb85c;
  background-color: #fff;
}

.avec-form-group div:last-child {
	padding-left: 5px;
}

input[readonly] {
  cursor: not-allowed;
  pointer-events: all !important;
}

.text-danger {
    color: #a94442 !important;
}

.avec_plans {
	margin-left: 20px; 
}

@media screen and (max-width: 768px) {
  
  	.avec-services-retrato {
	    padding: 50px 7px !important;
	}
	
	.services-retrato p {
	    width: 100%;
	    text-align: justify;
	}
	
	.services-retrato__group {
	    display: none;
	}
	
	.avec-services-title {
		width: 100%;
    	padding: 20px;
    	line-height: 34px;
	}
	
	.avec-services-content-right {
		padding-bottom: 20px;
	}
	
	.services-retrato__general {
	    padding-bottom: 15px;
	}
	
	.services-mensagem__description {
	    width: 100%;
	    font-size: 1.2em;
	}
}