
.footer {
    bottom: 0;
    width: 100%;
    height: auto;
}

.avec-content {
    min-height: calc(100vh - 144px);
}

.services-detail__content {
	padding: 0px;
}

.services-detail h6,
.services-detail p {
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.avec-services-title {
	width: 359px;
	line-height: 28px;
    height: 27px;
    display: inline-block;
    padding-bottom: 15px;
}

.services-retrato h6 {
	font-family: "Open Sans", sans-serif;
    color: #000;
}

.services-retrato p {
	font-family: "Open Sans", sans-serif;
}

.avec-services-messagem {
	font-family: "Open Sans", sans-serif;
}

.avec-services-retrato {
	width: 100%;
	padding: 50px 50px !important;
    max-height: 300px;
    min-height: 300px;
}

.bg-danger {
    background-color: #d9534f!important;
    color: #f1f1f1;
}

.avec-quotes-content-message {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	font-size: 40px;
}

.services-detail__title {
	width: 100%;
    font-size: 33px;
}


.services-retrato__title {
	width: 100%;
    font-size: 33px;
}

.avec-services-content-right {
	text-align: left;
}

.avec-form-separator {
	border-bottom: 1px solid #e5e5e5 !important;
    margin: 0px 0px 20px 0px !important;
    padding-bottom: 10px !important;
}

.avec-form-separator .plans__item {
	padding: 5px 0px !important;
}

.dropdown-user-menu li a {
	display: inline-block !important;
	padding-left: 10px;
}

.j-calltoaction-link:hover {
	color: #f1f1f1 !important;
	text-decoration: none;
    background-color: #286090;
    border-color: #3e5881;
}

#paypal, .page-header {
	text-align:center !important;
}

.breadcrumb {
	margin-top: 31px;
}

.plans {
    padding: 50px 0px;
}

input[type=checkbox].cb-avec:hover {
	cursor: pointer;
}

input[type=radio].rd-avec,
input[type=checkbox].cb-avec {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].rd-avec ~ label:before,
input[type=checkbox].cb-avec ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #1e2938;
    width: 1.4em;
}

input[type=radio].rd-avec:checked ~ label:before,
input[type=checkbox].cb-avec:checked ~ label:before  {
    content: "\f058";
    font-size: 1.2em;
    color: #1e2938;
    letter-spacing: 5px;
}
input[type=checkbox].cb-avec ~ label:before {        
    content: "\f096";
    cursor: pointer;
}
input[type=checkbox].cb-avec:checked ~ label:before {
    content: "\f14a";        
    color: #1e2938;
}
input[type=radio].rd-avec:focus ~ label:before,
input[type=checkbox].cb-avec:focus ~ label:before,
input[type=radio].rd-avec:focus ~ label,
input[type=checkbox].cb-avec:focus ~ label
{                
    color: #1e2938;
}

 .cb-avec-content label {
	background: #fff;
    color: #1e2938;
    font-size: 1em;
    margin-bottom: 0px;
    background-color: transparent;
}

.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg {
    opacity: .6;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    font-size: 16px !important;
}

/* .header .navbar-default .navbar-nav>li>a {
    color: #f1f1f1;
} */

.header__navbar--fixed .header__menu-item:not(.btn) {
    color: #fff!important;
}

.form-group-avec {
	margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  
  	.avec-services-retrato {
	    padding: 50px 7px !important;
	}
	
	.services-retrato p {
	    width: 100%;
	    text-align: justify;
	}
	
	.services-retrato__group {
	    display: none;
	}
	
	.avec-services-title {
		width: 100%;
    	padding: 20px;
    	line-height: 34px;
	}
	
	.avec-services-content-right {
		padding-bottom: 20px;
	}
	
	.services-retrato__general {
	    padding-bottom: 15px;
	}
	
	.services-mensagem__description {
	    width: 100%;
	    font-size: 1.2em;
	}
}