{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}

{% block content %}
    <head>
        <title>Django Chartit - Welcome!</title>
        {% load static %}
        <link rel="stylesheet" href="{% get_static_prefix %}home/css/960.css" type="text/css" />
        <link rel="stylesheet" href="{% get_static_prefix %}home/css/screen.css" type="text/css" />
        <!--[if IE]>
        <link rel="stylesheet" href="{% get_static_prefix %}home/css/ie.css" type="text/css" />
        <![endif]-->
        <link rel="stylesheet" href="{% get_static_prefix %}home/css/project.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
        <script src="{% static 'js/highcharts/highcharts.js' %}" type="text/javascript"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="{% static 'js/highcharts/themes/light.js' %}" type="text/javascript"></script>

          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        {% load chartit %}
        {{ chart_list|load_charts:"chart_1, chart_2" }}<!--Addthis-->
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e5690690cf94ece"></script>
        <!--Disqus-->
        <script type="text/javascript">
            var disqus_shortname = 'django-chartit'; (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

        </script>
        <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
    </head>
      <div class="row">
        <div class="projectImage col-sm-6" id="chart_1" style="width:400px; height:350px"></div>
        <div class="projectImage col-sm-6" id="chart_2" style="width:400px; height:350px"></div>
      </div>

{% endblock %}
