{% extends 'avec/base_dashboard.html' %}
{% load staticfiles %}
{% block content %}
<html>
<title>Candidatos à Doação</title>
  <title>Layouts</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>AVEC - Ciencia de dados</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />		

	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/keen-dashboards.css' %}" />
	<link rel="stylesheet" href="{% static 'css/dc.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}"/>	  
	
	    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>	
	<script type="text/javascript"src="https://www.amcharts.com/lib/3/pie.js"></script>	
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>		
	<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.js' %}"></script>	
	
	<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/crossfilter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dc2.js' %}"></script>		
	
	
<style>

	#chart-06,  #chart-07,  #chart-08,  #chart-09{
        background: #899296;
        width: 100%;
        font-size: 64px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 100px;
        height: 40px;
        line-height: normal;
		margin-bottom: 15px;
      }
	  
	  #chartdiv1, #chartdiv2, #chartdiv3, #chartdiv4, #chartdiv5, #chartdiv6, #chartdiv7, #chartdiv8 {
		width: 100%;
		height: 300px;
	  }

#dc-cpty-chart svg g .axis.x .tick {
    display: none;
}

pre {display:none;}

#chartdata table {
  width: 100%;
}

#chartdata table th, #chartdata table td {
  text-align: center;
  padding: 5px 7px;
}

#chartdata table th {
  background: #999;
  color: #fff;
}

#chartdata table td {
  border-bottom: 1px solid #eee;
}

#chartdata table td.row-title {
  font-weight: bold;
}

</style>
<body>

<div class="title_sec">
		<div class="internal__row">
			<h1 class="internal__title">Candidatos à Doação</h1>
		</div>
</div>	

 <div class="container-fluid" style = "padding-top:20px;">

    <div class="row">
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Filtros
          </div>
          <div class="chart-stage" style="padding-bottom:20px; padding-top:20px;">
		  	  <div class="col-sm-3">
			      <h4>Selecionar Local</h4>
				  <div id="menuselect0" style="float:left;"></div>
			  </div>			  
			  <div class="col-sm-3">
				  <h4>Selecionar Período</h4>
				  <div id="menuselect3" style="float:none;"></div>
			  </div>		  			  
          </div>
          <div class="chart-notes" >
            Notes about this chart
          </div>

        </div>
		
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Sexo
          </div>
          <div class="chart-stage">
			  <div id="chartdiv1"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
	        <div class="col-sm-4">
        <div class="chart-wrapper" id="graph">
          <div class="chart-title">
            Faixa Etária
          </div>
          <div class="chart-stage">
			  <!--<h4>Teste</h4>-->
			  <div id="chartdiv2"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Estado Civil
          </div>
          <div class="chart-stage">
			  <div id="chartdiv3"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

    </div>

    <div class="row">
            <div class="col-sm-4">
        <div class="chart-wrapper" id="graph">
          <div class="chart-title">
            Tipo de Doação
          </div>
          <div class="chart-stage">
			  <!--<h4>Teste</h4>-->
			  <div id="chartdiv4"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Tipo de Doador
          </div>
          <div class="chart-stage">
			  <div id="chartdiv5"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
	        <div class="col-sm-4">
        <div class="chart-wrapper" id="graph">
          <div class="chart-title">
            Município de Residência
          </div>
          <div class="chart-stage">
			  <!--<h4>Teste</h4>-->
			  <div id="chartdiv6"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>
	
	<div class="row">
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Tipo de Doador
          </div>
          <div class="chart-stage">
			  <div id="chartdata"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
	</div>


  </div>

</body>
<script>
AmCharts.addInitHandler(function(chart1) {

  // check if export to table is enabled
  if (chart1.dataTableId === undefined)
    return;

  // get chart data
  var data = chart1.dataProvider;

  // create a table
  var holder = document.getElementById(chart1.dataTableId);
  var table = document.createElement("table");
  holder.appendChild(table);
  var tr, td;

  // add first row
  for (var x = 0; x < chart1.dataProvider.length; x++) {
    // first row
    if (x == 0) {
      tr = document.createElement("tr");
      table.appendChild(tr);
      td = document.createElement("th");
      td.innerHTML = chart1.categoryAxis.title;
      tr.appendChild(td);
      for (var i = 0; i < chart1.graphs.length; i++) {
        td = document.createElement('th');
        td.innerHTML = chart1.graphs[i].title;
        tr.appendChild(td);
      }
    }

    // add rows
    tr = document.createElement("tr");
    table.appendChild(tr);
    td = document.createElement("td");
    td.className = "row-title";
    td.innerHTML = chart1.dataProvider[x][chart1.categoryField];
    tr.appendChild(td);
    for (var i = 0; i < chart1.graphs.length; i++) {
      td = document.createElement('td');
      td.innerHTML = chart1.dataProvider[x][chart1.graphs[i].valueField];
      tr.appendChild(td);
    }
  }

}, ["serial"]);


/**
 * Define source data
 */
var sourceData = [ {
  "employee": "Maringá",
  "salary": 150000,
  "position": "Coleta"
}, {
  "employee": "Arapongas",
  "salary": 125000,
  "position": "Coleta"
}, {
  "employee": "Curitiba",
  "salary": 135000,
  "position": "Coleta"
}, {
  "employee": "Maringá",
  "salary": 145000,
  "position": "Transfusão"
}, {
  "employee": "Curitiba",
  "salary": 101000,
  "position": "Transfusão"
}, {
  "employee": "Londrina",
  "salary": 89000,
  "position": "Transfusão"
}, {
  "employee": "Londrina",
  "salary": 112000,
  "position": "Triagem"
}, {
  "employee": "Curitiba",
  "salary": 98000,
  "position": "Triagem"
}, {
  "employee": "Arapongas",
  "salary": 88000,
  "position": "Triagem"
}, {
  "employee": "Maringá",
  "salary": 85000,
  "position": "Triagem"
}, {
  "employee": "Maringá",
  "salary": 95000,
  "position": "Rejeitado"
}, {
  "employee": "Curitiba",
  "salary": 91000,
  "position": "Rejeitado"
}, {
  "employee": "Londrina",
  "salary": 75000,
  "position": "Rejeitado"
} ];

/**
 * Set up colors for each of the position
 */
var positionColors = {
  "Coleta": "#67b7dc",
  "Transfusão": "#fdd400",
  "Triagem": "#84b761",
  "Rejeitado": "#cc4748"
};

function lowercase( string ) {
  return string.toLocaleLowerCase();
}

function contains( string, value ) {
  return string.indexOf( value ) !== -1;
}

/**
 * Function that checks which data is selected and generates a new data set
 */
function getFilteredData() {
 /* var name = lowercase( document.getElementById( "filter-name" ).value );

  var filters = {};

  // get all filter checkboxes
  var fields = document.getElementsByClassName( "filter-position" );
  for ( var i = 0; i < fields.length; i++ ) {
    if ( fields[ i ].checked ) {
      filters[ fields[ i ].value ] = true;
    }
  }

  // init new data set
  var newData = [];

  // cycle through source data and filter out required data points
  for ( var i = 0; i < sourceData.length; i++ ) {
    var dataPoint = sourceData[ i ];

    if ( filters[ dataPoint.position ] &&
         contains( lowercase( dataPoint.employee ), name ) ) {
      newData.push( {
        "employee": dataPoint.employee,
        "salary": dataPoint.salary,
        "position": dataPoint.position,
        "color": positionColors[ dataPoint.position ]
      } );
    }
  }*/
  var newData = [];
	
  for ( var i = 0; i < sourceData.length; i++ ) {
    var dataPoint = sourceData[ i ];

      newData.push( {
        "employee": dataPoint.employee,
        "salary": dataPoint.salary,
        "position": dataPoint.position,
        "color": positionColors[ dataPoint.position ]
      } );

  }

  // return new data set
  return newData;

}

/**
 * Function which applies current filters when invoked
 */
function applyFilters() {
  var data = getFilteredData();

  // update chart data
  chart1.dataProvider = data;
  chart2.dataProvider = data;
  chart1.validateData();
  chart2.validateData();
}

/**
 * Create chart
 */
var chart1 = AmCharts.makeChart( "chartdiv1", {
  "type": "serial",
  "dataProvider": sourceData,
  "dataTableId": "chartdata",
  "graphs": [ {
    "fillAlphas": 0.9,
    "lineAlpha": 0.2,
    "lineColorField": "color",
    "fillColorsField": "color",
    "type": "column",
    "valueField": "salary",
    "balloonText": "[[category]] ([[position]])<br><span style='font-size: 150%;'>$[[value]]</span>"
  } ],
  "categoryField": "employee",
  "valueAxes": [{
    "title": "Annual salary (US$)"
  }],
    "export": {
    "enabled": true
  }
} );


var chart2 = AmCharts.makeChart( "chartdiv2", {
  "type": "serial",
  "dataProvider": sourceData,
  "graphs": [ {
    "fillAlphas": 0.9,
    "lineAlpha": 0.2,
    "lineColorField": "color",
    "fillColorsField": "color",
    "type": "column",
    "valueField": "salary",
    "balloonText": "[[category]] ([[position]])<br><span style='font-size: 150%;'>$[[value]]</span>"
  } ],
  "categoryField": "employee",
  "valueAxes": [{
    "title": "Annual salary (US$)"
  }],
    "export": {
    "enabled": true
  }
} );

var chart3 = AmCharts.makeChart( "chartdiv3", {
  "type": "pie",
  "theme": "light",
  "dataProvider": sourceData,
  "graphs": [ {
    "fillAlphas": 0.9,
    "lineAlpha": 0.2,
    "lineColorField": "color",
    "fillColorsField": "color",
    "type": "slice",
    "valueField": "salary",
    "balloonText": "[[category]] ([[position]])<br><span style='font-size: 150%;'>$[[value]]</span>"
  } ],
  "valueField": "salary",
  "titleField": "employee",
  /* "balloon":{
   "fixedPosition":true
  },*/
  "categoryField": "employee",
  "valueAxes": [{
    "title": "Annual salary (US$)"
  }],
    "export": {
    "enabled": true
  }
} );

var chart4 = AmCharts.makeChart( "chartdiv4", {
  "type": "pie",
  "theme": "light",
  "dataProvider": sourceData,
  "graphs": [ {
    "fillAlphas": 0.9,
    "lineAlpha": 0.2,
    "lineColorField": "color",
    "fillColorsField": "color",
    "type": "slice",
    "valueField": "salary",
    "balloonText": "[[category]] ([[position]])<br><span style='font-size: 150%;'>$[[value]]</span>"
  } ],
  "valueField": "salary",
  "titleField": "position",
  /* "balloon":{
   "fixedPosition":true
  },*/
  "categoryField": "position",
  "valueAxes": [{
    "title": "Annual salary (US$)"
  }],
    "export": {
    "enabled": true
  }
} );

var chart5 = AmCharts.makeChart( "chartdiv5", {
  "type": "pie",
  "theme": "light",
  "dataProvider": sourceData,
  "graphs": [ {
    "fillAlphas": 0.9,
    "lineAlpha": 0.2,
    "lineColorField": "color",
    "fillColorsField": "color",
    "type": "slice",
    "valueField": "salary",
    "balloonText": "[[category]] ([[position]])<br><span style='font-size: 150%;'>$[[value]]</span>"
  } ],
  "valueField": "salary",
  "titleField": "salary",
  /* "balloon":{
   "fixedPosition":true
  },*/
  "categoryField": "salary",
  "valueAxes": [{
    "title": "Annual salary (US$)"
  }],
    "export": {
    "enabled": true
  }
} );

var chart6 = AmCharts.makeChart( "chartdiv6", {
  "type": "pie",
  "theme": "light",
  "dataProvider": sourceData,
  "graphs": [ {
    "fillAlphas": 0.9,
    "lineAlpha": 0.2,
    "lineColorField": "color",
    "fillColorsField": "color",
    "type": "slice",
    "valueField": "salary",
    "balloonText": "[[category]] ([[position]])<br><span style='font-size: 150%;'>$[[value]]</span>"
  } ],
  "valueField": "salary",
  "titleField": "employee",
  /* "balloon":{
   "fixedPosition":true
  },*/
  "categoryField": "employee",
  "valueAxes": [{
    "title": "Annual salary (US$)"
  }],
    "export": {
    "enabled": true
  }
} );
</script>
</html>
{% endblock %}