{% extends 'avec/base_dashboard.html' %}
{% load staticfiles %}
{% block content %}
<html>
<title>Layout possivel</title>
  <title>Layouts</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>AVEC - Ciencia de dados</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />		

	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/keen-dashboards.css' %}" />
	<link rel="stylesheet" href="{% static 'css/dc.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}"/>	  
  
	<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/crossfilter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dc2.js' %}"></script>		
	<script> var sinopse_estatistica_da_educacao_basica_2015 = "{% static 'data/educacao2.csv' %}"; 	  </script>
<style>


#dc-cpty-chart svg g .axis.x .tick {
    display: none;
}

pre {display:none;}

</style>
<body>


			<div class="title_sec">
				    <div class="internal__row">
						<h1 class="internal__title">Layout Painel</h1>
					</div>
			</div>	
 <div class="container-fluid" style = "padding-top:30px; padding-bottom:30px;">

    <div class="row">
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
		  <div class="col-sm-3">
          <div class="chart-stage">
			  <h4>Teste</h4>
			  <div id="menuselect0" style="float:left;"></div>
          </div>
		  </div>			  
		  <div class="col-sm-3">
          <div class="chart-stage">
			  <h4>Teste</h4>
			  <div id="menuselect" style="float:none;"></div>
          </div>
		  </div>	
		  <div class="col-sm-6">
          <div class="chart-stage">
			  <h4>Teste</h4>
			  <div id="menuselect2" style="float:none;"></div>
          </div>		  
			</div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
		
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper" id="graph">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
			  <h4>Teste</h4>
			  <div id="volume-chart"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
			  <h4>Teste</h4>
			  <div id="dc-cpty-chart"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
			  <h1 id="labelchart01">Big Number 1</h1>
			  <div id="chart-06"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
			  <h1 id="labelchart01">Big Number 2</h1>
			  <div id="chart-07"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
			  <h1 id="labelchart01">Big Number 3</h1>
			  <div id="chart-08"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
			  <h1 id="labelchart01">Big Number 4</h1>
			  <div id="chart-09"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>



  </div>


<pre>
regiao,date,cpty,ead
Sudeste,15.01.2017,Sao Paulo,6141.596552
Sudeste,19.07.2016,Sao Paulo,6141.596552
Sudeste,17.10.2016,Sao Paulo,6141.596552
Sudeste,19.07.2016,Sao Paulo,31858.95692
Sudeste,17.10.2016,Sao Paulo,31858.95692
Nordeste,19.07.2016,Maceio,38540.64338
Nordeste,17.10.2016,Maceio,38540.64338
Nordeste,15.01.2017,Maceio,38540.64338
Nordeste,14.07.2017,Maceio,38540.64338
Nordeste,15.04.2017,Maceio,38540.64338
Nordeste,15.01.2017,Irece,1414.16706
Nordeste,17.10.2016,Irece,1414.16706
Nordeste,19.07.2016,Irece,1414.16706
Centro Oeste,09.07.2018,Brasilia,908458.539
</pre>

</body>
<script>

var ndx;

var oxe = d3.csv(sinopse_estatistica_da_educacao_basica_2015, function (data) {         

  data.forEach(function(d) {
	d.date   = +d.date;
    d.ead = +d.ead;
  });
 	
	
  var cptyChart = dc.barChart("#dc-cpty-chart");
  var lineChart = dc.lineChart("#volume-chart");

  var ndx = crossfilter(data);

  var dimdate = ndx.dimension(function(d) { return d.date;});
  var dimline = ndx.dimension(function(d) { return d.date;});
  var minDate = dimdate.bottom(1)[0].date;
  var maxDate = dimdate.top(1)[0].date;
  var dimregiao = ndx.dimension(function(d) { return d.regiao;});  
  var dimcpty = ndx.dimension(function(d) { return d.cpty;});
  var dimcptyC = ndx.dimension(function(d) { return d.cpty;});
  
  var regiaoDimension = ndx.dimension(function(d) { return d.regiao; });
  var cptyDimension = ndx.dimension(function(d) { return d.cpty; });
  var dataDimension = ndx.dimension(function(d) { return d.date; });

  var groupdate = dimdate.group().reduceSum(function(d){return d.ead/1000000;});
  var groupline = dimline.group().reduceSum(function(d){return d.ead/1000000;});
  var groupregiao = dimregiao.group().reduceSum(function(d){return d.ead/1000000;});  
  var groupcpty = dimcpty.group().reduceSum(function(d){return d.ead/1000000;});
  var spendhisto=dimcptyC.group().reduceSum(function(d){return d.ead/1000000;});
  var groupcptyC = remove_empty_bins(spendhisto);




			
	
function render_plots(){
		
	var widthcomp =  document.getElementById('graph').offsetWidth;   
	
	  //                //a dropdown widget
  selectField=dc.selectMenu('#menuselect0')
    .dimension(regiaoDimension)
    .group(regiaoDimension.group())
  
  selectField=dc.selectMenu('#menuselect')
    .dimension(cptyDimension)
    .group(cptyDimension.group());
	
  selectField2=dc.selectMenu('#menuselect2')
    .dimension(dimdate)
    .group(groupdate);
	
	  var oldHandler = selectField2.filterHandler();
  selectField2.filterHandler(function(dimension, filters) {
    var parseFilters = filters.map(function(d) { return new Date(d);})
    oldHandler(dimension, parseFilters);
    return filters;
  });	
  
  //a line chart
  lineChart
    .height(350)
    .width(widthcomp*0.9)
    .margins({top:10, right:50, bottom: 30, left: 50})
    .dimension(dimline)
    .group(groupline)
    .renderArea(true)
    .transitionDuration(500)
    .x(d3.time.scale().domain([minDate,maxDate]))
    .elasticY(true)
    .renderHorizontalGridLines(true);


  var barTip2=[]; //define some tips
  cptyChart
    .ordering(function(d){return -d.value;})
    .height(350)
    .width(widthcomp*0.9)
    .transitionDuration(500)
    .dimension(dimcptyC)
    .group(groupcptyC)
    .margins({top:10, right:10, bottom: 2, left: 60})
    .gap(1)
    .elasticY(true)
    .elasticX(true)
    .x(d3.scale.ordinal().domain(dimcptyC))
    .xUnits(dc.units.ordinal)
    .renderHorizontalGridLines(true)
    .yAxis().tickFormat(d3.format("s"));
		
		

	dc.renderAll();
	

}

	  function remove_empty_bins(source_group) {
    return {
      all:function () {
        return source_group.all().filter(function(d) {
          return d.value > 0.00001;
        });
      }
    };
  }
  
  render_plots();

});


</script>
</html>
{% endblock %}