{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/avecVinicius-style.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/amcharts/amcharts.js' %}"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/gauge.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

{% for cid in cidade %}
    <!-- TOPIC HEADER
    ================================================== -->
    <div class="topic">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">

            <h3 class="avec-h3">{{cid.nome}}</h3>

          </div>
          <div class="col-sm-8">
            <ol class="breadcrumb pull-right hidden-xs">
              <li class="avec-active"><a href="#">Home</a></li>

            </ol>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div> <!-- / .topic -->


    <!-- MAIN CONTENT
    ================================================== -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">

          <div class="section" data-spy="affix">
            <div class="resume__profile">

              <h3 class="resume-profile__title">
                {{cid.nome}}
              </h3>

              <div class="resume-profile__section">
                <strong>Prefeito</strong>
                <p class="text-muted">{{cid.nome_prefeito}}</p>
              </div>

              <div class="resume-profile__section">
                <strong>Secretário</strong>
                <p class="text-muted">
                  {{cid.nome_secretario}}
                </p>
              </div>
              <div class="resume-profile__section">
                <strong>Área territorial</strong>
                <p class="text-muted">{{cid.area_territorial}}</p>
              </div>

              <div class="resume-profile__section">
                <strong>População estimada</strong>
                <p class="text-muted">
                  <a href="#">{{cid.populacao_estimada}}</a>
                </p>
              </div>

              <div class="resume-profile__section">
                <strong>População Censo</strong>
                <p class="text-muted">
                  <a href="#">{{cid.populacao_censo}}</a>
                </p>
              </div>

              <div class="resume-profile__section">
                <strong>Densidade demográfica</strong>
                <p class="text-muted">
                  <a href="#">{{cid.densidade_demografica}}</a>
                </p>
              </div>

            </div> <!-- / .resume__profile -->


          </div>

        </div>
        <div class="col-sm-8">

          <div class="section" id="plans">
            <div class="section__inner avec-section__inner">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <h1 class="avec-home-app avec-title-home-app text-center">Dados gerais sobre os municipios</h1>
                  </div>
                </div>
                <!-- / .row -->

                <div class="row">
                  <div class="col-sm-6 col-md-3">

                    <div class="pricing-option">
                      <div class="pricing-option__inner">

                        <div class="home-app-pricing__price">
                          <i class="fa fa-search"></i>
                        </div>
                        <div class="pricing-option__body">
                          <div class="home-app-pricing__extra">Demografia</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">Painéis Interativos*</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">Download PDF, JPEG, PNG, CSV e XLSX</div>

                        </div>
                      </div>
                    </div>
                    <!-- / .pricing-option -->

                  </div>
                  <div class="col-sm-6 col-md-3">

                    <div class="pricing-option">
                      <div class="pricing-option__inner">

                        <div class="home-app-pricing__price">
                          <i class="fa fa-search"></i>
                        </div>
                        <div class="pricing-option__body">
                          <div class="home-app-pricing__extra">Indicadores</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">PIB Municipial 2016</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">{{cid.pib}}</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">PIB Per Capita Municipal 2016</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">{{cid.pib_percapita}}</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">IDHM</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">{{cid.idhm}}</div>

                        </div>
                      </div>
                    </div>
                    <!-- / .pricing-option -->

                  </div>
                  <div class="clearfix visible-sm"></div>
                  <div class="col-sm-6 col-md-3">

                    <div class="pricing-option">
                      <div class="pricing-option__inner">

                        <div class="home-app-pricing__price">
                          <i class="fa fa-search"></i>
                        </div>
                        <div class="pricing-option__body">
                          <div class="home-app-pricing__extra">Saúde</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">Painéis Interativos*</div>
                          <div class="home-app-pricing__extra home-app-pricing__extra-enterprise">Download PDF, JPEG, PNG, CSV e XLSX</div>


                        </div>
                      </div>
                    </div>
                    <!-- / .pricing-option -->

                  </div>

                </div>
                <!-- / .row -->
              </div>
              <!-- / .container -->
            </div>
            <!-- / .section__inner -->
          </div>

          <div class="row">
            <div class="col-sm-6">

              <ul class="nav nav-pills nav-justified">
                <li><a href="{% url 'teto'%}">Teto</a></li>
                <li><a href="#">FAEC</a></li>
                <li><a href="#">CEO</a></li>
                <li><a href="#">SAMU</a></li>
              </ul>

            </div>

          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

{% endfor %}

{% endblock %}

  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDBL3P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
