<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AVEC - Ciência de dados</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-white p-3">
    <a class="navbar-brand" href="#">
        <img src="images/avec-logo.png" srcset="images/avec-logo@2x.png 2x,images/avec-logo@3x.png 3x" class="mainlogo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icons icon-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--<ul class="navbar-nav mx-auto mr-auto">-->
            <!--<li class="nav-item active dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="assuntosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Assuntos-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="assuntosDropdown">-->
                    <!--<a class="dropdown-item" href="#">Assunto 001</a>-->
                    <!--<a class="dropdown-item" href="#">Assunto 002</a>-->
                    <!--<a class="dropdown-item" href="#">Assunto 003</a>-->
                    <!--<a class="dropdown-item" href="#">Assunto 004</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="produtosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Produtos-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="produtosDropdown">-->
                    <!--<a class="dropdown-item" href="#">Produto 001</a>-->
                    <!--<a class="dropdown-item" href="#">Produto 002</a>-->
                    <!--<a class="dropdown-item" href="#">Produto 003</a>-->
                    <!--<a class="dropdown-item" href="#">Produto 004</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="quemsomosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Quem somos-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="quemsomosDropdown">-->
                    <!--<a class="dropdown-item" href="#">Quem somos 001</a>-->
                    <!--<a class="dropdown-item" href="#">Quem somos 002</a>-->
                    <!--<a class="dropdown-item" href="#">Quem somos 003</a>-->
                    <!--<a class="dropdown-item" href="#">Quem somos 004</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="#" id="planoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Planos-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="planoDropdown">-->
                    <!--<a class="dropdown-item" href="#">Plano 001</a>-->
                    <!--<a class="dropdown-item" href="#">Plano 002</a>-->
                    <!--<a class="dropdown-item" href="#">Plano 003</a>-->
                    <!--<a class="dropdown-item" href="#">Plano 004</a>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown text-center text-sm-left">
                <a class="nav-link dropdown-toggle" href="#" id="suacontaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sua conta
                </a>
                <div class="dropdown-menu text-center text-sm-left" aria-labelledby="suacontaDropdown">
                    <a class="dropdown-item" href="#">Preferências</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o"></i> Alterar senha</a>
                </div>
            </li>
            <li class="nav-item d-none d-sm-block">
                <a class="nav-logout" href="#">
                    Sair
                </a>
            </li>
            <li class="nav-item d-block d-sm-none text-center">
                <a class="nav-link" href="#">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </li>
        </ul>
    </div>

</nav>

<div id="wrapper">

    <nav class="navbar-side">
        <div class="nav-header d-md-none d-lg-block">
            <h2>Painel de Gestão Financeira</h2>
            <hr />
            <h3>Média e Alta Complexibilidade</h3>
        </div>

        <h4 class="d-md-none d-lg-block">Arapiraca AL</h4>

        <span class="rounded-labels label-pref d-block d-md-none d-lg-block">Pref. Rogério Teófilo</span>
        <span class="rounded-labels label-sec d-block d-md-none d-lg-block">Sec. Aurélia Dias</span>

        <div class="navbar-side-menu">
            <ul class="nav d-flex flex-md-column justify-content-between">
                <li class="nav-item ">
                    <a href="index.html" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-grid"></i>
                        <span class="d-none d-lg-block">Dados Gerais</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="teto-financeiro.html" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-layers"></i>
                        <span class="d-none d-lg-block">Teto Financeiro</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="faec.html" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-notebook"></i>
                        <span class="d-none d-lg-block">FAEC</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="ceo.html" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-note"></i>
                        <span class="d-none d-lg-block">CEO</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="samu.html" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-compass"></i>
                        <span class="d-none d-lg-block">SAMU</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="help d-none d-sm-block">
            <div class="help-content">
                <hr />
                <div class="d-none d-lg-block">
                    <h3>Precisa de Ajuda?</h3>
                    <p>
                        +55 61 3033-7401<br />
                        contato@avecdata.com
                    </p>
                    <a href="" title="Visite Contato">Visite Contato</a>
                </div>
                <div class="d-lg-none text-center">
                    <a href="" title="" class="icon">
                        <i class="icon-bubbles"></i>
                    </a>
                </div>
            </div>
        </div>

    </nav>

    <div id="page-wrapper">

    <div class="row">
        <div class="col">
            <div class="page-heading">
                <h2>Teto Financeiro</h2>

                <div class="submenu">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="faec_producao.html">Produção</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="faec_repasses-sus.html">Repasses SUS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="faec_analise.html">Análise</a>
        </li>
    </ul>
</div>

            </div>
        </div>
    </div>

    <div class="wrapper-content">

        <div class="row">
            <div class="col-12">
                <div class="filters">
                    <form action="" class="form-inline d-flex justify-content-between">
                        <div class="form-group d-flex date-container">
                            <label class="col-form-label" for="mes_ano">Mês/Ano</label>
                            <div class="input-group">
                                <input type="text" readonly="true" data-toggle="datepicker" class="form-control" id="mes_ano" placeholder="Selecione" />
                                <span class="input-group-btn">
                                    <button class="btn btn-light btn-datepicker" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group d-none d-sm-block">
                            <button type="button" class="btn btn-primary btn-rounded">
                                <i class="fa fa-filter d-xl-none"></i>
                                <span class="d-none d-xl-block">Filtrar</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="widget full-width widget-table">
            <div class="widget_title">
                <h3 class="text-left">
                    <i class="fa fa-bookmark color-turq-avec"></i> Procedimentos Ambulatoriais
                </h3>
            </div>
            <div class="widget_content no-bg">

                <div class="table-collapse">

                    <dl>
                        <dt class="grid_title">
                            <div>
                                <span>Grupo Procedimento</span>
                            </div>
                            <div>
                                <span>Estado Pleno</span>
                            </div>
                            <div>
                                <span>Pacto de Gestão</span>
                            </div>
                        </dt>
                        <dd class="grid_content">

                            <div id="ac_proc_ambu" role="tablist">
                                                            <div class="card">
                                    <div class="card-header" role="tab" id="ac_proc_ambu_head_1">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#ac_proc_ambu_collapse_1" aria-expanded="true" aria-controls="ac_proc_ambu_collapse_1" class="grid_title">
                                                <div>
                                                    <span>01 Nam porttitor blanditea</span>
                                                </div>
                                                <div>
                                                    <span>R$ 926.121,16</span>
                                                </div>
                                                <div class="bg-pale-grey-five">
                                                    <span>R$ 6.956.321,96</span>
                                                </div>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="ac_proc_ambu_collapse_1" class="collapse" role="tabpanel" aria-labelledby="ac_proc_ambu_head_1" data-parent="#ac_proc_ambu">
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Subgrupo Procedimento</th>
                                                        <th>Estado Pleno</th>
                                                        <th>Pacto de Gestão</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="card">
                                    <div class="card-header" role="tab" id="ac_proc_ambu_head_2">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#ac_proc_ambu_collapse_2" aria-expanded="true" aria-controls="ac_proc_ambu_collapse_2" class="grid_title">
                                                <div>
                                                    <span>01 Nam porttitor blanditea</span>
                                                </div>
                                                <div>
                                                    <span>R$ 926.121,16</span>
                                                </div>
                                                <div class="bg-pale-grey-five">
                                                    <span>R$ 6.956.321,96</span>
                                                </div>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="ac_proc_ambu_collapse_2" class="collapse" role="tabpanel" aria-labelledby="ac_proc_ambu_head_2" data-parent="#ac_proc_ambu">
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Subgrupo Procedimento</th>
                                                        <th>Estado Pleno</th>
                                                        <th>Pacto de Gestão</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                                            <div class="card">
                                    <div class="card-header" role="tab" id="ac_proc_ambu_head_3">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#ac_proc_ambu_collapse_3" aria-expanded="true" aria-controls="ac_proc_ambu_collapse_3" class="grid_title">
                                                <div>
                                                    <span>01 Nam porttitor blanditea</span>
                                                </div>
                                                <div>
                                                    <span>R$ 926.121,16</span>
                                                </div>
                                                <div class="bg-pale-grey-five">
                                                    <span>R$ 6.956.321,96</span>
                                                </div>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="ac_proc_ambu_collapse_3" class="collapse" role="tabpanel" aria-labelledby="ac_proc_ambu_head_3" data-parent="#ac_proc_ambu">
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Subgrupo Procedimento</th>
                                                        <th>Estado Pleno</th>
                                                        <th>Pacto de Gestão</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                    <tr>
                                                        <td>01 Nam porttitor blanditea</td>
                                                        <td>R$ 926.121,16</td>
                                                        <td>R$ 6.956.321,96</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                                        </div>

                        </dd>
                    </dl>

                </div>

            </div>
        </div>

        <div class="widget full-width widget-table">
            <div class="widget_title">
                <h3 class="text-left">
                    <i class="fa fa-bookmark color-turq-avec"></i> Procedimentos Hospitalares
                </h3>
            </div>
            <div class="widget_content no-bg">

                <div class="table-collapse">

                    <dl>
                        <dt class="grid_title">
                            <div>
                                <span>Grupo Procedimento</span>
                            </div>
                            <div>
                                <span>Estado Pleno</span>
                            </div>
                            <div>
                                <span>Municipal Plena Assistida</span>
                            </div>
                        </dt>
                        <dd class="grid_content">

                            <div id="ac_proc_hosp" role="tablist">
                                                                <div class="card">
                                    <div class="card-header" role="tab" id="ac_proc_hosp_head_1">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#ac_proc_hosp_collapse_1" aria-expanded="true" aria-controls="ac_proc_hosp_collapse_1" class="grid_title">
                                                <div>
                                                    <span>01 Nam porttitor blanditea</span>
                                                </div>
                                                <div>
                                                    <span>R$ 926.121,16</span>
                                                </div>
                                                <div class="bg-pale-grey-five">
                                                    <span>R$ 6.956.321,96</span>
                                                </div>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="ac_proc_hosp_collapse_1" class="collapse" role="tabpanel" aria-labelledby="ac_proc_hosp_head_1" data-parent="#ac_proc_hosp">
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Subgrupo Procedimento</th>
                                                    <th>Estado Pleno</th>
                                                    <th>Pacto de Gestão</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                                                <div class="card">
                                    <div class="card-header" role="tab" id="ac_proc_hosp_head_2">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#ac_proc_hosp_collapse_2" aria-expanded="true" aria-controls="ac_proc_hosp_collapse_2" class="grid_title">
                                                <div>
                                                    <span>01 Nam porttitor blanditea</span>
                                                </div>
                                                <div>
                                                    <span>R$ 926.121,16</span>
                                                </div>
                                                <div class="bg-pale-grey-five">
                                                    <span>R$ 6.956.321,96</span>
                                                </div>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="ac_proc_hosp_collapse_2" class="collapse" role="tabpanel" aria-labelledby="ac_proc_hosp_head_2" data-parent="#ac_proc_hosp">
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Subgrupo Procedimento</th>
                                                    <th>Estado Pleno</th>
                                                    <th>Pacto de Gestão</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                                                <div class="card">
                                    <div class="card-header" role="tab" id="ac_proc_hosp_head_3">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" href="#ac_proc_hosp_collapse_3" aria-expanded="true" aria-controls="ac_proc_hosp_collapse_3" class="grid_title">
                                                <div>
                                                    <span>01 Nam porttitor blanditea</span>
                                                </div>
                                                <div>
                                                    <span>R$ 926.121,16</span>
                                                </div>
                                                <div class="bg-pale-grey-five">
                                                    <span>R$ 6.956.321,96</span>
                                                </div>
                                            </a>
                                        </h5>
                                    </div>

                                    <div id="ac_proc_hosp_collapse_3" class="collapse" role="tabpanel" aria-labelledby="ac_proc_hosp_head_3" data-parent="#ac_proc_hosp">
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Subgrupo Procedimento</th>
                                                    <th>Estado Pleno</th>
                                                    <th>Pacto de Gestão</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Nam porttitor blanditea</td>
                                                    <td>R$ 926.121,16</td>
                                                    <td>R$ 6.956.321,96</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                                            </div>

                        </dd>
                    </dl>

                </div>

            </div>
        </div>

        <div class="widget full-width widget-table">
            <div class="widget_title">
                <h3 class="text-center">
                    <i class="fa fa-bookmark color-turq-avec"></i> Total
                </h3>
            </div>
            <div class="widget_content no-bg">

                <div class="table-collapse">

                    <dl>
                        <dd class="grid_content">

                            <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0 grid_title">
                                            <div class="total_label">
                                                <span class="text-uppercase">Procedimentos ambulatoriais</span>
                                            </div>
                                            <div class="bg-pale-grey-five">
                                                <span>R$ 6.956.321,96</span>
                                            </div>
                                        </h5>
                                    </div>

                                </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0 grid_title">
                                        <div class="total_label">
                                            <span class="text-uppercase">Procedimentos hospitalares</span>
                                        </div>
                                        <div class="bg-pale-grey-five">
                                            <span>R$ 6.956.321,96</span>
                                        </div>
                                    </h5>
                                </div>

                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0 grid_title">
                                        <div class="total_label bg-pale-grey-five">
                                            <span class="text-uppercase">Total</span>
                                        </div>
                                        <div class="bg-pale-grey-five">
                                            <span>R$ 6.956.321,96</span>
                                        </div>
                                    </h5>
                                </div>

                            </div>

                        </dd>
                    </dl>

                </div>

            </div>
        </div>

        <div class="widget full-width">
            <div class="widget_title">
                <h3 class="text-left">
                    <i class="fa fa-bar-chart"></i> Pacto de Gestão - Últimos 12 meses
                </h3>
            </div>
            <div class="widget_content border rounded py-3 px-4">
                <figure class="figure">
                    <img src="images/grafico.jpg" alt="" class="figure-img" />
                </figure>
            </div>
        </div>

        <div class="widget full-width">
            <div class="widget_title">
                <h3 class="text-left">
                    <i class="fa fa-bar-chart"></i> Municipal Plena - Últimos 12 meses
                </h3>
            </div>
            <div class="widget_content border rounded py-3 px-4">
                <figure class="figure">
                    <img src="images/grafico.jpg" alt="" class="figure-img" />
                </figure>
            </div>
        </div>

        <div class="widget full-width">
            <div class="widget_title">
                <h3 class="text-left">
                    <i class="fa fa-bar-chart"></i> Total - Últimos 12 meses
                </h3>
            </div>
            <div class="widget_content border rounded py-3 px-4">
                <figure class="figure">
                    <img src="images/grafico.jpg" alt="" class="figure-img" />
                </figure>
            </div>
        </div>

    </div>

</div>

    <footer>
        <!--
        <div class="container d-sm-none">
            <div class="row">
                <div class="col">
                    <div id="footer-menu" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab" id="faleConosco">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <a data-toggle="collapse" href="#collapseFaleConosco" aria-expanded="false" aria-controls="collapseFaleConosco">
                                        Fale Conosco
                                    </a>
                                    <i class="fa fa-angle-down"></i>
                                </h5>
                            </div>

                            <div id="collapseFaleConosco" class="collapse" role="tabpanel" aria-labelledby="faleConosco" data-parent="#footer-menu">
                                <div class="card-body">
                                    <p>
                                        Do not hesitate to contact us if you have any questions or feature
                                        requests:
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet, Consectetur adipiscing elit
                                    </p>

                                    <p>
                                        Phone: +0 000 000 00 00<br />
                                        Fax: +0 000 000 00 00
                                    </p>

                                    <p>Email: support@example.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="avecDataScience">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <a data-toggle="collapse" href="#collapseAvecDataScience" aria-expanded="false" aria-controls="collapseAvecDataScience">
                                        AVEC Data Science
                                    </a>
                                    <i class="fa fa-angle-down"></i>
                                </h5>
                            </div>
                            <div id="collapseAvecDataScience" class="collapse" role="tabpanel" aria-labelledby="avecDataScience" data-parent="#footer-menu">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="" title="">Sobre</a></li>
                                        <li><a href="" title="">Carreiras</a></li>
                                        <li><a href="" title="">Política de Privacidade</a></li>
                                        <li><a href="" title="">Termos e Condições Gerais</a></li>
                                        <li><a href="" title="">Imprensa e Mídia</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="sigaNos">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <a data-toggle="collapse" href="#collapseSiganos" aria-expanded="false" aria-controls="collapseSiganos">
                                        Siga nos
                                    </a>
                                    <i class="fa fa-angle-down"></i>
                                </h5>
                            </div>
                            <div id="collapseSiganos" class="collapse" role="tabpanel" aria-labelledby="sigaNos" data-parent="#footer-menu">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="" title="">LinkedIn</a></li>
                                        <li><a href="" title="">Facebook</a></li>
                                        <li><a href="" title="">Twitter</a></li>
                                        <li><a href="" title="">Instagram</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="linksRapidos">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <a data-toggle="collapse" href="#collapseLinksRapidos" aria-expanded="false" aria-controls="collapseLinksRapidos">
                                        Links Rápidos
                                    </a>
                                    <i class="fa fa-angle-down"></i>
                                </h5>
                            </div>
                            <div id="collapseLinksRapidos" class="collapse" role="tabpanel" aria-labelledby="linksRapidos" data-parent="#footer-menu">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-none d-sm-block">
            <div class="row">
                <div class="col-sm col-lg d-none d-sm-block">
                    <div class="box">
                        <h3 class="box_title">
                            Fale Conosco
                        </h3>
                        <div class="box_content">
                            <p>
                                Do not hesitate to contact us if you have any questions or feature
                                requests:
                            </p>

                            <p>
                                Lorem ipsum dolor sit amet, Consectetur adipiscing elit
                            </p>

                            <p>
                                Phone: +0 000 000 00 00<br />
                                Fax: +0 000 000 00 00
                            </p>

                            <p>Email: support@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-lg d-none d-sm-block">
                    <div class="box">
                        <h3 class="box_title">
                            Avec Data Science
                        </h3>
                        <div class="box_content">
                            <ul>
                                <li><a href="" title="">Sobre</a></li>
                                <li><a href="" title="">Carreiras</a></li>
                                <li><a href="" title="">Política de Privacidade</a></li>
                                <li><a href="" title="">Termos e Condições Gerais</a></li>
                                <li><a href="" title="">Imprensa e Mídia</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-lg">
                    <div class="box">
                        <h3 class="box_title">Siga Nos</h3>
                        <div class="box_content">
                            <ul>
                                <li><a href="" title="">LinkedIn</a></li>
                                <li><a href="" title="">Facebook</a></li>
                                <li><a href="" title="">Twitter</a></li>
                                <li><a href="" title="">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg d-none d-lg-block">
                    <div class="box">
                        <h3 class="box_title">Links Rápidos</h3>
                        <div class="box_content">
                            <ul>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="copyright">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <p class="text-sm-left">© Copyright 2017 Avec Data Sciense. All Rights Reserved. SCS Q 06, Bl A, Sala 403, Ed. Carioca » Asa Sul, Brasilia DF - Brasil</p>
                    </div>
                    <div class="col-sm-4">
                        <ul class="social d-flex flex-row justify-content-center">
                            <li>
                                <a href="" title="">
                                    <figure></figure>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <figure></figure>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <figure></figure>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <figure></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<script src="js/libs/jquery.slim.min.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/datepicker.min.js"></script>
<script src="js/libs/datepicker.pt-BR.js"></script>
<script src="js/libs/jquery.maskedinput.js"></script>

<script>

    const fix_height = function () {
        $("#page-wrapper").css("min-height", '1024px');
        $(".navbar-side").css("min-height", $('#page-wrapper').height()+96 + "px");
    };

    const windowResize = function(mq) {
        if ( !mq.matches ) {
            fix_height();
        } else {
            $(".navbar-side").css('min-height', 'auto');
        }
    };

    $(function() {
        /* JavaScript Media Queries */
        if (matchMedia) {
            const mq = window.matchMedia("(max-width: 767px)");

            mq.addListener(windowResize);
            windowResize(mq);
        }

        $('[data-toggle="datepicker"]').mask('99/9999');

        $('[data-toggle="datepicker"]').datepicker({
            autoHide: true,
            language: 'pt-BR',
            format: 'mm/yyyy',
            startView: 1,
            offset: 0,
            monthsShort: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
//            trigger: $(this).closest('.date-container'),
            template: [
                '<div class="datepicker-container">',
                    '<div class="datepicker-panel" data-view="years picker">',
                        '<ul class="nav-picker">',
                            '<li data-view="years prev"><i class="ion-ios-arrow-back"></i></li>',
                            '<li data-view="years current" class="ml-auto mr-auto"></li>',
                            '<li data-view="years next"><i class="ion-ios-arrow-forward"></i></li>',
                        '</ul>',
                        '<ul data-view="years"></ul>',
                    '</div>',
                    '<div class="datepicker-panel" data-view="months picker">',
                        '<ul class="nav-picker">',
                            '<li data-view="year prev"><i class="ion-ios-arrow-back"></i></li>',
                            '<li data-view="year current" class="ml-auto mr-auto"></li>',
                            '<li data-view="year next"><i class="ion-ios-arrow-forward"></i></li>',
                        '</ul>',
                        '<ul data-view="months"></ul>',
                    '</div>',
                '</div>'
            ].join('')
        });
    });
</script>

</body>
</html>