{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AVEC - Ciência de dados</title>
    <link href="{% static 'pgf/css/main.css' %}" rel="stylesheet" />
</head>
<body>
{% for cid in cidade %}
<nav class="navbar navbar-expand-md navbar-light bg-white p-3">
    <a class="navbar-brand avec-navbar-brand" href="{% url 'index' %}" style="margin-left: 0px;">
      <img src="{% static 'avecv2.0-template/img/avec-logo.svg' %}" alt="AVEC - Data" width="100">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icons icon-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mr-auto">

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="suacontaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sua conta
                </a>
                <div class="dropdown-menu" aria-labelledby="suacontaDropdown">
                    <a class="dropdown-item" href="#">Sua conta 001</a>
                    <a class="dropdown-item" href="#">Sua conta 002</a>
                    <a class="dropdown-item" href="#">Sua conta 003</a>
                    <a class="dropdown-item" href="#">Sua conta 004</a>
                </div>
            </li>
            <li class="nav-item d-none d-lg-block">
                <a class="nav-logout" href="#">
                    Sair
                </a>
            </li>
        </ul>
    </div>

</nav>

<div id="wrapper">

    <nav class="navbar-side">
        <div class="nav-header d-md-none d-lg-block">
            <h2>Painel de Gestão Financeira</h2>
            <hr />
            <h3>Média e Alta Complexibilidade</h3>
        </div>

        <h4 class="d-md-none d-lg-block">{{cid.nm_municipio}}</h4>

        <span class="rounded-labels label-pref d-block d-md-none d-lg-block">Pref. {{cid.nome_prefeito}}</span>
        <span class="rounded-labels label-sec d-block d-md-none d-lg-block">Sec. {{cid.nome_secretario}}</span>

        <div class="navbar-side-menu">
            <ul class="nav d-flex flex-md-column justify-content-between">
                <li class="nav-item active">
                    <a href="#" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-grid"></i>
                        <span class="d-none d-lg-block">Dados Gerais</span>
                    </a>
                </li>
                {% for ent in entidade %}
                <li class="nav-item ">
                    <a href="{% url 'teto' cnpj=ent.cpf_cnpj %}" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-layers"></i>
                        <span class="d-none d-lg-block">Teto Financeiro</span>
                    </a>
                </li>
                {% endfor %}
                <li class="nav-item ">
                    <a href="" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-notebook"></i>
                        <span class="d-none d-lg-block">FAEC</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-note"></i>
                        <span class="d-none d-lg-block">CEO</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link d-lg-flex text-center text-lg-left">
                        <i class="icons icon-compass"></i>
                        <span class="d-none d-lg-block">SAMU</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

    <div id="page-wrapper">

    <div class="row">
        <div class="col">
            <div class="page-heading">
                <h2>Dados Gerais sobre o Município</h2>
            </div>
        </div>
    </div>

    <div class="wrapper-content">
        <div class="row">
            <div class="col-12">
                <div class="box box-dados">
                    <div class="box-icon">
                        <i class="icon ion-ios-people-outline"></i>
                    </div>
                    <div class="box-title d-block d-sm-none d-xl-block">
                        <h3>Demografia</h3>
                    </div>
                    <hr class="d-none d-sm-block d-xl-none" />
                    <div class="box-content">
                        <h3 class="d-none d-sm-block d-xl-none">Demografia</h3>
                        <dl>
                            <dt>População estimada 2017</dt>
                            <dd>{{cid.populacao_estimada}} pessoas</dd>

                            <dt>Área</dt>
                            <dd>{{cid.area_territorial}} km<sup>2</sup></dd>

                            <dt>Altitude</dt>
                            <dd>0 m</dd>

                            <dt>Clima</dt>
                            <dd>-</dd>

                            <dt>Distância até a capital</dt>
                            <dd>0 km</dd>
                        </dl>
                        <i class="icon icon-options"></i>
                    </div>
                </div>

                <div class="box box-dados">
                    <div class="box-icon">
                        <i class="icon ion-ios-color-filter-outline"></i>
                    </div>
                    <div class="box-title d-block d-sm-none d-xl-block">
                        <h3>Indicadores</h3>
                    </div>
                    <hr class="d-none d-sm-block d-xl-none" />
                    <div class="box-content">
                        <h3 class="d-none d-sm-block d-xl-none">Indicadores</h3>
                        <dl>
                            <dt>PIB Municipal 2016</dt>
                            <dd>R$ {{cid.pib}}</dd>

                            <dt>PIB Per Capita Municipal 2016</dt>
                            <dd>R$ {{cid.pib_percapita}} </dd>

                            <dt>IDHM</dt>
                            <dd>R$ {{cid.idhm}} </dd>

                            <dt>IDHM Longevidade</dt>
                            <dd>R$ {{cid.idhm_longevidade}} </dd>

                            <dt>IDHM Educação</dt>
                            <dd>{{cid.idhm_educacao}}</dd>
                        </dl>
                        <i class="icon icon-options"></i>
                    </div>
                </div>

                <div class="box box-dados">
                    <div class="box-icon">
                        <i class="icon ion-ios-medkit-outline"></i>
                    </div>
                    <div class="box-title d-block d-sm-none d-xl-block">
                        <h3>Saúde</h3>
                    </div>
                    <hr class="d-none d-sm-block d-xl-none" />
                    <div class="box-content">
                        <h3 class="d-none d-sm-block d-xl-none">Saúde</h3>
                        <dl>
                            <dt>Taxa de mortalidade infantil</dt>
                            <dd>{{cid.mortalidade_infantil}} óbitos por mil nascidos vivos</dd>

                            <dt>Internações por diarreia</dt>
                            <dd>2,6 internações por mil hab.</dd>

                            <dt>Estabelecimentos de Saúde SUS</dt>
                            <dd>65 estabelecimentos</dd>

                            <dt>Taxa de partos cesáreos</dt>
                            <dd>{{cid.tx_parto_cesario}} </dd>

                            <dt>Óbitos maternos</dt>
                            <dd>1,6 internações por mil hab.</dd>
                        </dl>
                        <i class="icon icon-options"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget">
            <div class="widget_title">
                <h3>
                    <i class="fa fa-bar-chart d-none d-md-inline-block"></i> Número de mortalidade infantil - Pesquisa mais recente
                </h3>
            </div>
            <div class="widget_content border rounded py-3 px-4">
                <figure class="figure">
                    <img src="{% static 'pgf/images/grafico.jpg' %}" alt="" class="figure-img" />
                </figure>
            </div>
        </div>

        <div class="widget">
            <div class="widget_content border rounded">
                <div id="map"></div>
            </div>
        </div>

    </div>

</div>

<script>

    pop = {{cid.populacao_estimada}};
    if (pop < 70000){
      myzoom = 16;
    };
    if (pop >= 70000 &&  pop < 500000){
      myzoom = 15;
    };
    if (pop >= 500000 &&  pop < 1000000){
      myzoom = 14;
    };
    if (pop >= 1000000 &&  pop < 3000000){
      myzoom = 13;
    };
    if (pop >= 3000000){
      myzoom = 12;
    };

    function initMap() {
      {% for gis in gis %}
        const center_old = {lat: -7.120436, lng: -34.877824};
        const center = {lat: {{gis.latitude}}, lng: {{gis.longitude}}};
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom : myzoom,
            center: center,
            disableDefaultUI: true,
      {% endfor %}
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#bdbdbd"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dadada"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#c9c9c9"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                }
            ]
        });

        const marker = new google.maps.Marker({
            position: center,
            map: map,
            icon: 'http://avecdata.alexandremedeiros.com.br/images/marker.png'
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQlsvwXkClFENZeuVSGfwuFnYeLgnoQE4&callback=initMap"></script>

    <footer>
        <div class="container d-sm-none">
            <div class="row">
                <div class="col">
                    <div id="footer-menu" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab" id="faleConosco">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <a data-toggle="collapse" href="#collapseFaleConosco" aria-expanded="false" aria-controls="collapseFaleConosco">
                                        Fale Conosco
                                    </a>
                                    <i class="fa fa-angle-down"></i>
                                </h5>
                            </div>

                            <div id="collapseFaleConosco" class="collapse" role="tabpanel" aria-labelledby="faleConosco" data-parent="#footer-menu">
                                <div class="card-body">
                                    <p>
                                        Do not hesitate to contact us if you have any questions or feature
                                        requests:
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet, Consectetur adipiscing elit
                                    </p>

                                    <p>
                                        Phone: +0 000 000 00 00<br />
                                        Fax: +0 000 000 00 00
                                    </p>

                                    <p>Email: support@example.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="avecDataScience">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <a data-toggle="collapse" href="#collapseAvecDataScience" aria-expanded="false" aria-controls="collapseAvecDataScience">
                                        AVEC Data Science
                                    </a>
                                    <i class="fa fa-angle-down"></i>
                                </h5>
                            </div>
                            <div id="collapseAvecDataScience" class="collapse" role="tabpanel" aria-labelledby="avecDataScience" data-parent="#footer-menu">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="" title="">Sobre</a></li>
                                        <li><a href="" title="">Carreiras</a></li>
                                        <li><a href="" title="">Política de Privacidade</a></li>
                                        <li><a href="" title="">Termos e Condições Gerais</a></li>
                                        <li><a href="" title="">Imprensa e Mídia</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="sigaNos">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <a data-toggle="collapse" href="#collapseSiganos" aria-expanded="false" aria-controls="collapseSiganos">
                                        Siga nos
                                    </a>
                                    <i class="fa fa-angle-down"></i>
                                </h5>
                            </div>
                            <div id="collapseSiganos" class="collapse" role="tabpanel" aria-labelledby="sigaNos" data-parent="#footer-menu">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="" title="">LinkedIn</a></li>
                                        <li><a href="" title="">Facebook</a></li>
                                        <li><a href="" title="">Twitter</a></li>
                                        <li><a href="" title="">Instagram</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="linksRapidos">
                                <h5 class="mb-0 d-flex justify-content-between">
                                    <a data-toggle="collapse" href="#collapseLinksRapidos" aria-expanded="false" aria-controls="collapseLinksRapidos">
                                        Links Rápidos
                                    </a>
                                    <i class="fa fa-angle-down"></i>
                                </h5>
                            </div>
                            <div id="collapseLinksRapidos" class="collapse" role="tabpanel" aria-labelledby="linksRapidos" data-parent="#footer-menu">
                                <div class="card-body">
                                    <ul>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                        <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-none d-sm-block">
            <div class="row">
                <div class="col-sm col-lg d-none d-sm-block">
                    <div class="box">
                        <h3 class="box_title">
                            Fale Conosco
                        </h3>
                        <div class="box_content">
                            <p>
                                Do not hesitate to contact us if you have any questions or feature
                                requests:
                            </p>

                            <p>
                                Lorem ipsum dolor sit amet, Consectetur adipiscing elit
                            </p>

                            <p>
                                Phone: +0 000 000 00 00<br />
                                Fax: +0 000 000 00 00
                            </p>

                            <p>Email: support@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-lg d-none d-sm-block">
                    <div class="box">
                        <h3 class="box_title">
                            Avec Data Science
                        </h3>
                        <div class="box_content">
                            <ul>
                                <li><a href="" title="">Sobre</a></li>
                                <li><a href="" title="">Carreiras</a></li>
                                <li><a href="" title="">Política de Privacidade</a></li>
                                <li><a href="" title="">Termos e Condições Gerais</a></li>
                                <li><a href="" title="">Imprensa e Mídia</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm col-lg">
                    <div class="box">
                        <h3 class="box_title">Siga Nos</h3>
                        <div class="box_content">
                            <ul>
                                <li><a href="" title="">LinkedIn</a></li>
                                <li><a href="" title="">Facebook</a></li>
                                <li><a href="" title="">Twitter</a></li>
                                <li><a href="" title="">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg d-none d-lg-block">
                    <div class="box">
                        <h3 class="box_title">Links Rápidos</h3>
                        <div class="box_content">
                            <ul>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="" title="">Lorem ipsum dolor sit amet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <p class="text-sm-left">© Copyright 2017 Avec Data Sciense. All Rights Reserved. SCS Q 06, Bl A, Sala 403, Ed. Carioca » Asa Sul, Brasilia DF - Brasil</p>
                    </div>
                    <div class="col-sm-4">
                        <ul class="social d-flex flex-row justify-content-center">
                            <li>
                                <a href="" title="">
                                    <figure></figure>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <figure></figure>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <figure></figure>
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <figure></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<script src="js/libs/jquery.slim.min.js"></script>
<script src="js/libs/popper.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>

<script>

    const fix_height = function () {
//                $(".navbar-side").css("min-height", $("body > #wrapper").height() + "px");
//                $('#page-wrapper').css("min-height", $("body > #wrapper").height() + "px");
        $(".navbar-side").css("min-height", $('#page-wrapper').height()+96 + "px");

        var navbarHeight = $('.navbar-side').height();
        var wrapperHeight = $('#page-wrapper').height();

//                if (navbarHeight > wrapperHeight) {
//                    $('#page-wrapper').css("min-height", (navbarHeight + 42) + "px");
//                }
//
//                if (navbarHeight < wrapperHeight) {
//                    $('#page-wrapper').css("min-height", $(window).height() + "px");
//                }

    }

    const windowResize = function(mq) {
        if ( !mq.matches ) {
            fix_height();
        } else {
            $(".navbar-side").css('min-height', 'auto');
        }
    };

    $(function() {

        /* JavaScript Media Queries */
        if (matchMedia) {
            const mq = window.matchMedia("(max-width: 320px)");

            mq.addListener(windowResize);
            windowResize(mq);
        }
    });
</script>
{% endfor %}
</body>
</html>
