{% load staticfiles %}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer__logo">
        <img src="{% static 'img/logo-avec-light.png' %}"
     class="footer__logo-img" />
       <div class="footer__address">
         <p>SCS Q 06, Bl A, sala 403, Edificio Carioca. Asa Sul, Brasilia - Brasil</p>
         <p>contatoavecdata@gmail.com  +55 61 99112-4562</p>
       </div>
      </div>
      <div class="footer__social">
        <ul>
          <li><a href=""><img src="{% static 'img/post-twitter.svg' %}"
       class="footer__logo-img" /></a></li>
         <li><a href=""><img src="{% static 'img/post-facebook.svg' %}"
    class="footer__logo-img" /></a></li>
        <li><a href=""><img src="{% static 'img/post-linkedin.svg' %}"
 class="footer__logo-img" /></a></li>
        </ul>
        <p>© AVEC - CIENCIA DE DADOS </p>
      </div>
    </div>
  </div>
</footer>
