{% load staticfiles %}

<!-- FOOTER
    ================================================== -->
	<footer>

		<!-- Footer Top -->
		<div class="footer_top">
			<div class="container">
				<div class="row">

					<!-- Contact Us -->
					<div class="col-xs-12 col-sm-3">
						<div class="footer__item">
							<h5 class="footer-item__title">
								<span>FALE CONOSCO</span>
							</h5>
							<div class="footer-item__content">
								<p><a href="{% url 'contact' %}">Contato</a></p>
								<p>
									<i class="fa fa-phone"></i> Fone: +55 61 3033-7401<br>
								</p>
								<p>
									<i class="fa fa-envelope-o"></i> Email: <a href="mailto:contato@avecdata.com">contato@avecdata.com</a>
								</p>
							</div>
						</div>
					</div>

					<!-- Recent Tweets -->
					<div class="col-xs-12 col-sm-3">
						<div class="footer__item">
							<h5 class="footer-item__title">
								<span>AVEC DATA SCIENCE</span>
							</h5>
							<div class="footer-item__content">
								<p><a href="{% url 'quemsomos' %}">Sobre</a></p>
								<p><a href="https://www.linkedin.com/company-beta/11160834">Carreiras</a></p>
								<p><a href="{% url 'privacy_statement' %}">Política de Privacidade</a></p>
								<p><a href="{% url 'terms_conditions' %}">Termos e Condições Gerais</a></p>
								<!--<p><a href="#">Imprensa e Mídia</a></p>-->
							</div>
						</div>
					</div>

					<!-- Recent Posts -->
					<div class="col-xs-12 col-sm-3">
						<div class="footer__item">
							<h5 class="footer-item__title">
								<span>SIGA-NOS</span>
							</h5>
							<div class="footer-item__content">
								<p><a href="https://www.linkedin.com/company-beta/11160834">Linkedln</a></p>
								<p><a href="https://www.facebook.com/avecdata/">Facebook</a></p>
								<p><a href="https://twitter.com/avecdata">Twitter</a></p>
								<p><a href="https://www.instagram.com/avecdata/">Instagram</a></p>
							</div>
						</div>
					</div>

					<!-- Quick Links -->
					<div class="col-xs-12 col-sm-3">
						<div class="footer__item">
							<h5 class="footer-item__title">
								<span>LINKS RÁPIDOS</span>
							</h5>
							<div class="footer-item__content">
								<ul class="footer__links">
									<li><a href="http://www.avecdata.com/simpleDash_detail/33/">Coletas e transfusões de Sangue - Brasil 2017 (SUS)</a></li>
									<li><a href="http://www.avecdata.com/paineis_detail/4/">Diabete Mellitus - série histórica</a></li>
									<li><a href="http://www.avecdata.com/simpleDash_detail/122/">Conta Turismo Brasil</a></li>
									<li><a href="http://www.avecdata.com/simpleDash_detail/178/">Trans mortos por assassinato</a></li>
									<li><a href="http://www.avecdata.com/simpleDash_detail/111/">Sistema viário nacional</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</div>
		<!-- / .footer_top -->

		<!-- Footer Bottom -->
		<div class="footer_bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-9">
						<div class="footer__copyright">© Copyright 2017 <a href="http://www.avecdata.com">Avec Data Science</a>. All Rights Reserved. SCS Q 06, Bl A, Sala 403, Ed. Carioca » Asa Sul, Brasilia DF - Brasil</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<ul class="footer__social">
							<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li class="facebook"><a href="#"><i
									class="fa fa-facebook"></i></a></li>
							<li class="linkedin"><a href="#"><i
									class="fa fa-linkedin"></i></a></li>
							<li class="google-plus"><a href="#"><i
									class="fa fa-google-plus"></i></a></li>
							<li class="pinterest"><a href="#"><i
									class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</div>
		<!-- / .footer_bottom -->
	</footer>
