{% load staticfiles %}

<!-- FOOTER
    ================================================== -->
	<footer>

		<!-- Footer Bottom -->
		<div class="footer_bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-9">
						<div class="footer__copyright">© Copyright 2017 <a href="http://www.avecdata.com">Avec Data Science</a>. All Rights Reserved. SCS Q 06, Bl A, Sala 403, Ed. Carioca » Asa Sul, Brasilia DF - Brasil</div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<ul class="footer__social">
							<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li class="facebook"><a href="#"><i
									class="fa fa-facebook"></i></a></li>
							<li class="linkedin"><a href="#"><i
									class="fa fa-linkedin"></i></a></li>
							<li class="google-plus"><a href="#"><i
									class="fa fa-google-plus"></i></a></li>
							<li class="pinterest"><a href="#"><i
									class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</div>
		<!-- / .footer_bottom -->
	</footer>