{% load staticfiles %}

<div class="navbar navbar-default" role="navigation">
	<div class="container avec-container">
		<div class="navbar-header avec-navbar-left">

			<!-- Navbar toggle -->
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

			<!-- Navbar brand -->
			<a class="navbar-brand avec-navbar-brand" href="{% url 'index' %}" style="margin-left: 0px;">
				<img src="{% static 'avecv2.0-template/img/avec-logo.svg' %}" alt="AVEC - Data" width="100">
			</a>

		</div>
		<!-- / .navbar-header -->
		<div class="collapse navbar-collapse">
			<div class="avec-navbar-center">
				<ul class="nav navbar-nav navbar-right avec-menu-nav-right">


					<!-- Navbar Search -->
					{% if user.is_authenticated %}
					<li class="hidden-sm hidden-md hidden-lg">
						<li class="dropdown hidden-sm hidden-md hidden-lg">
							<a href="javascript:void(0);" class="dropdown-toggle avec-dropdown" data-toggle="dropdown">Sua Conta <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu" >
								<li class="dropdown-submenu">
									<li class="avec-dropdown"><a class="avec-dropdown" href="#">Meu Perfil</a></li>
									<li class="avec-dropdown"><a class="avec-dropdown" href="{% url 'accounts:preferences_user' user.pk %}"><i class="fa fa-address-card" aria-hidden="true"></i> Preferências</a></li>
									<li class="avec-dropdown"><a class="avec-dropdown btn-change-password" id="btn-change-password" href="#" user_pk="{{ user.username }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Alterar Senha</a></li>
									<li class="avec-dropdown"><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a></li>
								</li>
							</ul>
						</li>
					</li>
					{% else %}
					<li class="avec-menu-item hidden-sm hidden-md hidden-lg" ><a class="dropdown-toggle" href="{% url 'logar' %}">ENTRAR</a></li>
					{% endif%}

					<li class="avec-menu-item avec-menu-subscription hidden-sm hidden-md hidden-lg"><a class="dropdown-toggle" href="/#plans">ASSINAR</a></li>

					{% if not user.is_authenticated %}
					<li class="avec-menu-item hidden-sm hidden-md hidden-lg"><a href="{% url 'accounts:register' %}" class="dropdown-toggle">EXPERIMENTAR</a></li>
					{% endif%}
				</ul>
			</div>
			<div class="avec-navbar-right hidden-xs">
				<ul class="nav navbar-nav navbar-right avec-btn-nav-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle avec-dropdown" data-toggle="dropdown">Sua Conta <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu" >
							<li class="dropdown-submenu">
								<li class="avec-dropdown"><a class="avec-dropdown" href="#">Meu Perfil</a></li>
								<li class="avec-dropdown"><a class="avec-dropdown" href="{% url 'accounts:preferences_user' user.pk %}"><i class="fa fa-address-card" aria-hidden="true"></i> Preferências</a></li>
								<li class="avec-dropdown"><a class="avec-dropdown btn-change-password" id="btn-change-password" href="#" user_pk="{{ user.username }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Alterar Senha</a></li>
								<li class="avec-dropdown"><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a></li>
							</li>
						</ul>
					</li>
					{% else %}
					<li class="avec-menu-item" style="margin-right: 0px;"><a class="avec-link-login" href="{% url 'logar' %}">ENTRAR</a></li>

					{% endif%}

					<li class="avec-menu-item avec-menu-subscription"><a class="btn-avec-primary" href="/#plans">ASSINAR</a></li>

				</ul>
			</div>
			<!-- / .nav -->

			<!-- Navbar Search (mobile) -->

		</div>
		<!--/.navbar-collapse -->
	</div>
</div>
