{% load staticfiles %}

<div class="navbar navbar-default" role="navigation">
	<div class="container avec-container">
		<div class="navbar-header avec-navbar-left">

			<!-- Navbar toggle -->
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

			<!-- Navbar brand -->
			<a class="navbar-brand avec-navbar-brand" href="{% url 'index' %}" style="margin-left: 0px;">
				<img src="{% static 'avecv2.0-template/img/avec-logo.svg' %}" alt="AVEC - Data" width="100">
			</a>

		</div>
		<!-- / .navbar-header -->
		<div class="collapse navbar-collapse">
			<div class="avec-navbar-center">
				<ul class="nav navbar-nav navbar-right avec-menu-nav-right">
	
					<!-- General links -->
	
					<li class="dropdown">
						<a href="{% url 'assuntos' %}" class="dropdown-toggle" data-toggle="dropdown">Assuntos <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu" >
						{% for th in themes %}	
							<li class="dropdown-submenu">
								<a href="javascript:void(0);">{{ th.title }}</a>
								<!-- <input id="{{ forloop.counter }}" type="checkbox"> -->
								<!-- <label for="{{ forloop.counter }}">{{ th.title }} <span class="icon"></span></label> -->
								<!-- <div class="content"> -->
									<ul class="dropdown-menu item-assuntos">
									{% for subj in th.subject_set.all|dictsort:"title" %}
									  <li><a href="{% url 'subject_detail' pk=subj.pk %}">{{ subj.title }}</a></li>
									{% endfor %}  
									</ul>
								<!-- </div> -->
							</li>    
						{% endfor %}
							<!-- <li><a href="portfolio.html">Avec Data</a></li>
							<li><a href="portfolio-item.html">Avec View</a></li> -->
						</ul>
					</li>
					<li class="dropdown">
						<a href="{% url 'servicos' %}" class="dropdown-toggle" data-toggle="dropdown">Produtos <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="portfolio.html">Avec Data</a></li>
							<li><a href="portfolio-item.html">Avec View</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="{% url 'quemsomos' %}"
						class="dropdown-toggle">Quem Somos </a>
					</li>
					<li class="dropdown avec-menu-plains">
						<a href="/#plans" class="dropdown-toggle">Planos </a>
					</li>
	
					<!-- Mega menu -->
	
					<!-- Navbar Search -->
					{% if user.is_authenticated %}
					<li class="hidden-md hidden-lg">
						<div class="dropdown">
							<button type="button" id="dropdownMenu1"
								class="btn btn-sucesst dropdown-toggle" data-toggle="dropdown"
								style="padding-left: 20px;">
								Sua Conta <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-user-menu" role="menu"
								aria-labelledby="dropdownMenu1">
								<li><i class="fa fa-address-card" aria-hidden="true"></i>
									Meu Perfil</li>
								<li class="divider"></li>
								<li><i class="fa fa-cog" aria-hidden="true"></i><a
									href="{% url 'accounts:preferences_user' user.pk %}">Preferências</a></li>
								<li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a
									class="btn-change-password" href="#" id="btn-change-password"
									user_pk="{{ user.username }}">Alterar Senha</a></li>
								<li class="divider"></li>
								<li><i class="fa fa-sign-out" aria-hidden="true"></i><a
									href="{% url 'logout' %}">Sair</a></li>
							</ul>
						</div>
					</li>
					{% else %}
					<li class="avec-menu-item hidden-sm hidden-md hidden-lg"><a class="dropdown-toggle" href="{% url 'logar' %}">ENTRAR</a></li>
					{% endif%}
	
					<li class="avec-menu-item avec-menu-subscription hidden-sm hidden-md hidden-lg"><aclass="dropdown-toggle" href="/#plans">ASSINAR</a></li>
	
					<li class="avec-menu-item hidden-sm hidden-md hidden-lg"><a class="dropdown-toggle">EXPERIMENTAR</a></li>
				</ul>
			</div>
			<div class="avec-navbar-right hidden-xs">
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li>
						<div class="dropdown">
							<button type="button" id="dropdownMenu1"
								class="btn btn-sucesst dropdown-toggle" data-toggle="dropdown"
								style="padding-left: 20px;">
								Sua Conta <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-user-menu" role="menu"
								aria-labelledby="dropdownMenu1">
								<li><i class="fa fa-address-card" aria-hidden="true"></i>
									Meu Perfil</li>
								<li class="divider"></li>
								<li><i class="fa fa-cog" aria-hidden="true"></i><a
									href="{% url 'accounts:preferences_user' user.pk %}">Preferências</a></li>
								<li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><a
									class="btn-change-password" href="#" id="btn-change-password"
									user_pk="{{ user.username }}">Alterar Senha</a></li>
								<li class="divider"></li>
								<li><i class="fa fa-sign-out" aria-hidden="true"></i><a
									href="{% url 'logout' %}">Sair</a></li>
							</ul>
						</div>
					</li>
					{% else %}
					<li class="avec-menu-item"><a class="avec-link-login" href="{% url 'logar' %}">ENTRAR</a></li>
					{% endif%}
	
					<li class="avec-menu-item avec-menu-subscription"><a
						class="btn-avec-primary" href="/#plans">ASSINAR</a></li>
	
					<li class="avec-menu-item hidden-sm"><a class="btn btn-avec-success">EXPERIMENTAR</a></li>
				</ul>
			</div>
			<!-- / .nav -->

			<!-- Navbar Search (mobile) -->

		</div>
		<!--/.navbar-collapse -->
	</div>
</div>


