{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load poll_extras %}
{% block content %}

<div class="container" style="padding-top: 50px;">

	<form class="well form-horizontal" action=" " method="post" id="contact_form">
		{% csrf_token %}
		<fieldset>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">{{ message }}</div>
				{% endfor %}	
			{% endif %}
			<!-- Form Name -->
			
			<legend><strong>Resumo do Pedido:</strong> {{ plano }}</legend>
			{% if success %}
			<div class="alert alert-success">Mensagem enviada com sucesso!</div>
			{% endif %}
			
			<div class="form-group avec-form-separator">
				<div class="col-md-4">
					<span><strong>{{ plano }}</strong></span>
                 </div>
                 <div class="col-md-4 col-md-offset-4">
                 	<span>{{ annual_cost }} por ano</span><br>
                 	<h6>({{ pvalue }} cobrado com recorrência mensalmente)</h6>
                </div>
            </div>
            
            <div class="form-group avec-form-separator">
				<div class="col-md-12 col-md-offset-0">
					<ul class="plans__list">
						{% for service in service_list %}
						<li class="plans__item plans__item--selected">
							<a href="" class="plans__link">{{ service }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
            </div>
            
            <div class="form-group avec-form-separator">
				<div class="col-md-4">
					<span><strong>Valor Total em 12 meses:</strong></span>
                 </div>
                 <div class="col-md-4 col-md-offset-4">
                 	<span><strong>{{ annual_cost }}</strong></span><br>
                </div>
            </div>
            
            <div class="form-group avec-form-separator">
				<div class="col-md-12">
					<span><em>Observação: O valor cobrado é por recorrência mensal, e você pode cancelar no momento que desejar, sendo cobrada as frações mensais pelo padrão pro-rata.</em></span>
                 </div>
            </div>
            
            <div class="form-group avec-form-separator">
				<div class="col-md-12"><p>&nbsp;</p><span><strong>Seus dados:</strong></span></div>
            </div>
            
            <div class="form-group avec-form-separator">
				<div class="col-md-12">
					<span><strong>Usuário:</strong></span><br>{{ username }}<br><br>
					<span><strong>Nome:</strong></span><br>{{ name }}<br><br>
					<span><strong>E-mail:</strong></span><br>{{ email }}<br><br>
					<span><strong>Telefone:</strong></span><br>{{ phone }}<br><br>
                 </div>
            </div>
            
            <div class="form-group avec-form-separator">
				<div class="col-md-12"><p>&nbsp;</p><span><strong>Informações para pagamento:</strong></span></div>
            </div>
            
            <div class="form-group avec-form-separator">
            		<div class="col-md-12">
            			<input type="checkbox" id="payment_accept" name="accept" required="required" value="1">
            			<label for="payment_accept">Eu <strong>ACEITO</strong> os <a href="{% url 'terms_conditions' %}" target="_blank">Termos e Condições Gerais</a>
            			(<a href="{% static 'termsofuse/avec-termos-condicoes-gerais.pdf' %}" target="_blank">PDF</a>) e a <a href="{% url 'privacy_statement' %}" target="_blank">Política de Privacidade</a>
            			(<a href="{% static 'termsofuse/avec-politica-privacidade.pdf' %}" target="_blank">PDF</a>)</label>
            			<br>
            			<input type="checkbox" id="terms_conditions_accept" name="accept" required="required" value="1">
            			<label for="terms_conditions_accept">Eu li e aceito os seguintes termos e condições:</label><br>
            			<span>Este produto é para uso comercial. O restante o Daniel elabora e coloca aqui...</span>
            		</div>
            	</div>
            
			<p class="bs-component">
				<!-- <center>
					<input class="btn btn-success btn-sm" type="submit" value="Enviar" /> -->
					<div class="row">
					    <div class="col-md-4 col-md-offset-4">
					        <a href="{% url 'paypal_view' order %}" class="btn btn-default"><span style="display: block;">Pagar com </span><input type="image" src="{% static 'img/paypal.png' %}"/></a>
					    </div>
					</div>
				<!-- </center> -->
			</p>
		</fieldset>
	</form>
</div>

{% endblock %}

