{% extends "avec/layout_interno.html" %}

{% load staticfiles %}

{% block content %}
  <section class="subjects internal">
    <div class="internal__row">
      <h2 class="internal__title">Encontre os dados agrupados por assuntos</h2>
    </div>

    <div class="container">
      <div class="row subjects__row">
        <div class="accordion-toggle">
	<ul>
	
	{% for th in themes %}	
		<li>
			<input id="{{ forloop.counter }}" type="checkbox">
			<label for="{{ forloop.counter }}">{{ th.title }} <span class="icon"></span></label>
			<div class="content">
				<ul>
				{% for subj in th.subject_set.all %}
				  <li><a href="{% url 'subject_detail' pk=subj.pk %}">{{ subj.title }}</a></li>
				{% endfor %}  
				</ul>
			</div>
		</li>    
	{% endfor %}
	</ul>
</div>
      </div>
    </div>
  </section>
{% endblock %}
