{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AVEC - Ciência de dados</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'min/stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/avec.style.css' %}">  
    
   <!-- <link href="css/style2.css" rel="stylesheet">-->
   
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>	
     <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
   
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>	
    <script src="{% static 'js/colorbrewer.js' %}"></script>
 
	<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/crossfilter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dc.js' %}"></script>		
	<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.js' %}"></script>
	<script src="{% static 'js/cloud.js' %}"></script>
   <!--<script type="text/javascript" src="http://www.kunalbabre.com/projects/table2CSV.js" > </script> 	-->


	<script>
		var world_countries = "{% static 'data/worldcountries.json' %}";
	</script>

	
    </head>
<body >
	
    <!-- Start Header Section -->
    {% include "avec/_header.html" with prefi="header__navbar--internal header__navbar--fixed" %}
    <!-- End Header -->


<div class="avec-content">	

  	{% block content %}{% endblock %}	
</div>

    <!-- Start Header Section -->
    {% include "avec/_footer.html" %}
    <!-- End Header -->

<!-- Google Map js -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>

<script src="{% static 'js/main.js' %}"></script>

<script type="text/javascript">


</script>
<script>
    jQuery(document).ready(function( $ ) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>

<script>

  //Hide Overflow of Body on DOM Ready //
$(document).ready(function(){
    $("body").css("overflow", "hidden");
});

// Show Overflow of Body when Everything has Loaded 
$(window).load(function(){
    $("body").css("overflow", "visible");        
    var nice=$('html').niceScroll({
	cursorborder:"5",
	cursorcolor:"#00AFF0",
	cursorwidth:"3px",
	boxzoom:true, 
	autohidemode:true
	});

});
</script>



    </body>
</html>