{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load poll_extras %}
{% block content %}

<div class="container" style="padding-top: 50px;">

	<form class="well form-horizontal" action=" " method="post" id="contact_form">
		{% csrf_token %}
		<fieldset>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">{{ message }}</div>
				{% endfor %}	
			{% endif %}
			<!-- Form Name -->
			<legend>Entre em contato!</legend>
			{% if success %}
			<div class="alert alert-success">Mensagem enviada com sucesso!</div>
			{% endif %}

			<div class="form-group">
				<label class="col-md-4 control-label"> {{ form.name.label_tag }} </label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> {% render_field form.name placeholder="digite seu nome e sobrenome"|add_class:"form-control" %}
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">{{ form.email.label_tag }}</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> {% render_field form.email placeholder="digite seu email"|add_class:"form-control" %}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Telefone</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
						<input type="text" class="form-control phone" id="id_phone" name="phone"  placeholder="(61) 3333-1212">
					</div>
				</div>
			</div>


			<div class="form-group">
				<label class="col-md-4 control-label">Estado</label>
				<div class="col-md-4 selectContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
							<select class="form-control selectpicker" id="id_uf" name="uf" >
								<option value="">Selecione seu estado</option>
								<option value="AC">Acre</option>
								<option value="AL">Alagoas</option>
								<option value="AP">Amapá</option>
								<option value="AM">Amazonas</option>
								<option value="BA">Bahia</option>
								<option value="CE">Ceará</option>
								<option value="DF">Distrito Federal</option>
								<option value="ES">Espírito Santo</option>
								<option value="GO">Goiás</option>
								<option value="MA">Maranhão</option>
								<option value="MT">Mato Grosso</option>
								<option value="MS">Mato Grosso do Sul</option>
								<option value="MG">Minas Gerais</option>
								<option value="PA">Pará</option>
								<option value="PB">Paraíba</option>
								<option value="PR">Paraná</option>
								<option value="PE">Pernambuco</option>
								<option value="PI">Piauí</option>
								<option value="RJ">Rio de Janeiro</option>
								<option value="RN">Rio Grande do Norte</option>
								<option value="RS">Rio Grande do Sul</option>
								<option value="RO">Rondônia</option>
								<option value="RR">Roraima</option>
								<option value="SC">Santa Catarina</option>
								<option value="SP">São Paulo</option>
								<option value="SE">Sergipe</option>
								<option value="TO">Tocantins</option>
							</select>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Mensagem</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span> {% render_field form.message placeholder="digite aqui sua sugestão, comentário, dúvida" class="form-control" %}
						
					</div>
				</div>
			</div>
			<p class="bs-component">
				<center>
					<input class="btn btn-success btn-sm" type="submit" value="Enviar" />
				</center>
			</p>
		</fieldset>
	</form>
</div>

<!-- start located map Section -->
<section id="ltd_map_sec" style="padding-bottom: 40px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="map">
					<div id="slidingDiv">
						<div class="map_area">
							<div id="googleMap" style="width: 100%; height: 300px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Google Map js -->
<script>
	var marker = "{% static 'img/map-marker.png' %}";
</script>

<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0FQ0GoPiAopELwojuTktRI6sMqklMyQ4"></script>
<script>
	function initialize() {
		var mapOptions = {
			zoom : 16,
			scrollwheel : false,
			center : new google.maps.LatLng(-15.7968497, -47.89262309999998)
		};
		var map = new google.maps.Map(document.getElementById('googleMap'),
				mapOptions);
		var marker = new google.maps.Marker({
			position : map.getCenter(),
			animation : google.maps.Animation.BOUNCE,
			icon : marker,
			map : map
		});
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}

