{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}
{% block content %}



        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'min/stylesheets/style.css' %}">		
		<link rel="stylesheet" href="{% static 'css/avec.style.css' %}">		

	
<div class="row">
			<div class="title_sec">
				    <div class="internal__row">
						<h1 class="internal__title">Paineis Interativos</h1>
					</div>
			</div>		
			<div class="col-sm-8 ">
			
				<div class="sngl_blg">						
					<!--<img src="http://cdn.shopify.com/s/files/1/1039/5466/files/blog-img2.jpg?10828543012475550494" alt=""/>
					<div class="post_info">
						<div class="post_intro">
							<i class="fa fa-heartbeat"></i>									
						</div>
					</div>-->
					<div class="post_content">
						<p align=justify>Indicadores, dados e informações apresentados de forma dinâmica, consolidados por diferentes níveis e espaços temporais.
						</p>
					</div>
				</div>
				
						{% for dash in dashboards %}
							<div class="row" style="padding-top: 40px">
								<div class="col-sm-2">
								<a href="{% url dash.url dash.pk %}"><img src="{% static 'img/flattyShadow_red/fs-line.png' %}" alt="" style="width:30%"/></a>
								</div>
								<div class="col-sm-10">
								<div class="author_dec">
									<a href="{% url dash.url dash.pk %}">{{ dash.title }}</a>
									<!--<a href="{{dash.url}}"><p>{{ dash.url }}</p></a>-->
									<p>publicado: {{ dash.published_date }}</p>
								</div>
							   </div>
							</div>
							{% endfor %}
				
							

			</div>				
			
			<div class="col-sm-4">
				<div class="sidebar">						
<!--					<div class="search_widget">
						<input id="sr_bx" type="text" placeholder="Procure nessa categoria...."/>
					</div>				-->
					<div class="widget">
						<h2>{{mysubject.title}}</h2>
						<div class="title_br"></div>
						<ul>
							{% for sub in mysubdetail %}
								<li><a href="{% url 'subsubject_detail'  pk=sub.pk %}">{{sub.title}}</a></li>
							{% endfor %}	
						</ul>
					</div>					

					<div class="widget">
						<h2>palavras-chaves</h2>
						<div class="title_br"></div>
						<ul class="tag">
							{% for key in mykeywords %}
								<li><a href="{% url 'keywords_detail' pk=key.pk %}">{{key.title}}</a></li>
							{% endfor %}
						</ul>
					</div>						
				</div>
			</div>	
		</div>
{% endblock content %}