{% extends "avec/layout.html" %}

{% load staticfiles %}

{% block content %}
      
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/autocomplete.css' %}">
  <section class="banner-search" style="padding-top:30px;">
    <div class="container">
      <div class="row">
        <div class="banner-search__text">
          <h2 class="banner-search__title">AVEC - Plataforma de dados setoriais</h2>
          <p class="banner-search__subtitle">Indicadores, estatísticas e previsões baseadas em informações ativas e descobertas contínuas.</p>
        </div>		

        <div class="banner-search__search">

         <form action="" class="banner-search__form">		 
		    
			<input list="browsers" type="text" id="autocomplete" class="banner-search__input-search"  placeholder="Encontre estatísticas, dados e estudos">

          </form>
		  
        </div>
      </div>
    </div>
  </section>

  <section class="brands">
    <div class="container">
      <div class="row">
        <h2 class="brands__title">Estas e outras fontes que você confia num só lugar</h2>
        <ul class="brands__list">
          <li class="brands__item"><img src="{% static 'img/brands/logo-ibge.svg' %}" alt="IBGE" /></li>
          <li class="brands__item"><img src="{% static 'img/brands/logo-onu.svg' %}" alt="ONU" /></li>
          <li class="brands__item"><img src="{% static 'img/brands/logo-fiesp.svg' %}" alt="FIESP" /></li>
          <li class="brands__item"><img src="{% static 'img/brands/logo-cnpq.svg' %}" alt="CNPQ" /></li>
          <li class="brands__item"><img src="{% static 'img/brands/logo-minis-saude.svg' %}" alt="Ministério da Saúde" /></li>
        </div>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="services__general">
      <div class="services__group">
        <div class="services__image">
          <figure>
            <img src="{% static 'img/tmp/image-box-one.jpg' %}" alt="Serviço" />
          </figure>
        </div>
        <div class="services__content">
          <h2 class="services__title">Mais de 120 bases de dados integradas</h2>

          <p class="services__description">DATA LAKE (lago de dados), com dados, séries históricas e informações sobre os diversos temas e obtidos de fontes oficiais em diversos espaços temporais (algumas séries com mais de 20 anos)</p>

          <a href="assuntos" class="services__button btn">Ver lista de assuntos</a>
        </div>
      </div>
      <div class="services__group">
        <div class="services__image services__image--right">
          <figure>
            <img src="{% static 'img/tmp/image-box-two.jpg' %}" alt="Serviço" />
          </figure>
        </div>
        <div class="services__content">
          <h2 class="services__title">Conheça os Painéis Interativos com informações atualizadas</h2>

          <p class="services__description">Indicadores, dados e informações apresentados de forma dinâmica, consolidados por diferentes níveis e espaços temporais</p>

          <a href="{% url 'dashboard' %}" class="services__button btn">Ver Painéis recentes</a>
        </div>
      </div>
    </div>
  </section>

  <section class="moment-data">
    <h2 class="moment-data__title">Os dados mais relevantes do momento</h2>
    <div class="moment-data__general">
      <div class="container">
        <div class="row">
          <div class="moment-data__graphic moment-data__box">
            <figure>
              <img src="{% static 'img/tmp/info1.jpg' %}" class="moment-data__img-replace">
            </figure>
          </div>
          <div class="moment-data__data-list moment-data__box">
            <ul class="moment-data__list">
              <li class="moment-data__item"><a href="{% url 'post_detail' pk=25 %}" data-image="{% static 'img/tmp/info1.jpg' %}">Cenário de Sífilis na maternidade e no pós nascimento
			  - Número de casos e taxa de detecção  </a> <a href="" class="moment-data__arrow-btn"></a></li>
              <li class="moment-data__item"><a href="{% url 'post_detail' pk=67 %}" data-image="{% static 'img/tmp/info2.jpg' %}">Transfusão de sangue na Rede SUS - Hospitalar
    - Número de transfusões hospitalares - Brasil 2016</a> <a href="" class="moment-data__arrow-btn"></a></li>
              <li class="moment-data__item"><a href="{% url 'post_detail' pk=11 %}" data-image="{% static 'img/tmp/info3.jpg' %}">Tomógrafos computadorizados 
    - Número de tomógrafos computadores existentes, em uso e disponíveis para o SUS</a></li>
              <li class="moment-data__item"><a href="{% url 'post_detail' pk=49 %}" data-image="{% static 'img/tmp/info4.jpg' %}">Roubo de cargas - 
    Quantitativo de roubo de cargas nos Estados de Rio de Janeiro e São Paulo (2013 a 2016)</a></li>
              <li class="moment-data__item"><a href="{% url 'post_detail' pk=39 %}" data-image="{% static 'img/tmp/info5.jpg' %}">Frota de veículos - 
    Frota de veículos emplacados por ano de fabricação - 2016</a></li>
            </ul>
            <a href="assuntos" class="moment-data__btn-list btn">Ver lista de assuntos</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="plans" id="plans">
    <div class="container">
      <div class="row">
        <h2 class="plans__title">Um plano feito sob medida para você</h2>
        <div class="plans__group">
          <div class="plans__box">
            <h3 class="plans__price-title">Plano Básico</h3>
            <div class="plans__price">
              Grátis
            </div>
            <ul class="plans__list">
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos básico</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Estatísticas e infográficos premium</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Download de conteúdos</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Painéis Interativos</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Montagem de retratos setoriais *</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Integração com bases próprias *</a>
              </li>
            </ul>
            <a href="{% url 'accounts:register' %}" class="plans__sign btn btn--blue">Cadastre-se grátis</a>
          </div>
          <div class="plans__box">
            <h3 class="plans__price-title">Plano Profissional</h3>
            <div class="plans__price"><span class="plans__currency">R$</span>30<span class="plans__time">/mês</span></div>
            <ul class="plans__list">
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos básico</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos premium</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Download de conteúdos</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Painéis Interativos</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Montagem de retratos setoriais *</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Integração com bases próprias *</a>
              </li>
            </ul>
            <a href="{% url 'accounts:register_professional_plan' %}" class="plans__sign btn">Assine agora</a>
          </div>
          <div class="plans__box">
            <h3 class="plans__price-title">Plano Empresarial</h3>
            <div class="plans__price"><span class="plans__currency">R$</span>150<span class="plans__time">/mês</span></div>
            <ul class="plans__list">
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos básico</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos premium</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Download de conteúdos</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Painéis Interativos</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Montagem de retratos setoriais *</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Integração com bases próprias *</a>
              </li>
            </ul>
            <a href="{% url 'accounts:register_professional_plan' %}" class="plans__sign btn">Assine agora</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
