{% extends "avec/layout.html" %}

{% load poll_extras %}

{% load staticfiles %}

{% block content %}
<div class="home-app__container container-home">

		<div class="section section_centered bg-parallax">
			<div class="section__inner">
				<div class="container">
					<div class="row">
						<div class="col-md-1 hidden-xs hidden-sm">&nbsp;</div>
						<div class="col-sm-12 col-md-11">
							<div class="row avec-row-search">
								<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
									<h1 class="avec-home-app avec-title-home-conheca text-center avec-title-home-conheca-top">Conheça a realidade.</h1>
									<h1 class="avec-home-app avec-title-home-conheca text-center">Construa conhecimento.</h1>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
									<form class="avec-search-results">
										<div class="input-group stylish-input-group">
											<input type="text" id="autocomplete" class="form-control avec-auto-complete" placeholder="Encontre estatísticas, dados e estudos">
											<span class="input-group-addon avec-input-group-addon">
												<button type="submit" class="btn-avec-success btn-search-data">
													<i class="fa fa-search"></i>
												</button>
											</span>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!-- / .row -->
				</div>
				<!-- / .container -->
			</div>
			<!-- / .section__inner -->
		</div>
		<!-- / .section -->

		<section class="shop-index__section interest_area">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h4 class="shop-index__heading text-center">Estas e outras fontes que você confia num só lugar</h4>
					</div>
				</div> <!-- / .row -->

				<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<div class="shop-index-features__item">
						<img src="{% static 'img/brands/logo-ibge.svg' %}" alt="IBGE" style="padding-top: 10%;"/>
						<!-- <h4 class="shop-index-features__heading">IBGE</h4> -->
					</div>
				</div>
				<div class="col-sm-2">
					<div class="shop-index-features__item">
						<img src="{% static 'img/brands/logo-onu.svg' %}" alt="ONU" />
						<!-- <h4 class="shop-index-features__heading">ONU</h4> -->
					</div>
				</div>
				<div class="col-sm-2">
					<div class="shop-index-features__item">
						<img src="{% static 'img/brands/logo-fiesp.svg' %}" alt="FIESP" />
						<!-- <h4 class="shop-index-features__heading">FIESP</h4> -->
					</div>
				</div>
				<div class="col-sm-2">
					<div class="shop-index-features__item">
						<img src="{% static 'img/brands/logo-cnpq.svg' %}" alt="CNPQ" />
						<!-- <h4 class="shop-index-features__heading">CNPQ</h4> -->
					</div>
				</div>
				<div class="col-sm-2">
					<div class="shop-index-features__item">
						<img src="{% static 'img/brands/logo-minis-saude.svg' %}" alt="Ministério da Saúde" />
						<!-- <h4 class="shop-index-features__heading">Ministério da Saúde</h4> -->
					</div>
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
    </section>

    <div class="section">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12">
    				<h1 class="avec-home-app avec-title-home-app  text-center">Plataforma de dados</h1>
						<h1 class="avec-home-app avec-subtitle-home-app  text-center">Explore, descubra e compartilhe</h1>
    			</div>
				</div>
				<div class="row">
					<div class="col-sm-6">

						<div class="section">

							<ul class="ft-list avec-ft-list">
								<li>Todos os dados, um só ambiente</li>
								<li>Acesse dados de fontes oficiais hoje pulverizados pela web.</li>
								<li>Insights e séries históricas</li>
								<li>Indicadores e séries históricas como suporte à decisões e insights.</li>
								<li>Integração de dados</li>
								<li>Integre dados de diversas fontes oficiais e diferentes setores.</li>
								<li>Estudos e dossiês – Retratos setoriais</li>
								<li>Análises sobre dados setoriais com escopo definido pelo cliente.</li>
								<li>Democratização do conhecimento</li>
								<li>Conhecimento de forma fácil, rápida e diferenciada.</li>
							</ul>

						</div>
						<!-- / .section -->

					</div>
					<div class="col-sm-6">

						<div class="section">

							<img src="{% static 'avecv2.0-template/img/imac-landing.png' %}" alt="imac landing" class="img-responsive">

						</div>
						<!-- / .section -->

					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .section__inner -->
		</div>
		<!-- / .section  -->
		<section class="index-3__section avec-relevant-section">
      <div class="container">

        <!-- Heading -->
        <div class="row">
          <div class="col-sm-12">
            <h1 class="avec-home-app avec-title-home-app  text-center">Os dados mais relevantes do momento</h1>
          </div>
        </div> <!-- / .row -->
        <div class="row avec-relevant-data-row">

          <div class="col-sm-4">

	          {% for post in posts %}
	          <div class="index-3-features-2__item avec-icon-chart">
	          	  <a href="/post/{{ post.id }}" class="avec-icon-link">
	              <div class="index-3-features-2__icon col-sm-2">
	                <i class="fa fa-pie-chart"></i>
	              </div>
	              <div class="col-sm-10">
									<h4 class="index-3-features-2__heading">
		                {{ post.title }}
		              </h4>
									<div class="index-3-features-2__content">
	                	{{ post.text }}
									</div>
	              </div>
	              </a>
	          </div>
	          {% endfor %}
          </div>
          <div class="col-sm-4">

          	{% for simpledash in simpledashs %}
	          <div class="index-3-features-2__item avec-icon-chart">
	          	  <a href="/simpleDash_detail/{{ simpledash.id }}" class="avec-icon-link">
	              <div class="index-3-features-2__icon">
	                <i class="fa fa-cubes"></i>
	              </div>
								<div class="col-sm-10" style="float : right;">
									<h4 class="index-3-features-2__heading">
										{{ simpledash.title }}
									</h4>
									<div class="index-3-features-2__content">
										{{ simpledash.text }}
									</div>
								</div>
	              </a>
	           </div>
	        {% endfor %}

          </div>
          <div class="col-sm-4">

          	{% for panel in panels %}
          	<div class="index-3-features-2__item avec-icon-chart">
          	  <a href="/paineis_detail/{{ panel.id }}" class="avec-icon-link">
              <div class="index-3-features-2__icon">
                <i class="fa fa-area-chart"></i>
              </div>
							<div class="col-sm-10" style="float : right;">
								<h4 class="index-3-features-2__heading">
									{{ panel.title }}
								</h4>
								<div class="index-3-features-2__content">
									{{ panel.text }}
								</div>
							</div>
              </a>
            </div>
          	{% endfor %}

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

	<div class="section" id="plans">
		<div class="section__inner avec-section__inner">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="avec-home-app avec-title-home-app text-center">Um plano feito sob medida para você</h1>
					</div>
				</div>
				<!-- / .row -->

				<div class="row">
					<div class="col-sm-6 col-md-3">

						<div class="pricing-option">
							<div class="pricing-option__inner">
								<div class="home-app-pricing__title avec-pricing-title">Free</div>
								<div class="home-app-pricing__price">
									Grátis
								</div>
								<div class="pricing-option__body">
									<div class="home-app-pricing__content">Infográficos Estatísticos*</div>
									<div class="home-app-pricing__extra plans__item--no-selected">Painéis Interativos</div>
									<div class="home-app-pricing__extra home-app-pricing__bottom_extra plans__item--no-selected">Download PDF, JPEG, PNG, CSV e XLSX</div>
									<a {% if request.user|has_group:1 or request.user|has_group:2 or request.user|has_group:3 %} href="javascript:void(0)" disabled="disabled"{% else %} href="{% url 'accounts:register' %}" {% endif %} class="btn btn-default btn-avec-cadastrar">Cadastre-se Grátis</a>
								</div>
							</div>
						</div>
						<!-- / .pricing-option -->

					</div>
					<div class="col-sm-6 col-md-3">

						<div class="pricing-option">
							<div class="pricing-option__inner">
								<div class="home-app-pricing__title avec-pricing-title">Student</div>
								<div class="home-app-pricing__price">
									<span>R$</span>23<span>,90/mês</span>
								</div>
								<div class="pricing-option__body">
									<div class="home-app-pricing__content">Infográficos Estatísticos</div>
									<div class="home-app-pricing__extra">Painéis Interativos*</div>
									<div class="home-app-pricing__extra home-app-pricing__bottom_extra plans__item--no-selected">Download PDF, JPEG, PNG, CSV e XLSX</div>
									{% if request.user.id %}
						            	{% if request.user|has_group:2 or request.user|has_group:3 or request.user|has_group:5 %}
							            	<a  href="javascript:void(0)" disabled="disabled" class="btn btn-secondary btn-avec-secundary">Adquira</a>
							            {% else %}
							            	<form action="{% url 'accounts:update_subscription' %}" method="post">
						               			{% csrf_token %}
						               			<input type="hidden" name="user_id" value="{{ request.user.id }}">
						               			<input type="hidden" name="plan_id" value="5">
						               			<button type="submit" class="btn btn-default "><i class="fa fa-pie-chart"></i> Atualizar agora</button>
						               		</form>
							            {% endif %}
							        {% else %}
							        	<a href="{% url 'accounts:register_avec_plan' 'plano-padrao' %}" class="btn btn-secondary btn-avec-secundary " >Adquira</a>
							        {% endif %}
								</div>
							</div>
						</div>
						<!-- / .pricing-option -->

					</div>
					<div class="clearfix visible-sm"></div>
					<div class="col-sm-6 col-md-3">

						<div class="pricing-option pricing-option_popular">
							<div class="pricing-option__inner">
								<div class="home-app-pricing__title avec-pricing-title">Professional</div>
								<div class="home-app-pricing__price">
									<span>R$</span>49<span>,90/mês</span>
								</div>
								<div class="pricing-option__body">
									<div class="home-app-pricing__content">Infográficos Estatísticos</div>
									<div class="home-app-pricing__extra">Painéis Interativos</div>
									<div class="home-app-pricing__extra home-app-pricing__bottom_extra">Download PDF, JPEG, PNG, CSV e XLSX</div>
									{% if request.user.id %}
						            	{% if request.user|has_group:2 or request.user|has_group:3 %}
							            	<a  href="javascript:void(0)" disabled="disabled" class="btn btn-secondary btn-avec-secundary">Adquira</a>
							            {% else %}
							            	<form action="{% url 'accounts:update_subscription' %}" method="post">
						               			{% csrf_token %}
						               			<input type="hidden" name="user_id" value="{{ request.user.id }}">
						               			<input type="hidden" name="plan_id" value="2">
						               			<button type="submit" class="btn btn-default"><i class="fa fa-graduation-cap"></i> Atualizar agora</button>
						               		</form>
							            {% endif %}
							        {% else %}
							        	<a href="{% url 'accounts:register_avec_plan' 'plano-profissional' %}" class="btn btn-secondary btn-avec-secundary" >Adquira</a>
							        {% endif %}
								</div>
							</div>
						</div>
						<!-- / .pricing-option -->

					</div>
					<div class="col-sm-6 col-md-3">

						<div class="pricing-option">
							<div class="pricing-option__inner">
								<div class="home-app-pricing__title avec-pricing-title">Enterprise</div>
								<div class="home-app-pricing__price">
									<i class="fa fa-pencil" style="font-size: 40px;"></i>
								</div>
								<div class="pricing-option__body">
									<div class="home-app-pricing__extra home-app-pricing__extra-enterprise" style="margin-bottom: 42px;">Construa seu próprio ambiente de visualização, integrando bases próprias com nossas bases setoriais.</div>
									{% if request.user.id %}
						            	{% if request.user|has_group:3 %}
							            	<a  href="javascript:void(0)" disabled="disabled" class="btn btn-secondary btn-avec-contato">Entre em contato</a>
							            {% else %}
						               		<a href="{% url 'contact' %}" class="btn btn-secondary btn-avec-contato" >Entre em contato </a>
							            {% endif %}
							        {% else %}
							        	<a href="{% url 'contact' %}" class="btn btn-default btn-avec-cadastrar" >Entre em contato </a>
							        {% endif %}
								</div>
							</div>
						</div>
						<!-- / .pricing-option -->

					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</div>
		<!-- / .section__inner -->
	</div>

</div>
{% endblock %}
