{% extends 'avec/layout_interno.html' %}
{% load socialaccount %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="topic">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3 style="font-size: 18px;">Avec Login</h3>
			</div>
			<div class="col-sm-8">
				<ol class="breadcrumb pull-right hidden-xs" style="margin-top: 0px;">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li class="active">Login</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="home-app__container contaniner-pagamento" >
	<div class="section" style="margin-top: 40px;">

    <div class="container">
        	<div class="row">
            <div class="col-md-3"></div>
              <div class="col-md-5 form-register-avec" style="background-color: #ffffff;">

    			<div class="sign__form avec-register">

    				<h3 class="sign-form__title avec-pagamento-title avec-register-title">Login</h3>

    				 <form role="form" action="{% url 'logar' %}" method="post">
    				 	{% csrf_token %}

              <!-- Already have account -->
              <div class="avec-possui-conta avec-nao-possui-conta">
                <div class="row">
                <p class="avec-possui-conta-Fa"> Não tem uma conta ainda? <a class="avec-possui-conta-Fa avec-text-style-1" href="{% url 'accounts:register' %}">Registre-se agora! É gratuito!</a> </p>
                   <!-- Esqueceu a senha -->

                </div>
              </div>

              <!-- Sign up link -->
              <div class="row avec-row-social" style="padding-bottom:30px;">
                <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-facebook avec-btn-facebook" ><i class="fa fa-facebook"></i>Login com Facebook</a>
                <a href="{% provider_login_url 'google' method='oauth2' %}" class="btn btn-google-plus avec-btn-google-plus" ><i class="fa fa-google-plus"></i>Login com Google</a>
              </div>


    					<!-- Email -->
    					<div class="form-group form-group-avec form-group-avec-register">
    						<label for="{{ form.username.auto_id }}" class="sr-only">Usuário</label>
    						<div class="input-group input-group-avec-user input-group-avec-user-register">
    							<span class="input-group-addon"><i class="fa fa-user"></i></span>
    							<input type="text" id="{{ form.username.auto_id }}" class="form-control avec-register-input" name="{{ form.username.name }}" placeholder="{{ form.username.label }}" required="required" autofocus="autofocus">
    						</div>
    					</div>
    					<!-- / .form-group -->

    					<!-- Password -->
    					<div class="form-group form-group-avec form-group-avec-register">
    						<label for="{{ form.password.auto_id }}" class="sr-only">Senha</label>
    						<div class="input-group input-group-avec-user input-group-avec-user-register">
    							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
    							<input type="password" id="{{ form.password.auto_id }}" class="form-control avec-register-input" name="{{ form.password.name }}"  placeholder="{{ form.password.label }}" required="required">
    						</div>
    					</div>
    					<!-- / .form-group -->

              <!-- Remember me -->
    					<div class="form-group">
    						<div class="checkbox checkbox-avec">
    							 <label class="avec-remember-me"> <input type="checkbox"> Remember me </label>
                   <!-- Esqueceu a senha -->
                 <a href="#lost-password__form" id="btn-forgot-password" class="avec-forgot-password" data-toggle="collapse" aria-expanded="false" aria-controls="lost-password__form">Esqueceu senha Senha?</a>
    						</div>
    					</div>

              <!-- Submit -->
    					 {% if form.errors %}
    					 <div class="alert alert-danger" style="margin-bottom: 10px;">Usuário e/ou senha inválidos. Tente novamente.</div>
    					 {% endif %}
               <div class="form-group">
    					        <button type="submit" class="btn btn-avec-success avec-permission-login">ENTRAR</button>
               </div>

    				</form>

    				<!-- <div class="collapse" id="lost-password__form">

    					<p class="text-muted">Enter your email address below and we
    						will send you a link to reset your password.</p>

    					Lost password
    					<form class="form-inline">
    						<div class="form-group">
    							<label class="sr-only" for="lost-password__email">Email
    								address</label> <input type="email" class="form-control"
    								id="lost-password__email" placeholder="Enter email">
    						</div>
    						<button type="submit" class="btn btn-secondary">Send</button>
    					</form>

    				</div> -->
    				<!-- lost-password__form -->

    			</div>
    			<!-- / .sign__form -->

    		</div>
    	</div>
    	<!-- / .row -->
    </div>
  </div>
 </div>
</div>
{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
