{% extends 'avec/layout_interno.html' %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container">
	<header>
        <div class="mpt-container">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
				<div class="col-lg-4 col-lg-offset-4">
                    <div class="intro-text" style="padding-top: 40%;">
                    	<div class="card card-container card-webapp">
                    		<span class="avec-login-title">AVEC Data</span>
                    		<div class="avec-login-logo img-responsive">
                    			<i class="fa fa-user-circle-o"></i>
                    		</div>
				            <hr>
				            <form class="form-signin" role="form" action="{% url 'logar' %}" method="post">
				            	{% csrf_token %}
				                <span id="reauth-email" class="reauth-email"></span>
				                
				                <input type="email" id="{{ form.username.auto_id }}" class="form-control" name="{{ form.username.name }}" placeholder="Usuário" required="required" autofocus="autofocus">
				                
				                <input type="password" id="{{ form.password.auto_id }}" class="form-control" name="{{ form.password.name }}" placeholder="Senha" required="required">
				                
				                <div id="remember" class="checkbox">
				                    <label>
				                        <!-- <input type="checkbox" value="remember-me"> Manter conectado -->
				                    </label>
				                </div>
				                <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin btn-mpt" value="Entrar"><i class="fa fa-key" aria-hidden="true"></i>Entrar</button>
				                <a href="#" class="forgot-password">Esqueceu a senha?</a>
				                <input type="hidden" name="next" value="{{ next }}" />
				                {% if form.errors %}
									<div class="alert alert-danger" style="margin-bottom: 0px;">Usuário e/ou senha inválidos. Tente novamente.</div>
								{% endif %}
				            </form>
				        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}