{% extends 'avec/layout_interno.html' %}
{% load socialaccount %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="topic">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3 style="font-size: 18px;">Avec Login</h3>
			</div>
			<div class="col-sm-8">
				<ol class="breadcrumb pull-right hidden-xs" style="margin-top: 0px;">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li class="active">Login</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

			<div class="sign__form">

				<h3 class="sign-form__title">Use Sua Conta AVEC</h3>

				 <form role="form" action="{% url 'logar' %}" method="post">
				 	{% csrf_token %}
					<!-- Email -->
					<div class="form-group">
						<label for="{{ form.username.auto_id }}" class="sr-only">Usuário</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" id="{{ form.username.auto_id }}" class="form-control" name="{{ form.username.name }}" required="required" autofocus="autofocus">
						</div>
					</div>
					<!-- / .form-group -->

					<!-- Password -->
					<div class="form-group">
						<label for="{{ form.password.auto_id }}" class="sr-only">Senha</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" id="{{ form.password.auto_id }}" class="form-control" name="{{ form.password.name }}" required="required">
						</div>
					</div>
					<!-- / .form-group -->

					<!-- Remember me -->
					<div class="form-group">
						<div class="checkbox">
							<!-- <label> <input type="checkbox"> Remember me </label> -->
						</div>
					</div>
					<!-- / .form-group -->

					<!-- Submit -->
					 {% if form.errors %}
					 <div class="alert alert-danger" style="margin-bottom: 10px;">Usuário e/ou senha inválidos. Tente novamente.</div>
					 {% endif %}
					<button type="submit" class="btn btn-primary">Entrar</button>
					<hr>
				</form>

				<!-- Sign up link -->
				
				<a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-facebook" ><i class="fa fa-facebook"></i>Login com Facebook</a>
                <a href="{% provider_login_url 'google' method='oauth2' %}" class="btn btn-google-plus" ><i class="fa fa-google-plus"></i>Login com Google</a>
                <input type="hidden" name="next" value="{{ next }}" />
				<hr>
				<p>
					Não tem uma conta? <a href="{% url 'accounts:register' %}">Crie uma!</a>
				</p>

				<p>Esqueceu senha Senha? <a href="#lost-password__form" id="btn-forgot-password" data-toggle="collapse" aria-expanded="false" aria-controls="lost-password__form"> Clique aqui para Recuperar. </a></p>

				<!-- <div class="collapse" id="lost-password__form">

					<p class="text-muted">Enter your email address below and we
						will send you a link to reset your password.</p>

					Lost password
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="lost-password__email">Email
								address</label> <input type="email" class="form-control"
								id="lost-password__email" placeholder="Enter email">
						</div>
						<button type="submit" class="btn btn-secondary">Send</button>
					</form>

				</div> -->
				<!-- lost-password__form -->

			</div>
			<!-- / .sign__form -->

		</div>
	</div>
	<!-- / .row -->
</div>

{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}