{% extends 'avec/layout_interno.html' %}
{% load socialaccount %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="topic">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3 style="font-size: 18px;">Avec Login</h3>
			</div>
			<div class="col-sm-8">
				<ol class="breadcrumb pull-right hidden-xs" style="margin-top: 0px;">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li class="active">Login</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="home-app__container contaniner-pagamento">
	<div class="section" style="margin-top: 40px;">

<div class="container">
	<div class="row">
    <div class="col-md-4"></div>
		<div class="col-md-4" style="background-color: #ffffff;">

      <div class="row" style="background-color: #3dc1d0;height: 90px;"></div>
      <div class="row" style="background-color: #67c9d5;height: 50px;">
          <h3 class="avec-permissao-form__title">EXCLUSIVO PARA ASSINANTES</h3>
      </div>
			<div class="sign__form avec-permission">

        <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-facebook" ><i class="fa fa-facebook"></i>Login com Facebook</a>
                <a href="{% provider_login_url 'google' method='oauth2' %}" class="btn btn-google-plus" ><i class="fa fa-google-plus"></i>Login com Google</a>
                <input type="hidden" name="next" value="{{ next }}" />


				<p class="avec-crie-conta">
					ou entre com o login
				</p>



				 <form role="form" action="{% url 'logar' %}" method="post">
				 	{% csrf_token %}
					<!-- Email -->
					<div class="form-group form-group-avec">
						<label for="{{ form.username.auto_id }}" class="sr-only">Usuário</label>
						<div class="input-group input-group-avec-user">
							<span class="input-group-addon avec-input-group-addon"><i class="fa fa-envelope fa-icon-avec"></i></span>
							<input type="text" id="{{ form.username.auto_id }}" class="form-control" name="{{ form.username.name }}" required="required" autofocus="autofocus">
						</div>
					</div>
					<!-- / .form-group -->

					<!-- Password -->
					<div class="form-group form-group-avec">
						<label for="{{ form.password.auto_id }}" class="sr-only">Senha</label>
						<div class="input-group input-group-avec-password">
							<span class="input-group-addon avec-input-group-addon "><i class="fa fa-lock fa-icon-avec"></i></span>
							<input type="password" id="{{ form.password.auto_id }}" class="form-control" name="{{ form.password.name }}" required="required">
						</div>
					</div>
					<!-- / .form-group -->

					<!-- Remember me -->
					<div class="form-group">
						<div class="checkbox checkbox-avec">
							 <label class="avec-remember-me"> <input type="checkbox"> Remember me </label>
               <!-- Esqueceu a senha -->
             <a href="#lost-password__form" id="btn-forgot-password" class="avec-forgot-password" data-toggle="collapse" aria-expanded="false" aria-controls="lost-password__form">Esqueceu senha Senha?</a>
						</div>
					</div>






					<!-- / .form-group -->

					<!-- Submit -->
					 {% if form.errors %}
					 <div class="alert alert-danger" style="margin-bottom: 10px;">Usuário e/ou senha inválidos. Tente novamente.</div>
					 {% endif %}
           <div class="form-group">
					        <button type="submit" class="btn btn-avec-success avec-permission-login">ENTRAR</button>
           </div>
					<hr>
				</form>

				<!-- Sign up link -->
        <p class="avec-acesso-completo-title">
					Tenha acesso completo, assine o <b>Plano Profissional</b>
				</p>
        <p class="avec-acesso-completo-content">
          Estatísticas e infográficos básicos
        </p>
        <p class="avec-acesso-completo-content">
          Estatísticas e infográficos premium
        </p>
        <p class="avec-acesso-completo-content">
          Download de conteúdo
        </p>
        <p class="avec-acesso-completo-content">
          Acesso a todos painéis interativos
        </p>
			</div>
			<!-- / .sign__form -->


	</div>
	<!-- / .row -->
</div>
</div>
</div>
{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
