{% extends "avec/layout_interno.html" %}

{% load staticfiles %}

{% block content %}
<div class="avec-content">
    <div class="internal__row">
      <h2 class="internal__title">Quem somos</h2>
    </div>
  <section class="quemsomos">
    <div class="quemsomos__general">
      <div class="quemsomos__group">
        <div class="quemsomos__content">
          <h2 class="quemsomos__title">Missão</h2>	  

          <p class="quemsomos__description" style="align:justify; max-width:640px; align-self: center;">Somos uma plataforma de dados setoriais com um vasto lago de dados a serem consumidos pela sociedade, em busca da melhoria dos serviços prestados pelas empresas, acelerando os estudos de pesquisadores e estudantes acadêmicos, agilizando o processo de obtenção de dados fidedignos pelas empresas de consultoria que necessitam de informações em setores dos mais diveros, como também disponibilizando, de um modo ágil e interativo, todo o conjunto de dados abertos hoje pulverizado em diversos canais pela web. </p> 
          
        </div>
      </div>
	  
    </div>
  </section>

  <section class="quemsomos-white">
    <div class="quemsomos-white__general">
      <div class="quemsomos-white__group">
        <div class="quemsomos-white__content">
          <h2 class="quemsomos-white__title">Visão</h2>	  

          <p class="quemsomos-white__description" style="align:justify; max-width:640px; align-self: center;">A Avec é uma empresa inovadora no conceito de ciência dos dados. Nós acreditamos no valor dos dados e saber extrair deles o máximo de conhecimento. Como uma startup, nasceu em Brasília e vem ao mercado com o conceito de inovação no mercado de dados e informações, oferecendo serviços tecnológicos de valor agregado à sociedade.</p> 
        </div>
      </div>
	  
    </div>
  </section>
  
  <section class="quemsomos">
    <div class="quemsomos__general">
      <div class="quemsomos__group">
        <div class="quemsomos__content">
          <h2 class="quemsomos__title">Valores</h2>	  

          <p class="quemsomos__description" style="align:justify; max-width:640px; align-self: center;">Com a convicção que um dado ou informação isolado frequentemente nos fornece uma imagem distorcida ou incompleta da situação, concebemos uma plataforma em que a beleza da mesma é justamente integrar dados de fontes diversas, agregando valores aos mesmos através de correlações e descobertas contínuas.</p>


        </div>
      </div>
	  
    </div>
  </section>

  <section class="quemsomos-white">
    <div class="quemsomos-white__general">
      <div class="quemsomos-white__group">
        <div class="quemsomos-white__content">
          <h2 class="quemsomos-white__title">Equipe</h2>	  

          <p class="quemsomos-white__description" style="align:justify; max-width:640px; align-self: center;">Formada por um time de profissionais multidisciplinares, com conhecimentos em áreas de ciência de dados, gestão corporativa, consultoria corporativa de compliance, tecnologia da informação e telecomunicações, com o intuito de inovarem no mundo sempre respeitando ao próximo, agindo com simplicidade, clareza e sinceridade, contribuindo com nosso conhecimento obtido na área de inteligência de dados já há mais de 30 anos.</p>


        </div>
      </div>
	  
    </div>
  </section>
  
  <section class="services-mensagem" >
    <div class="services-mensagem__general">
      <div class="services-mensagem__group">
		<div class="services-mensagem__content">	

			  <p class="services-mensagem__description" style="width: 100%; text-align: center;">"Na busca de um um mundo cada vez melhor e que agregue valores para a sociedade."</p>

        </div>
		
				
      </div>

    </div>
  </section>    
</div>
 
{% endblock %}
