{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

<div class="home-app__container container-quemsomos">

	<div class="section section_centered section-quemsomos" style="height: 300px;">
		<div class="section__inner">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-11">
						<div class="row avec-row-search">
							<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
								<h1 class="avec-home-app avec-title-home-app text-center">Quem Somos</h1>
							</div>
						</div>

					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</div>
		<!-- / .section__inner -->
	</div>
	<!-- / .section -->

	<div class="section" style="margin: 40px 0;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="avec-home-app text-center avec-quemsomos-title">Somos uma plataforma de dados setoriais com um <strong>vasto lago de dados</strong> a ser consumidos pela sociedade.</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<hr style="margin: 40px 0;">
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">

					<div class="section">

						<span style="font-size: 18px;">O que nos une e nos move é a nossa paixão em construir um ambiente onde cada vez mais projetos possam ganhar vida, impactando pessoas no brasil e no mundo. Somos uma equipe sempre atenta às Inovações tecnológicas e com muito foco no usuário.</span>
					</p>
						<span style="font-size: 18px;">	O resultado são soluções criativas, que enriquecem nossos usuários e trazem satisfação e reconhecimento para a empresa.
							Nossa grande missão é desenvolvermos, por meio de uma plataforma de baixo custo e alta qualidade, um relacionamento longo e de sucesso com nossos parceiros e usuários e fazermos parte da revolução em tratamento de dados e acesso ao conhecimento.</span>

					</div>


				</div>
				<!--<div class="col-md-4 col-md-offset-2">

					<div class="section">

						<span style="font-size: 18px;">O que nos une e nos move é a nossa paixão em construir um ambiente onde cada vez mais projetos possam ganhar vida, impactando pessoas no brasil e no mundo. Somos uma equipe sempre atenta às Inovações tecnológicas e com muito foco no usuário.
							O resultado são soluções criativas, que enriquecem nossos usuários e trazem satisfação e reconhecimento para a empresa.</span>

					</div>


				</div>
				<div class="col-md-4 col-md-offset-1">

					<div class="section">

						<span style="font-size: 18px;">   Nossa grande missão é desenvolvermos, por meio de uma plataforma de baixo custo e alta qualidade, um relacionamento longo e de sucesso com nossos parceiros e usuários e fazermos parte da revolução em tratamento de dados e acesso ao conhecimento.</span>

					</div>


				</div>-->
			</div>
			<!-- / .row -->
		</div>
		<!-- / .section__inner -->
	</div>
	<!-- / .section  -->
	<section class="index-3__section avec-relevant-section">
		<div class="container">

			<!-- Heading -->
			<div class="row">
				<div class="col-md-12">

					<h2 class="avec-home-app text-center avec-title-home-app avec-quemsomos-title" style="margin-bottom: 40px;">Diferenciais</h2>


				</div>
			</div>
			<!-- / .row -->
			<div class="row avec-relevant-data-row">

				<div class="col-md-4">


					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<!-- <i class="fa fa-print" style="font-size: 46px; color: #3dc1d0; padding-bottom: 20px;"></i> -->
						<span class="icon-printer-text avec-icon-quemsomos"></span><br>

						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >Download e impressão</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">Imprima e baixe facilmente as estatísticas para compor seus relatórios e estudos acadêmicos.</div>
					</div>

				</div>
				<div class="col-md-4">


					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-lock-stripes avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >Controle de acesso</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">Crie seu próprio ambiente de dados com acesso restrito ou liberado conforme interesse em compartilhar.</div>
					</div>


				</div>
				<div class="col-md-4">


					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-document-diagrams avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >Usabilidade e praticidade</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">Transforme seus dados em fontes de conhecimento prático, facilmente consumível.</div>
					</div>


				</div>
			</div>

			<div class="row avec-relevant-data-row">

				<div class="col-md-4">

					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-award2 avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >Descubra novos dados</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">Surpreenda-se com o conteúdo de nosso data lake alimentado por fontes oficiais do Brasil e do mundo.</div>
					</div>

				</div>
				<div class="col-md-4">

					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-cloud-download avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >Seus dados na nuvem</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">Tenha a segurança de não perder seus dados e acessá-los de qualquer lugar do planeta.</div>
					</div>

				</div>
				<div class="col-md-4">

					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-trophy2 avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >Plataforma leve e acessível</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">Visualize seus dados em uma plataforma leve e prática em qualquer dispositivo, sem necessidade de instalar aplicativos.</div>
					</div>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>

	<div class="section" style="margin: 40px 0; padding: 40px 0px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="headline-lg avec-title-nosso-time-gross">Nosso Time</h2>
					<h4 class="avec-title-nosso-time">Uma equipe apaixonada pelo que faz, buscando revolucionar o mercado de dados no Brasil e no mundo. Possuímos pessoas de grande destaque nacional em consumo e tratamento de dados ligados à saúde e temas sociais, apoiadas por colaboradores talentosos e dinâmicos na trilha pela disseminação do conhecimento.</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-xs-6 avec-foto">
					<div class="user-avatar  text-center">
						<a href="https://www.linkedin.com/in/emanuel-porangaba-6634b15a/" class="avec-linkedin">
							<i class="fa fa-linkedin-square"> <span>/EmanuelPorangaba</span></i>
							<img class="img-responsive center-block avec-center-block" src="{% static 'img/emanuel.jpg' %}" alt="...">
						</a>
						<span class="avec-nome-colaborador">Emanuel Porangaba</span>
		            	<p class="text-muted avec-cargo-colaborador">CEO / Co-fundador</p>
		          </div>

		        </div>
		        <div class="col-sm-3 col-xs-6 avec-foto">

		          <div class="user-avatar  text-center">
		          	<a href="https://www.linkedin.com/in/vinicius-torres-b3437834/" class="avec-linkedin">
						<i class="fa fa-linkedin-square"> <span>/ViniciusTorres</span></i>
						<img class="img-responsive center-block avec-center-block" src="{% static 'img/vinicius.jpg' %}" alt="...">
					</a>
					<span class="avec-nome-colaborador">Vinícius Torres</span>
	            	<p class="text-muted avec-cargo-colaborador">Analista de Dados / Co-fundador</p>
		          </div>

		        </div>
		        <div class="col-sm-3 col-xs-6 avec-foto">

		          <div class="user-avatar  text-center">
		          	<a href="https://www.linkedin.com/in/daniel-porangaba-921b66101/" class="avec-linkedin">
						<i class="fa fa-linkedin-square"> <span>/DanielPorangaba</span></i>
						<img class="img-responsive center-block avec-center-block" src="{% static 'img/daniel.jpg' %}" alt="...">
					</a>
					<span class="avec-nome-colaborador">Daniel Porangaba</span>
	            	<p class="text-muted avec-cargo-colaborador">Diretor de Operações / Co-fundador</p>
		          </div>
		        </div>
		        <div class="col-sm-3 col-xs-6">

		          <div class="user-avatar text-center">
		            <a href="https://www.linkedin.com/in/geovanimeida/" class="avec-linkedin">
						<i class="fa fa-linkedin-square"> <span>/GeovaniAlmeida</span></i>
						<img class="img-responsive center-block avec-center-block" src="{% static 'img/geovani.jpg' %}" alt="...">
					</a>
					<span class="avec-nome-colaborador">Geovani Almeida</span>
	            	<p class="text-muted avec-cargo-colaborador">Product Designer</p>
		          </div>
		        </div>
		      </div> <!-- / .row -->
		      <div class="row">
		      	<div class="col-md-12">
		      		<h2 class="avec-home-app text-center avec-quemsomos-title" style="font-size: 44px; margin-top: 80px; margin-bottom: 30px; color: #3e4c5b; ">Ajude-nos a construir conhecimento</h2>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<p style="text-align: center;"><a href="https://www.linkedin.com/company-beta/11160834" class="btn btn-lg btn-primary btn-avec-vagas">VER VAGAS ABERTAS</a> </p>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<p>&nbsp;</p>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<h2 class="avec-home-app text-center avec-quemsomos-title" style="font-size: 44px; margin-top: 80px; margin-bottom: 40px; color: #3e4c5b; ">Investidores</h2>
		      	</div>
		      </div>

		      <div class="row">
				<div class="col-sm-4 col-xs-12">

					<div class="footer-post__img investidores-img">
                      <!-- <img class="img-responsive center-block" src="{% static 'img/photo-6.jpg' %}" alt="..."> -->
                    </div>
		        </div>
		        <div class="col-sm-4 col-xs-12">

		          <div class="footer-post__img investidores-img">
                      <img class="img-responsive center-block" src="{% static 'img/walfran.png' %}" alt="...">
                  </div>

		        </div>
		        <div class="col-sm-4 col-xs-12">

		        	<div class="footer-post__img investidores-img">
                      <!-- <img class="img-responsive center-block" src="{% static 'img/photo-3.jpg' %}" alt="..."> -->
                  	</div>

		        </div>
		     </div>
		     <div class="row">
				<div class="col-sm-4 col-xs-12">
					<!-- <h3 class="text-center">Bill Gates</h3> -->
		        </div>
		        <div class="col-sm-4 col-xs-12">
		        	<h3 class="text-center">Walfran Monteiro</h3>
		        </div>
		        <div class="col-sm-4 col-xs-12">
		        	<!-- <h3 class="text-center">Larry Ellison</h3> -->
		        </div>
		     </div>
		</div>
		<!-- / .section__inner -->
	</div>

</div>
{% endblock %}

  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDBL3P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
