{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}

{% block content %}
<div class="home-app__container container-quemsomos">

	<div class="section section_centered bg-parallax section-quemsomos">
		<div class="section__inner">
			<div class="container">
				<div class="row">
					<div class="col-md-1 hidden-xs hidden-sm">&nbsp;</div>
					<div class="col-sm-12 col-md-11">
						<div class="row avec-row-search">
							<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
								<h1 class="avec-home-app text-center">Quem Somos</h1>
							</div>
						</div>

					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</div>
		<!-- / .section__inner -->
	</div>
	<!-- / .section -->

	<div class="section" style="margin: 40px 0;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="avec-home-app text-center avec-quemsomos-title">Somos uma plataforma de dados setoriais com um <strong>vasto lago de dados</strong> a serem consumidos pela sociedade.</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">

					<div class="section">

						<h3>Em busca da melhoria dos serviços prestados pelas empresas, acelerando os estudos de pesquisadores e estudantes acadêmicos, agilizando o 
						processo de obtenção de dados fidedignos pelas empresas de consultoria que necessitam de informações em setores dos mais diversos. como também
						 disponibilizando, de um modo ágil e interativo, todo o conjunto de dados abertos hoje pulverizadp em diversos canais pela web.</h3>

					</div>
					<!-- / .section -->

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .section__inner -->
	</div>
	<!-- / .section  -->
	<section class="index-3__section avec-relevant-section">
		<div class="container">

			<!-- Heading -->
			<div class="row">
				<div class="col-md-12">

					<h2 class="avec-home-app text-center avec-quemsomos-title" style="margin-bottom: 40px;">Diferenciais</h2>


				</div>
			</div>
			<!-- / .row -->
			<div class="row avec-relevant-data-row">

				<div class="col-md-4">

					
					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<i class="fa fa-print" style="font-size: 46px; color: #3dc1d0; padding-bottom: 20px;"></i><br>
						<h4 class="index-3-features-2__heading" style="font-weight: bold; margin-bottom: 10px;">What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content" style="font-size: 17px;">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>
					
				</div>
				<div class="col-md-4">

					
					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<i class="fa fa-lock" style="font-size: 46px; color: #3dc1d0; padding-bottom: 20px;"></i><br>
						<h4 class="index-3-features-2__heading" style="font-weight: bold; margin-bottom: 10px; ">What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content" style="font-size: 17px;">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>
					

				</div>
				<div class="col-md-4">

					
					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<i class="fa fa-file-text-o" style="font-size: 46px; color: #3dc1d0; padding-bottom: 20px;"></i><br>
						<h4 class="index-3-features-2__heading" style="font-weight: bold; margin-bottom: 10px; ">What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content" style="font-size: 17px;">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>
					

				</div>
			</div>
			
			<div class="row avec-relevant-data-row">

				<div class="col-md-4">

					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<i class="fa fa-print" style="font-size: 46px; color: #3dc1d0; padding-bottom: 20px;"></i><br>
						<h4 class="index-3-features-2__heading" style="font-weight: bold; margin-bottom: 10px;">What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content" style="font-size: 17px;">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>
					
				</div>
				<div class="col-md-4">
				
					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<i class="fa fa-cloud-download" style="font-size: 46px; color: #3dc1d0; padding-bottom: 20px;"></i><br>
						<h4 class="index-3-features-2__heading" style="font-weight: bold; margin-bottom: 10px; ">What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content" style="font-size: 17px;">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>

				</div>
				<div class="col-md-4">
				
					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<i class="fa fa-trophy" style="font-size: 46px; color: #3dc1d0; padding-bottom: 20px;"></i><br>
						<h4 class="index-3-features-2__heading" style="font-weight: bold; margin-bottom: 10px; ">What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content" style="font-size: 17px;">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>
					
				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>
	
	<div class="section" style="margin: 40px 0; padding: 40px 0px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="headline-lg">Nosso Time</h2>
					<h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="user-avatar shadow-effect text-center">
						<img class="img-responsive center-block" src="{% static 'img/photo-6.jpg' %}" alt="...">
		            Jane Doe
		            <p class="text-muted">Founder</p>
		          </div>
		
		        </div>
		        <div class="col-sm-3 col-xs-6">
		
		          <div class="user-avatar shadow-effect text-center">
		            <img class="img-responsive center-block" src="{% static 'img/photo-2.jpg' %}" alt="...">
		            John Doe
		            <p class="text-muted">Engineer</p>
		          </div>
		
		        </div>
		        <div class="col-sm-3 col-xs-6">
		
		          <div class="user-avatar shadow-effect text-center">
		            <img class="img-responsive center-block" src="{% static 'img/photo-3.jpg' %}" alt="...">
		            John Doe
		            <p class="text-muted">Sales</p>
		
		          </div>
		        </div>
		        <div class="col-sm-3 col-xs-6">
		
		          <div class="user-avatar shadow-effect text-center">
		            <img class="img-responsive center-block" src="{% static 'img/photo-4.jpg' %}" alt="...">
		            Jane Doe
		            <p class="text-muted">Admin Team</p>
		
		          </div>
		        </div>
		      </div> <!-- / .row -->
		      <div class="row">
		      	<div class="col-md-12">
		      		<h2 class="avec-home-app text-center avec-quemsomos-title" style="font-size: 44px; margin-top: 80px; margin-bottom: 40px; color: #3e4c5b; ">Ajude-nos a construir conhecimento</h2>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<p>&nbsp;</p>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<p style="text-align: center;"><a class="btn btn-lg btn-primary btn-avec-vagas">VER VAGAS ABERTAS</a> </p>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<p>&nbsp;</p>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<h2 class="avec-home-app text-center avec-quemsomos-title" style="font-size: 44px; margin-top: 80px; margin-bottom: 40px; color: #3e4c5b; ">Investidores</h2>
		      	</div>
		      </div>
		      
		      <div class="row">
				<div class="col-sm-4 col-xs-12">
					
					<div class="footer-post__img investidores-img">
                      <img class="img-responsive center-block" src="{% static 'img/photo-6.jpg' %}" alt="...">
                    </div>
		        </div>
		        <div class="col-sm-4 col-xs-12">
		          
		          <div class="footer-post__img investidores-img">
                      <img class="img-responsive center-block" src="{% static 'img/photo-2.jpg' %}" alt="...">
                  </div>
		
		        </div>
		        <div class="col-sm-4 col-xs-12">
		        
		        	<div class="footer-post__img investidores-img">
                      <img class="img-responsive center-block" src="{% static 'img/photo-3.jpg' %}" alt="...">
                  	</div>
                  	
		        </div>
		     </div>
		     <div class="row">
				<div class="col-sm-4 col-xs-12">
					<h3 class="text-center">Bill Gates</h3>
		        </div>
		        <div class="col-sm-4 col-xs-12">
		        	<h3 class="text-center">David Cheriton</h3>
		        </div>
		        <div class="col-sm-4 col-xs-12">
		        	<h3 class="text-center">Larry Ellison</h3>  	
		        </div>
		     </div>
		</div>
		<!-- / .section__inner -->
	</div>

</div>
{% endblock %}

  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDBL3P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>