{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}

{% block content %}
<div class="home-app__container container-quemsomos">

	<div class="section section_centered section-quemsomos" style="height: 300px;">
		<div class="section__inner">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-11">
						<div class="row avec-row-search">
							<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
								<h1 class="avec-home-app avec-title-home-app text-center">Quem Somos</h1>
							</div>
						</div>

					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</div>
		<!-- / .section__inner -->
	</div>
	<!-- / .section -->

	<div class="section" style="margin: 40px 0;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="avec-home-app text-center avec-quemsomos-title">Somos uma plataforma de dados setoriais com um <strong>vasto lago de dados</strong> a serem consumidos pela sociedade.</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<hr style="margin: 40px 0;">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-2">

					<div class="section">

						<span style="font-size: 18px;">Em busca da melhoria dos serviços prestados pelas empresas, acelerando os estudos de pesquisadores e estudantes acadêmicos, agilizando o
						processo de obtenção de dados fidedignos pelas empresas</span>

					</div>
					<!-- / .section -->

				</div>
				<div class="col-md-4 col-md-offset-1">

					<div class="section">

						<span style="font-size: 18px;">de consultoria que necessitam de informações em setores dos mais diversos. como também
						 disponibilizando, de um modo ágil e interativo, todo o conjunto de dados abertos hoje pulverizadp em diversos canais pela web.</span>

					</div>
					<!-- / .section -->

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .section__inner -->
	</div>
	<!-- / .section  -->
	<section class="index-3__section avec-relevant-section">
		<div class="container">

			<!-- Heading -->
			<div class="row">
				<div class="col-md-12">

					<h2 class="avec-home-app text-center avec-title-home-app avec-quemsomos-title" style="margin-bottom: 40px;">Diferenciais</h2>


				</div>
			</div>
			<!-- / .row -->
			<div class="row avec-relevant-data-row">

				<div class="col-md-4">


					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<!-- <i class="fa fa-print" style="font-size: 46px; color: #3dc1d0; padding-bottom: 20px;"></i> -->
						<span class="icon-printer-text avec-icon-quemsomos"></span><br>

						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>

				</div>
				<div class="col-md-4">


					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-lock-stripes avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>


				</div>
				<div class="col-md-4">


					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-document-diagrams avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>


				</div>
			</div>

			<div class="row avec-relevant-data-row">

				<div class="col-md-4">

					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-award2 avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>

				</div>
				<div class="col-md-4">

					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-cloud-download avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >What is Lorem Ipsum</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>

				</div>
				<div class="col-md-4">

					<div class="index-3-features-2__item avec-icon-chart" style="text-align: center;">
						<span class="icon-trophy2 avec-icon-quemsomos"></span><br>
						<h4 class="index-3-features-2__heading avec-index-3-features-2__heading" >What is Lorem Ipsumt</h4>
						<div class="index-3-features-2__content avec-index-3-features-2__content">There are many variations of passages of Lorem Ipsum available majority have suffered.</div>
					</div>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</section>

	<div class="section" style="margin: 40px 0; padding: 40px 0px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="headline-lg avec-title-home-app">Nosso Time</h2>
					<h4 class="avec-title-nosso-time">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="user-avatar shadow-effect text-center">
						<a href="https://www.linkedin.com/in/emanuel-porangaba-6634b15a/" class="avec-linkedin">
							<i class="fa fa-linkedin-square"> <span>/EmanuelPorangaba</span></i>
							<img class="img-responsive center-block avec-center-block" src="{% static 'img/emanuel.jpg' %}" alt="...">
						</a>
						<span class="avec-nome-colaborador">Emanuel Porangaba</span>
		            	<p class="text-muted avec-cargo-colaborador">CEO / Co-fundador</p>
		          </div>

		        </div>
		        <div class="col-sm-3 col-xs-6">

		          <div class="user-avatar shadow-effect text-center">
		          	<a href="https://www.linkedin.com/in/vinicius-torres-b3437834/" class="avec-linkedin">
						<i class="fa fa-linkedin-square"> <span>/JohnDoe</span></i>
						<img class="img-responsive center-block avec-center-block" src="{% static 'img/vinicius.jpg' %}" alt="...">
					</a>
					<span class="avec-nome-colaborador">John Doe</span>
	            	<p class="text-muted avec-cargo-colaborador">Analista de Dados / Co-fundador</p>
		          </div>

		        </div>
		        <div class="col-sm-3 col-xs-6">

		          <div class="user-avatar shadow-effect text-center">
		          	<a href="https://www.linkedin.com/in/daniel-porangaba-921b66101/" class="avec-linkedin">
						<i class="fa fa-linkedin-square"> <span>/JohnDoe</span></i>
						<img class="img-responsive center-block avec-center-block" src="{% static 'img/daniel.jpg' %}" alt="...">
					</a>
					<span class="avec-nome-colaborador">John Do</span>
	            	<p class="text-muted avec-cargo-colaborador">Diretor de Operações / Co-fundador</p>
		          </div>
		        </div>
		        <div class="col-sm-3 col-xs-6">

		          <div class="user-avatar shadow-effect text-center">
		            <a href="#" class="avec-linkedin">
						<i class="fa fa-linkedin-square"> <span>/JohnDoe</span></i>
						<img class="img-responsive center-block avec-center-block" src="{% static 'img/photo-4.jpg' %}" alt="...">
					</a>
					<span class="avec-nome-colaborador">John Doe</span>
	            	<p class="text-muted avec-cargo-colaborador">ADMIN TEAM</p>
		          </div>
		        </div>
		      </div> <!-- / .row -->
		      <div class="row">
		      	<div class="col-md-12">
		      		<h2 class="avec-home-app text-center avec-quemsomos-title" style="font-size: 44px; margin-top: 80px; margin-bottom: 30px; color: #3e4c5b; ">Ajude-nos a construir conhecimento</h2>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<p style="text-align: center;"><a class="btn btn-lg btn-primary btn-avec-vagas">VER VAGAS ABERTAS</a> </p>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<p>&nbsp;</p>
		      	</div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<h2 class="avec-home-app text-center avec-quemsomos-title" style="font-size: 44px; margin-top: 80px; margin-bottom: 40px; color: #3e4c5b; ">Investidores</h2>
		      	</div>
		      </div>

		      <div class="row">
				<div class="col-sm-4 col-xs-12">

					<div class="footer-post__img investidores-img">
                      <!-- <img class="img-responsive center-block" src="{% static 'img/photo-6.jpg' %}" alt="..."> -->
                    </div>
		        </div>
		        <div class="col-sm-4 col-xs-12">

		          <div class="footer-post__img investidores-img">
                      <img class="img-responsive center-block" src="{% static 'img/walfran.png' %}" alt="...">
                  </div>

		        </div>
		        <div class="col-sm-4 col-xs-12">

		        	<div class="footer-post__img investidores-img">
                      <!-- <img class="img-responsive center-block" src="{% static 'img/photo-3.jpg' %}" alt="..."> -->
                  	</div>

		        </div>
		     </div>
		     <div class="row">
				<div class="col-sm-4 col-xs-12">
					<!-- <h3 class="text-center">Bill Gates</h3> -->
		        </div>
		        <div class="col-sm-4 col-xs-12">
		        	<h3 class="text-center">Walfran Monteiro</h3>
		        </div>
		        <div class="col-sm-4 col-xs-12">
		        	<!-- <h3 class="text-center">Larry Ellison</h3> -->
		        </div>
		     </div>
		</div>
		<!-- / .section__inner -->
	</div>

</div>
{% endblock %}

  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDBL3P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
