{% extends 'avec/base_infograficos.html' %}
{% load staticfiles %}

{% block title %}
	<h1 class="internal__title">{{report.title}}</h1>
{% endblock %}

{% block content %}

 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
			
				<div class="sngl_blg">										
					<div class="post_info">
						<div class="post_intro">
							<h2>{{report.title}}</h2>
															
						</div>
					</div>
					<div class="post_content">
						<p align=justify>{{report.text|linebreaks}}
						</p>
						</br>
						<p>Veja uma amostra do arquivo</p>
						<a href="{% static 'img/'%}{{report.pdf.url}}"><img src="{% static 'img/icons/PDF.png' %}"></img></a>
						</br>
						<p>para download completo, torne-se assinante premium</p>						
					</div>
				</div>					
			

		</div>	
		<div class="col-sm-3">

		</div>
	</div>
</div>
{% endblock content %}
{% block other %}
					<div class="sidebar">								
				<div class="widget">
				{% for par in myparent %}
					<h2>{{par.title}}</h2>
				{% endfor %}		
					<div class="title_br"></div>
					<ul>
						{% for sub in related %}
							<li><a href="{% url 'subsubject_detail'  pk=sub.pk %}">{{sub.title}}</a></li>
						{% endfor %}	
					</ul>
				</div>					

				<div class="widget">
					<h2>palavras-chaves</h2>
					<div class="title_br"></div>
					<ul class="tag">
						{% for key in mykeywords %}
							<li><a href="{% url 'keywords_detail' pk=key.pk %}">{{key.title}}</a></li>
						{% endfor %}
					</ul>
				</div>						
			</div>


{% endblock %}
