{% extends "avec/layout_interno.html" %}

{% load staticfiles %} {% block content %}
<div class="avec-content">
	<div class="internal__row">
		<h2 class="internal__title">Democratização, Análises e Integrações</h2>
	</div>
	<section class="services-detail">
		<div class="services-detail__general">
			<div class="services-detail__group">
				<!--<div class="services-detail__image">
				<figure>
					<img src="{% static 'img/tmp/image-box-one.jpg' %}" alt="Serviço" />
				</figure>-->
			</div>
			<div class="services-detail__content" style="padding-bottom: 20px;">
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
						<h2 class="services-detail__title">Acesso à nossa base de dados e análises especializadas</h2>
						<p>Encontre rapidamente os dados mais importantes para suas pesquisas</p>
					</div>
					<div class="col-md-1">
					</div>
				</div>
				<div class="row">
					<p>&nbsp;</p>
				</div>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-3">
						<img src="{% static 'img/image-mackbook.png' %}" style="min-height: 10px">
					</div>
					<div class="col-md-4">
						<p class="services-detail__description">Informações
						disponibilizadas em formatos que permitem sua fácil leitura e
						interpretação, agrupadas por temas e relacionadas com suas causas
						determinantes.</p>
	
						<a href="assuntos" class="btn services-detail__button">Ver lista de assuntos</a>
					</div>
					<div class="col-md-3">
					</div>
				</div>
			</div>
		</div>
		<div class="services-detail__content" style="background-color: #fff; max-height: 0px;
    min-height: 0px;
        padding: 0px 10px 48px 10px;">
				</div>
	</section>

	<section class="services-retrato">
		<div class="services-retrato__general">
			<div class="services-retrato__group">
				<div class="row">
					<p>&nbsp;</p>
				</div>
				<div class="row">
					<p>&nbsp;</p>
				</div>
			</div>
			<div class="services-retrato__content avec-services-retrato">
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-3">
						<h2 class="services-retrato__title avec-services-title">Retratos Setoriais</h2>
						<h6>Encontre dados mais importantes para suas pesquisas</h6>
					</div>
					<div class="col-md-4">
						<p class="services-retrato__description">Visão pontual sobre
							assuntos específicos, localizados em espaços temporais e
							geográficos.</p>
							<br>
							<br>
						<a href="assuntos" class="btn services-retrato__button">Fale conosco</a>
					</div>
					<div class="col-md-2">
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<section class="services-detail">
		<div class="services-detail__general">
			<div class="services-detail__group">
				<div class="row">
					<p>&nbsp;</p>
				</div>
				<div class="row">
					<p>&nbsp;</p>
				</div>
			</div>
			<div class="services-detail__content">
				<div class="row" style="margin-top: 7%;">
					<div class="col-md-2">
					</div>
					<div class="col-md-4">
						<h2 class="services-detail__title avec-services-title" style="margin-bottom: 10px;">Integração de base de dados</h2>
						<h6>Encontre dados mais importantes para suas pesquisas</h6>
					</div>
					<div class="col-md-4 avec-services-content-right" style="text-align: left;">
						<p class="services-detail__description">Integração do conteúdo
							do nosso lago de dados (data lake) com bases proprietárias, com
							agilidade, buscando uma visão comparativa e qualitativa sobre temas
							e assuntos programados.</p>

						<a href="assuntos" class="btn services-detail__button">Fale conosco</a>
					</div>
					<div class="col-md-2">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="services-retrato">
		<div class="services-retrato__general">
			<div class="services-retrato__group">
				<div class="row">
					<p>&nbsp;</p>
				</div>
				<div class="row">
					<p>&nbsp;</p>
				</div>
			</div>
			<div class="services-retrato__content avec-services-retrato">
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-3">
						<div class="bg-danger" style="width: 80px; text-align: center;">EM BREVE!</div>
						<h2 class="services-retrato__title avec-services-title">Análises e descobertas</h2>
						<h6>Encontre dados mais importantes para suas pesquisas</h6>
					</div>
					<div class="col-md-4">
						<p class="services-retrato__description">Estudos sobre setores
							específicos, buscando correlações e tendências (data discoverer)
							no espaço de tempo pré-definido.</p>
							<br>
							<br>
						<a href="assuntos" class="btn services-retrato__button">Fale conosco</a>
					</div>
					<div class="col-md-2">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="services-mensagem">
		<div class="services-mensagem__general">
			<div class="services-mensagem__group">
				<div class="services-mensagem__content">
				
					<div class="row">
						<div class="col-md-3 offset-1" style="text-align: center;">
							<i class="fa fa-user-circle" aria-hidden="true" style="font-size: 84px;"></i>
						</div>
						<div class="col-md-9">
							<div class="avec-quotes-content-message"><i class="fa fa-quote-left"></i></div>
							<p class="services-mensagem__description avec-services-messagem" style="display: inline-block;">Research in
										advertising is done in order to produce better advertisements that
										are more efficient in motivating customers to buy a product or a
										service. The research can be based on a particular advertising
										campaign or can be more generalized and based on how</p>
							<div class="avec-quotes-content-message" style="vertical-align: bottom;">
								<i class="fa fa-quote-right"></i>
							</div>
							<span style="display: block; margin: 10px 0 0 48px;">Emanuel Porangaba - CEO</span>
								<br>
								<br>
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>


{% endblock %}
