{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}
{% block content %}

   <head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>AVEC - Ciência de dados</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<!--
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/keen-dashboards.css' %}" />
	<link rel="stylesheet" href="{% static 'css/avec.style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'min/stylesheets/style.css' %}">-->


   <!-- <link href="css/style2.css" rel="stylesheet">-->
  <link rel="stylesheet" href="{% static 'css/avecVinicius-style.css' %}">
   <link rel="stylesheet" href="{% static 'css/keen-dashboards.css' %}" />

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/amcharts/amstock.js' %}"></script>
	<script type="text/javascript" src="{% static dash.external_files %}"></script>

  <script src="{% static 'js/amcharts/amcharts.js' %}"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>



	<script>
		var imguser = "{% static 'img/user/' %}";
		var img = "{% static 'img/' %}";

	</script>

	<style>

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');


#chartdiv, #chartdiv2, #chartdiv3, #chartdiv4  {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}
svg {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}


p {
  margin: 0 0 20px;
  line-height: 1.5;
}


section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

	#chart-06,  #chart-07,  #chart-08,  #chart-09, #chart-10,  #chart-11,  #chart-12,  #chart-13{
        background: #899296;
        width: 100%;
        font-size: 64px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 100px;
        height: 40px;
        line-height: normal;
		margin-bottom: 15px;
      }

.avec-glyphicon{
    float: right;
}

	</style>

  <!-- TOPIC HEADER
  ================================================== -->
  <div class="topic">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3 class="avec-h3">{{dash.title}}</h3>
        </div>
        <div class="col-sm-8">
          <ol class="breadcrumb pull-right hidden-xs">
            <li><a href="index.html">Home</a></li>
            <li class="avec-active">Assuntos</li>
            <li class="avec-active">Sub assuntos</li>
          </ol>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </div> <!-- / .topic -->


<!--modal

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
		  <h5 class="text-center">{{ tabs.title }}</h5>
          <table class="table table-striped" id="tblGrid" style="word-break: break-word;">
            <!--<thead id="tblHead">
              <tr>
                <th>item</th>
                <th class="text-right">valor</th>
              </tr>
            </thead>-->
            <tbody>
              <tr><td style="width: 30%;">Conteúdo</td>
                <td class="text-right" style="width: 70%;">{{ tabs.indicador }}</td>
              </tr>
              <tr ><td>Descrição</td>
                <td class="text-right">{{ tabs.descricao }}</td>
              </tr>
              <tr><td>Fonte</td>
                <td class="text-right">{{ tabs.fonte }}</td>
              </tr>
              <tr><td>Método cálculo</td>
                <td class="text-right">{{ tabs.metodo_calculo }}</td>
              </tr>
              <tr><td>Categorização</td>
                <td class="text-right">{{ tabs.categorizacao }}</td>
              </tr>
              <tr><td>Periodicidade</td>
                <td class="text-right">{{ tabs.periodicidade }}</td>
              </tr>
              <tr><td>Períodos disponíveis</td>
                <td class="text-right">{{ tabs.periodos_disponiveis }}</td>
              </tr>
              <tr><td>Notas</td>
                <td class="text-right">{{ tabs.notas }}</td>
              </tr>
              <tr><td>Elaboração</td>
                <td class="text-right">{{ tabs.elaboracao }}</td>
              </tr>
              <tr><td>Origem</td>
                <td class="text-right">{{ tabs.origem }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>

    </div>
  </div>


  <!-- MAIN CONTENT
  ================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-sm-3">

        <!-- Search -->
        <form>
          <div class="well">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Procure aqui...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-search" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div><!-- / .input-group -->
              </div>
            </div><!-- /.row -->
          </div>
        </form>

        <!-- Categories -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Relacionados
          </div>
          <div class="panel-body">
            <ul>
              {% for sub in related %}
  							<li><a href="{% url 'subsubject_detail'  pk=sub.pk %}">{{sub.title}}</a></li>
  						{% endfor %}
            </ul>
          </div>
        </div>

        <!-- Tags -->
        <div class="section">
          <p class="blog-tags">
    {% for key in mykeywords %}
      <a href="{% url 'keywords_detail' pk=key.pk %}">{{key.title}}</a>
    {% endfor %}
          </p>
        </div>

      </div>
      <div class="col-sm-9">


  <div class="row">
      <div class="col-sm-12">

        {% for tabs in mytabs %}
        	{% if  forloop.counter  == 1 %}
        		  <input id="tab{{forloop.counter}}" type="radio" name="tabs" checked>
        		  <label for="tab{{forloop.counter}}">{{tabs.title}}</label>
        	{% else %}
        		  <input id="tab{{forloop.counter}}" type="radio" name="tabs">
        		  <label for="tab{{forloop.counter}}">{{tabs.title}}</label>
        	{% endif %}
        {% endfor %}


        {% for tabs in mytabs %}

        <section id="content{{ forloop.counter }}">

         <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
        			<div class="chart-wrapper" id="graph">
        			  <div class="chart-title">
        				 {{ tabs.subtitle }}
        			  </div>
        			  <div class="chart-stage">
        			  {% if  forloop.counter  == 1 %}
        				<div id="chartdiv">
        			  {% else %}
        				<div id="chartdiv{{forloop.counter}}">
        			  {% endif %}
        					<p>{% autoescape on %}{{ tabs.html|safe }}{% endautoescape %} </p>
        				</div>
        			  </div>
        			  <div class="chart-notes">
        				      <a data-toggle="modal" data-target="#myModal">  <span class="glyphicon glyphicon-info-sign"> Fonte</span>   </a>
        			  </div>
        			  </div>
        			</div>

        	  </div>

        </div>
        </section>
        {% endfor %}


      </div>
      </div> <!-- / .row -->

      <!--inicio paineis e infograficos relacionados-->

      <div class="row">
          <div class="col-sm-12">

            <h3 class="headline">
              <span>Conteúdo Relacionado</span>
            </h3>


          </div>
          </div> <!-- / .row -->



  		{% for dash in related_dashs %}
      {% if forloop.counter == 7 %}
        <div id="vermaisP" class="collapse">
      {% endif %}
        {% if forloop.counter|divisibleby:'3' %}
          <div class="row">
        {% endif %}
              <div class="col-sm-4">

                <div class="home-features__item">
                  <i class="fa fa-cubes fa-avec"></i>
                  <div class="home-features-item__content">
                    <h4><a href="{% url 'simpleDash_detail' pk=dash.pk %}">{{ dash.title }}</a></h4>
                    <p>{{ dash.text }}</p>
                  </div>
                </div>

              </div>
        {% if forloop.counter|divisibleby:'3' %}
          </div> <!-- / .row -->
        {% endif %}
        {% if forloop.last and forloop.counter >= 7%}

      </div> <!-- / .row demo collapse-->
      <button type="button" class="btn btn-info avec-btnP" data-toggle="collapse" data-target="#vermaisP"> </span>Ver Mais</button>
        {% endif %}
  		{% endfor %}



      {% for post in related_info %}
        {% if forloop.counter == 7 %}
          <div id="vermais" class="collapse">
        {% endif %}
        {% if forloop.counter|divisibleby:'3' %}
          <div class="row">
        {% endif %}
              <div class="col-sm-4">

                <div class="home-features__item">
                  <i class="fa fa-pie-chart fa-avec"></i>
                  <div class="home-features-item__content">
                    <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                    <p>{{ post.text|linebreaksbr }}</p>
                  </div>
                </div>

              </div>
          {% if forloop.counter|divisibleby:'3' %}
            </div> <!-- / .row -->
          {% endif %}
          {% if forloop.last and forloop.counter >= 7%}
        </div> <!-- / .row demo collapse-->
        <button type="button" class="btn btn-info avec-btn" data-toggle="collapse" data-target="#vermais"> <span ></span>Ver Mais</button>
          {% endif %}
  		{% endfor %}





      <!--fim paineis e infograficos relacionados-->


      </div>


    </div> <!-- / .row -->
  </div> <!-- / .container -->

  <script>
  $(document).ready(function(){
    $("#vermais").on("hide.bs.collapse", function(){
      $(".avec-btn").html('<span ></span> Ver mais');
    });
    $("#vermais").on("show.bs.collapse", function(){
      $(".avec-btn").html('<span ></span> Ver menos');
    });
    $("#vermaisP").on("hide.bs.collapse", function(){
      $(".avec-btnP").html('<span ></span> Ver mais');
    });
    $("#vermaisP").on("show.bs.collapse", function(){
      $(".avec-btnP").html('<span ></span> Ver menos');
    });
  });
  </script>

{% endblock %}

{% block other %}



{% endblock %}
