{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}
{% block content %}

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'min/stylesheets/style.css' %}">		
    <link rel="stylesheet" href="{% static 'css/avec.style.css' %}">	
		
<div class="row">
			<div class="title_sec">
				    <div class="internal__row">
						<h1 class="internal__title">{{mysubject.title}}</h1>
					</div>
			</div>				
			<div class="col-sm-8 ">
			
				<div class="sngl_blg">						
				
				<!--	<div class="post_info">
						<div class="post_intro">
							<h2>{{mysubject.title}}</h2>
							<i class="fa fa-heartbeat"></i>
									</br></br>
						</div>
					</div>-->
				</div>
				
				<div class="author_info" style="padding-top: 40px; width: 83.33333%;">				
				<div class="row">
					<div class="col-sm-12">
						Dashboards recentes						
					</div>
				</div>
				{% if mysubject.pk == 1 %}
				  <div class="row" style="padding-top: 20px">
					<div class="col-sm-2">
					<a href="{% url 'nascidosvivos' %}"><img src="{% static 'img/flattyShadow_red/fs-line.png' %}" alt="" style="width:30%"/></a>
					</div>
					<div class="col-sm-10">
					<div class="author_dec">
							<a href="{% url 'nascidosvivos' %}">Nascidos Vivos</a>						
							<p>dashboard com com informações sobre nascimentos no Brasil.</p>								
					</div>
				   </div>
				  </div>
				  {% elif mysubject.pk == 150 %}	
				  <div class="row" style="padding-top: 20px">
					<div class="col-sm-2">
					<a href="{% url 'inovacao' %}"><img src="{% static 'img/flattyShadow_red/fs-line.png' %}" alt="" style="width:30%"/></a>
					</div>
					<div class="col-sm-10">
					<div class="author_dec">
							<a href="{% url 'inovacao' %}">Inovacao</a>						
							<p>dashboard com com informações sobre inovacao no Brasil e no mundo.</p>								
					</div>
				   </div>
				  </div>
				  {% elif mysubject.pk == 135 or  mysubject.pk == 137 %}	
				  <div class="row" style="padding-top: 20px">
					<div class="col-sm-2">
					<a href="{% url 'sangue' %}"><img src="{% static 'img/flattyShadow_red/fs-line.png' %}" alt="" style="width:30%"/></a>
					</div>
					<div class="col-sm-10">
					<div class="author_dec">
							<a href="{% url 'sangue' %}">Coleta e Transfusões de Sangue - SUS</a>						
							<p style ="padding-top:10px;">Painel com com informações sobre coletas e transfusões de sangue.</p>								
					</div>
				   </div>
				  </div>
				  {% elif mysubject.pk == 145 %}	
				  <div class="row" style="padding-top: 20px">
					<div class="col-sm-2">
					<a href="{% url 'aids' %}"><img src="{% static 'img/flattyShadow_red/fs-line.png' %}" alt="" style="width:30%"/></a>
					</div>
					<div class="col-sm-10">
					<div class="author_dec">
							<a href="{% url 'aids' %}">Casos de AIDS identificados no Brasil</a>						
							<p style ="padding-top:10px;">Painel com com informações sobre casos de AIDS identificados no Brasil.</p>								
					</div>
				   </div>
				  </div>
				  {% else %}	
				  <div class="row" style="padding-top: 20px">
					<div class="col-sm-2">
					<!--<a href="{% url 'inovacao' %}"><img src="{% static 'img/fs-redline.png' %}" alt="" style="width:60%"/></a>-->
					</div>
					<div class="col-sm-10">
					<div class="author_dec">
							<p>No momento não há dashboard disponível para esse assunto.</p>						
					</div>
				   </div>
				  </div>
				  {% endif %}
				</div>
				<div class="author_info" style="width: 83.33333%;">
					<div class="row">
						<div class="col-sm-12">
							Infograficos recentes						
						</div>
					</div>
					{% if not posts %}
					<div class="row" style="padding-top: 20px">
					<div class="col-sm-2">
					<!--<a href="{% url 'inovacao' %}"><img src="{% static 'img/fs-redline.png' %}" alt="" style="width:60%"/></a>-->
					</div>
					<div class="col-sm-10">
					<div class="author_dec">
						<p>No momento não há infográfico disponível para esse topico.</p>
					</div>
				   </div>
				  </div>
					{% else %}
						{% for post in posts %}
						<div class="row" style="padding-top: 20px">
							<div class="col-sm-2">
							<a href="{{post.link}}"><img src="{% static 'img/fs-line.png' %}" alt="" style="width:30%"/></a>
							</div>
							<div class="col-sm-10">
							<div class="author_dec">
								<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
								<a href="{{post.link}}"><p>{{ post.text|linebreaksbr }}</p></a>
								<p>published: {{ post.published_date }}</p>
							</div>
						   </div>
						</div>
						{% endfor %}
					{% endif %}	
				</div>				
					

			</div>		
			
			<div class="col-sm-4">
				<div class="sidebar">						
			
					<div class="widget">
						<h2>{{mysubject.subject}}</h2>
						<div class="title_br"></div>
						<ul>
							{% for par in myparent %}
								<li><a href="{% url 'subsubject_detail' pk=par.pk %}">{{par.title}}</a></li>
							{% endfor %}	
						</ul>
					</div>					

					<div class="widget">
						<h2>palavras-chaves</h2>
						<div class="title_br"></div>
						<ul class="tag">
							
						</ul>
					</div>						
				</div>
			</div>	
		</div>
{% endblock content %}