{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/avecVinicius-style.css' %}">

<!-- TOPIC HEADER
================================================== -->
<div class="topic">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="avec-h3">{{mysubject.title}}</h3>
      </div>
      <div class="col-sm-8">
        <ol class="breadcrumb pull-right hidden-xs">
          <li><a href="/">Home</a></li>
          <li class="avec-active">Assuntos</li>
          <li class="avec-active">Sub assuntos</li>
        </ol>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div> <!-- / .topic -->


<!-- MAIN CONTENT
================================================== -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <!-- Search -->
      <form>
        <div class="well">
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Procure aqui...">
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-search" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div><!-- / .input-group -->
            </div>
          </div><!-- /.row -->
        </div>
      </form>

      <!-- Categories -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Relacionados
        </div>
        <div class="panel-body">
          <ul>
            {% for par in myparent %}
              <li><a href="{% url 'subsubject_detail' pk=par.pk %}">{{par.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- Tags -->
      <div class="section">
        <p class="blog-tags">
  {% for key in mykeywords %}
    <a href="{% url 'keywords_detail' pk=key.pk %}">{{key.title}}</a>
  {% endfor %}
        </p>
      </div>

    </div>
    <div class="col-sm-9">


<div class="row">
    <div class="col-sm-12">

      <h3 class="headline avec-headline">
        <span>Painéis</span>
      </h3>


    </div>
    </div> <!-- / .row -->

    {% if not simpledash %}
    <div class="col-sm-12 nocontent-div">
      <i class="fa fa-exclamation-triangle fa-avec-exclamation" aria-hidden="true"></i>
      <p class="nocontent"> No momento não há item disponível para esse assunto.</p>
    </div>
    {% else %}
      {% for dash in simpledash %}
      {% if forloop.counter == 7 %}
        <div id="vermaisP" class="collapse">
      {% endif %}
        {% if forloop.counter|divisibleby:'3' %}
          <div class="row">
        {% endif %}
              <div class="col-sm-4">

                <div class="home-features__item">
                  <i class="fa fa-cubes fa-avec"></i>
                  <div class="home-features-item__content">
                    <h4><a href="{% url 'simpleDash_detail' pk=dash.pk %}">{{ dash.title }}</a></h4>
                    <p>{{ dash.text }}</p>
                  </div>
                </div>

              </div>
        {% if forloop.counter|divisibleby:'3' %}
          </div> <!-- / .row -->
        {% endif %}
        {% if forloop.last and forloop.counter >= 7%}

      </div> <!-- / .row demo collapse-->
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-info avec-btn" data-toggle="collapse" data-target="#vermaisP"> <span ></span>Ver Mais</button>
        </div>
      </div>
        {% endif %}
  		{% endfor %}
    {% endif %}

<div class="row">
    <div class="col-sm-12">

      <h3 class="headline avec-headline">
        <span>Infograficos</span>
      </h3>


    </div>
    </div> <!-- / .row -->

    {% if not posts %}
    <div class="col-sm-12 nocontent-div">
      <i class="fa fa-exclamation-triangle fa-avec-exclamation" aria-hidden="true"></i>
      <p class="nocontent"> No momento não há item disponível para esse assunto.</p>
    </div>
    {% else %}
      {% for post in posts %}
      {% if forloop.counter == 7 %}
        <div id="vermais" class="collapse">
      {% endif %}
      {% if forloop.counter|divisibleby:'3' %}
        <div class="row">
      {% endif %}
            <div class="col-sm-4">

              <div class="home-features__item">
                <i class="fa fa-pie-chart fa-avec"></i>
                <div class="home-features-item__content">
                  <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                  <p>{{ post.text|linebreaksbr }}</p>
                </div>
              </div>

            </div>
        {% if forloop.counter|divisibleby:'3' %}
          </div> <!-- / .row -->
        {% endif %}
        {% if forloop.last and forloop.counter >= 7%}
      </div> <!-- / .row demo collapse-->
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-info avec-btn" data-toggle="collapse" data-target="#vermais"> <span ></span>Ver Mais</button>
        </div>
      </div>
        {% endif %}

  		{% endfor %}
    {% endif %}


    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->

<script>
$(document).ready(function(){
  $("#vermais").on("hide.bs.collapse", function(){
    $(".avec-btn").html('<span ></span> Ver mais');
  });
  $("#vermais").on("show.bs.collapse", function(){
    $(".avec-btn").html('<span ></span> Ver menos');
  });
  $("#vermaisP").on("hide.bs.collapse", function(){
    $(".avec-btnP").html('<span ></span> Ver mais');
  });
  $("#vermaisP").on("show.bs.collapse", function(){
    $(".avec-btnP").html('<span ></span> Ver menos');
  });
});
</script>

<!--
<div class="row">
			<div class="title_sec">
				    <div class="internal__row">
						<h1 class="internal__title">{{mysubject.title}}</h1>
					</div>
			</div>
			<div class="col-sm-8 ">

				<div class="sngl_blg">

				</div>

				<div class="author_info" style="padding-top: 40px; width: 83.33333%;">
				<div class="row">
					<div class="col-sm-12">
						Painéis recentes
					</div>
				</div>

					{% if not dashboards %}
						{% if not simpledash %}
							{% if not paineis %}
							<div class="row" style="padding-top: 20px">
							<div class="col-sm-2">
							</div>
							<div class="col-sm-10">
							<div class="author_dec">
								<p>No momento não há painéis disponíveis para esse assunto.</p>
							</div>
						   </div>
						  </div>
							{% endif %}
						{% endif %}
					{% else %}
							{% for dash in dashboards %}
							<div class="row" style="padding-top: 20px">
								<div class="col-sm-2">
								<a href="{% url dash.url dash.pk %}"><img src="{% static 'img/flattyShadow_red/fs-line.png' %}" alt="" style="width:30%"/></a>
								</div>
								<div class="col-sm-10">
								<div class="author_dec">
									<a href="{% url dash.url dash.pk %}">{{ dash.title }}</a>
									<p>publicado: {{ dash.published_date }}</p>
								</div>
							   </div>
							</div>
							{% endfor %}
					{% endif %}

					{% for dash in simpledash %}
					<div class="row" style="padding-top: 20px">
						<div class="col-sm-2">
						<a href="{% url 'simpleDash_detail' pk=dash.pk %}"><img src="{% static 'img/flattyShadow_red/fs-line.png' %}" alt="" style="width:30%"/></a>
						</div>
						<div class="col-sm-10">
						<div class="author_dec">
							<a href="{% url 'simpleDash_detail' pk=dash.pk %}">{{ dash.title }}</a>
							<p>publicado: {{ dash.published_date }}</p>
						</div>
					   </div>
					</div>
					{% endfor %}

					{% for dash in paineis %}
					<div class="row" style="padding-top: 20px">
						<div class="col-sm-2">
						<a href="{% url 'paineis_detail' pk=dash.pk %}"><img src="{% static 'img/flattyShadow_red/fs-line.png' %}" alt="" style="width:30%"/></a>
						</div>
						<div class="col-sm-10">
						<div class="author_dec">
							<a href="{% url 'paineis_detail' pk=dash.pk %}">{{ dash.title }}</a>
							<p>publicado: {{ dash.published_date }}</p>
						</div>
					   </div>
					</div>
					{% endfor %}


				</div>
				<div class="author_info" style="width: 83.33333%;">
					<div class="row">
						<div class="col-sm-12">
							Infograficos recentes
						</div>
					</div>
					{% if not posts %}
					<div class="row" style="padding-top: 20px">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-10">
					<div class="author_dec">
						<p>No momento não há infográfico disponível para esse topico.</p>
					</div>
				   </div>
				  </div>
					{% else %}
						{% for post in posts %}
						<div class="row" style="padding-top: 20px">
							<div class="col-sm-2">
							<a href="{{post.link}}"><img src="{% static 'img/fs-line.png' %}" alt="" style="width:30%"/></a>
							</div>
							<div class="col-sm-10">
							<div class="author_dec">
								<a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
								<a href="{{post.link}}"><p>{{ post.text|linebreaksbr }}</p></a>
								<p>published: {{ post.published_date }}</p>
							</div>
						   </div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="author_info" style="width: 83.33333%;">
					<div class="row">
						<div class="col-sm-12">
							Retratos recentes
						</div>
					</div>
					{% if not reports %}
						<div class="row" style="padding-top: 20px">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-10">
						<div class="author_dec">
							<p>No momento não há infografico disponível para esse assunto.</p>
						</div>
					   </div>
					  </div>
					{% else %}
							{% for post in reports %}
							<div class="row" style="padding-top: 20px">
								<div class="col-sm-2">
								<a href="{% url 'reports_detail' pk=post.pk %}"><img src="{% static 'img/fs-line.png' %}" alt="" style="width:30%"/></a>
								</div>
								<div class="col-sm-10">
								<div class="author_dec">
									<a href="{% url 'reports_detail' pk=post.pk %}">{{ post.title }}</a>
									<a href="{% url 'reports_detail' pk=post.pk %}"><p>{{ post.text|linebreaksbr }}</p></a>
									<p>published: {{ post.published_date }}</p>
								</div>
							   </div>
							</div>
							{% endfor %}
					{% endif %}
				</div>


			</div>

			<div class="col-sm-4">
				<div class="sidebar">

					<div class="widget">
						<h2>{{mysubject.subject}}</h2>
						<div class="title_br"></div>
						<ul>
							{% for par in myparent %}
								<li><a href="{% url 'subsubject_detail' pk=par.pk %}">{{par.title}}</a></li>
							{% endfor %}
						</ul>
					</div>

					<div class="widget">
						<h2>palavras-chaves</h2>
						<div class="title_br"></div>
						<ul class="tag">

						</ul>
					</div>
				</div>
			</div>
		</div>-->
{% endblock content %}
