{% extends 'avec/layout_interno.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load poll_extras %}
{% block content %}

<div class="container" style="padding-top: 50px;">

	<div class="avec-report-content-terms" data-example-id="form-control-height-sizes">
		<p>&nbsp;</p>
		<h3 style="color: #30A2DB;">Termos e Condições Gerais de Uso do Site</h3>

		<div class="clear height20"></div>
		<ul>
			<li><a href="#apresentacao">1. APRESENTAÇÃO</a></li>
			<li><a href="#mudancas-termos">2. MUDANÇAS NOS TERMOS</a></li>
			<li><a href="#prestacao-servicos">3. PRESTAÇÃO DE SERVIÇOS</a></li>
			<li><a href="#acesso-interferencia">4. ACESSO E INTERFERÊNCA</a></li>
			<li><a href="#cadastro">5. DO CADASTRO</a></li>
			<li><a href="#seus-direitos">6. SEUS DIREITOS </a></li>
			<li><a href="#responsabilidades">7. DAS RESPONSABILIDADES DA EMPRESA</a></li>
			<li><a href="#forma-contratacao">8. FORMA DE CONTRATAÇÃO</a></li>
			<li><a href="#foro">9. DO FORO</a></li>
			<li><a href="#diversos">10. DIVERSOS</a></li>
		</ul>
		<div class="clear height20"><br></div>
		<a name="apresentacao"></a> <strong>1. APRESENTAÇÃO</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>1.1. A <strong>AVEC – Ciência de Dados</strong>, inscrita no CNPJ/MF sob o nº 27.270.317/0001-02 doravante denominada <strong>Empresa / Site</strong>, presta os seus serviços através deste site.</p></li>
			<li><p>1.2. Todo aquele que se cadastrar neste Site será referido, para fins destes Termos de Uso, como <strong>Usuário.</strong></p></li>
			<li><p>1.3. Os dados, gráficos, estatísticas, infográficos e outros materiais disponíveis na plataforma online da Empresa, serão referidos, para fins destes Termos de Uso, como <strong>Materiais / Materiais Online.</strong></p></li>
			<li><p>1.4. Os serviços aqui oferecidos, tais como elaboração de Infográficos e Retratos sob encomenda, serão referidos, para fins destes Termos de Uso, com <strong>Serviços / Serviços Online.</strong></p></li>
			<li><p>1.5. Os Termos de Uso estabelecem as cláusulas e as condições que regem a relação contratual entre a Empresa e o Usuário e, uma vez aceito, ainda que eletronicamente, e após o cancelamento do contrato, possui eficácia e validade jurídicas.</p></li>
			<li><p>1.6. O cadastro do Usuário no Site indica, para todos os fins de Direito, que o Associado leu, compreendeu e concordou com as cláusulas e as condições contidas nos Termos de Uso; o que será meramente ratificado a partir da utilização dos serviços prestados pelo Site. Por isso, é recomendado que, antes de cadastrar-se no Site, o interessado leia e compreenda o disposto nos Termos de Uso.</p></li>
			<li><p>1.7. Os Termos de Uso poderão ser atualizados a qualquer tempo e a exclusivo critério da Empresa, seja para adequá-los à legislação vigente ou por exigência do Poder Público, seja em virtude de qualquer mudança nos serviços prestados.</p></li>
			<li><p>1.8. O Usuário poderá, a qualquer tempo, alterar a modalidade de associação contratada para o uso do Site ou cancelar a sua conta, desde que observadas as demais disposições dos Termos de Uso.</p></li>
		</ul>
		<div class="clear height20"><br></div>
		<a name="mudancas-termos"></a> <strong>2. MUDANÇAS NOS TERMOS</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>2.1. A Empresa tem o direito de modificar este Acordo e qualquer política que pertença ou afete o site. O uso contínuo do site após a notificação de mudança no Termo de Uso será considerado como aceitação do Acordo. Se o Usuário não concordar ou não estiver satisfeito com as mudanças no Termo de Uso, poderá cancelar sua inscrição ou migrar para o Plano Básico de assinatura. Além disso, a Empresa se reserva o direito de modificar, suspender ou descontinuar o site a qualquer momento.</p></li>
		</ul>

		<div class="clear height20"><br></div>
		<a name="prestacao-servicos"></a> <strong>3. PRESTAÇÃO DE SERVIÇOS</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>3.1. Nos reservamos o direito de monitorar o acesso aos Materiais com a finalidade de determinar que o uso esteja de acordo com estes Termos e leis aplicáveis.</p></li>
			<li><p>3.2. O acesso ao conteúdo digital do Site, poderá ser suspenso ou cancelado a qualquer momento pela Empresa, caso o Usuário não observe as exigências constantes dos Termos de Uso ou venha a infringir os dispositivos legais ou contratuais aqui elencados.</p></li>
			<li><p>3.3. Caso ocorra a possibilidade acima descrita, nenhuma taxa ou despesa será reembolsável.</p></li>
			<li><p>3.4. Seu direito de acessar e usar o website (<a href="/">http://www.avecdata.com</a>) é pessoal e intransferível. Você só tem direito ao acesso e uso dos Materiais Online para propósitos lícitos.</p></li>
			<li><p>3.5. Seu acesso e uso do website da Empresa podem ser interrompidos a qualquer momento por diversas razões, inclusive por erro de funcionamento, atualizações periódicas, manutenção ou reparo do website ou outras ações que a Empresa possa julgar necessárias.</p></li>
			<li><p>3.6.Para cancelar a assinatura mensal do Usuário, o Usuário deverá acessar a área de “Contato” e solicitar o cancelamento, descrevendo, se possível, o motivo do cancelamento. Com isso as cobranças serão suspensas e nossa equipe de atendimento entrará em contato para concluir o procedimento. Não haverá possibilidade de cancelamento fracionado, sendo a cobrança sempre da mensalidade integral do mês vigente.</p>
			<p style="margin-left: 30px;">3.6.1.    Ao solicitar o cancelamento, terá o Usuário acesso à plataforma até o fim do período mensal vigente o qual fora contratado.</p></li>
			<li><p>3.7. Os Serviços e Materiais são fornecidos “como/quando são”, e “como/quando disponível” e a Empresa não presta nenhum tipo de garantia, explicita ou implícita, para o Serviços e Material online, incluindo, mas não se limitando à comercialização e adequação para uma proposta ou uso especifico.</p></li>
		</ul>
		
		<div class="clear height20"><br></div>
		<a name="acesso-interferencia"></a> <strong>4. ACESSO E INTERFERÊNCA</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>4.1.O Usuário não poderá:</p>
			<p style="margin-left: 30px;">4.1.1. Usar robôs, sistemas de varredura e armazenamento de dados (como "spiders" ou "scrapers"), links escondidos ou qualquer outro recurso, ferramenta, programa, algoritmo ou método coletor/extrator de dados automático para acessar, adquirir, copiar ou monitorar o website da Empresa, sem permissão por escrito expressa pela Empresa. Conceder tal permissão é algo que pode ser feito somente a critério da Empresa;</p>
			<p style="margin-left: 30px;">4.1.2. Usar ou tentar usar qualquer mecanismo, software ou programa, ferramenta, agente ou outros dispositivos e mecanismos (incluindo, mas sem se limitar a navegadores, spiders, robôs, avatares ou agentes inteligentes) para navegar ou buscar dentro do website da Empresa, que não sejam os buscadores disponíveis dentro do Serviço e outros mecanismos de busca disponíveis comumente em navegadores de terceiros, tais como o Internet Explorer da Microsoft;</p>
			<p style="margin-left: 30px;">4.1.3. Postar ou transmitir qualquer arquivo com vírus, "worms", cavalos de Troia ("Trojan horses") ou qualquer outro recurso que contamine, destrua ou interfira de qualquer forma no uso apropriado do website e dos serviços virtuais da Empresa; ou</p>
			<p style="margin-left: 30px;">4.1.4. Tentar decifrar, desmontar, decompor ou fazer a engenharia reversa de qualquer software que consista em ou faça parte da Empresa, seu website ou o seu serviço.</p></li>
			<p style="margin-left: 30px;">4.1.5. Baixar e armazenar Materiais em um banco de dados de arquivo, decompilar ou desmontar os Materiais.</p></li>
			<li><p>4.2. Deve o Usuário atentar que as taxas usuais de sua operadora, como taxas de navegação 3G, se aplicarão quando você acessar o website da Empresa com seu dispositivo portátil.</p></li>
			<li><p>4.3. Para efeitos do presente Acordo, entende-se por "Dados Derivados" qualquer informação, algoritmo, modelo, índice, pontuação ou dados resultantes da sua manipulação ou análise dos Dados e / ou combinação com outros dados não fornecidos pela Empresa. Estes “Dados Derivados” não é discernível como sendo da Empresa.</p></li>
			<li><p>4.4. Não poderá o Usuário, direta ou indiretamente, revender ou lucrar comercialmente de fornecer os Materiais ou Dados Derivados a terceiros;</p></li>
			<li><p>4.5. Nenhuma das partes deverá usar o nome, marcas comerciais, marcas de serviço, símbolos ou logotipos da outra parte, sem o prévio consentimento por escrito da outra parte.</p></li>
			<li><p>4.6. Sob nenhuma circunstância qualquer Usuário pode oferecer, vender, retransmitir qualquer parte dos Serviços ou Materiais para qualquer outra pessoa para revenda comercial ou redistribuição comercial em qualquer meio ou usar os Serviços ou os Materiais para competir com o negócio da Empresa.</p></li>
		</ul>

		<div class="clear height20"><br></div>
		<a name="cadastro"></a> <strong>5. DO CADASTRO</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>5.1. A Empresa, em conformidade com a legislação em vigor, veda o cadastro de menores de 16 anos no Site.</p>
			<li><p>5.2. Por ocasião de seu cadastro no Site e da criação de sua conta, o Usuário se compromete a fornecer informações verdadeiras, precisas, completas e atuais, tanto para fins de criação de seu perfil, como para a cobrança dos valores referentes à modalidade de associação escolhida, bem como a manter todas essas informações atualizadas.</p></li>
			<li><p>5.3. Ao cadastrar-se, o Usuário escolherá uma senha e fornecerá seu e-mail pessoal para o seu acesso ao Site; sendo certo que o Usuário será o único responsável por manter a senha escolhida sob sigilo, não podendo responsabilizar a Empresa pelo uso de sua senha por terceiros.</p></li>
			<li><p>5.4. O Usuário concorda que não autorizará que outras pessoas utilizem sua conta e concorda que irá manter a confidencialidade e segurança de suas informações de registro.</p></li>
			<li><p>5.5. Assim que for concluído o seu cadastro, o Usuário receberá, automaticamente, no e-mail registrado, a confirmação de sua inscrição.</p></li>
			<li><p>5.6. Caso os dados pessoais constantes do e-mail de confirmação de cadastro estejam incorretos, o Usuário poderá retificá-los a qualquer momento na página "Configurações" no Site.</p></li>
			<li><p>5.7. Caso os dados pessoais constantes do e-mail de confirmação de cadastro não pertençam ao Usuário, o Usuário poderá cancelar o cadastro clicando no link apropriado constante do referido e-mail.</p></li>
			<li><p>5.8. O e-mail cadastrado pelo Usuário, se confirmado, somente será utilizado para os fins autorizados pelo Usuário, assim como para responder às suas dúvidas e enviar informações a respeito dos serviços e do Site.</p></li>
			<li><p>5.9. A seu exclusivo critério, a Empresa poderá informar aos Usuários, via e-mails cadastrados, as novidades do Site e dos serviços prestados.</p></li>
		</ul>

		<div class="clear height20"><br></div>
		<a name="seus-direitos"></a> <strong>6. SEUS DIREITOS</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>6.1. Os Usuários os quais assinarem o pacote <strong>BÁSICO</strong> terão acesso a:</p>
			<p style="margin-left: 30px;">6.1.1. <strong>Estatísticas e Infográficos básicos</strong>: Acesso a insights pré-selecionados de temas nacionais e internacionais sobre diversos assuntos (economia, saúde, agronomia, registros civis) em formato estático;</p>
			<p style="margin-left: 30px;">6.1.2. <strong>Opção de download limitado</strong>: Poderá o Usuário realizar download de algumas das estatísticas e infográficos pré-selecionados pela Empresa.</p></li>
			<li><p>6.2. Os Usuários os quais assinarem o pacote <strong>INTERMEDIÁRIO</strong> terão acesso a:</p>
			<p style="margin-left: 30px;">6.2.1. <strong>Todas as opções disponíveis para assinantes BÁSICOS;</strong></p>
			<p style="margin-left: 30px;">6.2.2. <strong>Estatísticas e Infográficos Premium:</strong> Acesso a todos os insights de temas nacionais e internacionais sobre diversos assuntos (economia, saúde, agronomia, registros civis) em formato estático;</p>
			<p style="margin-left: 30px;">6.2.3. <strong>Download dos infográficos e estatísticas acima citados</strong>: poderá o Usuário realizar os downloads das estatísticas e dos infográficos no formato .PDF, .PNG e .JPEG, assim como poderá realizar o download do arquivo em formato .CSV contendo os dados fontes da respectiva estatística.</p></li>
			<li><p>6.3. Os Usuários os quais assinarem o pacote <strong>PROFISSIONAL</strong> terão acesso a:</p>
			<p style="margin-left: 30px;">6.3.1. <strong>Todas as opções disponíveis para assinantes INTERMEDIÁRIOS;</strong></p>
			<p style="margin-left: 30px;">6.3.2. <strong>Painéis interativos - Básicos</strong>: Acesso a todos os insights de temas nacionais e internacionais sobre diversos assuntos (economia, saúde, agronomia, registros civis) em formato interativo;</p>
			<p style="margin-left: 30px;">6.3.3. <strong>Download dos infográficos e estatísticas acima citados</strong>: poderá o Usuário realizar os downloads das estatísticas e dos infográficos no formato .PDF, .PNG e .JPEG, assim como poderá realizar o download do arquivo em formato .xlsv e .csv contendo os dados fontes da respectiva estatística.</p></li>
			<li><p>6.4. Os Usuários os quais assinarem o pacote <strong>CORPORATIVO</strong> terão acesso a:</p>
			<p style="margin-left: 30px;">6.4.1. <strong>Todas as opções disponíveis para assinantes INTERMEDIÁRIOS;</strong></p>
			<p style="margin-left: 30px;">6.4.2. <strong>Painéis interativos - Avançados</strong>: Acesso a todos os insights de temas nacionais e internacionais sobre diversos assuntos (economia, saúde, agronomia, registros civis) em formato interativo, com correlações com outros temas e maiores disponibilizações de dados;</p>
			<p style="margin-left: 30px;">6.4.3. <strong>Download dos infográficos e estatísticas acima citados</strong>: poderá o Usuário realizar os downloads das estatísticas e dos infográficos no formato .PDF, .PNG e .JPEG, assim como poderá realizar o download do arquivo em formato .xlsv e .csv contendo os dados fontes da respectiva estatística.</p>
			<p style="margin-left: 30px;">6.4.4. <strong>Acesso a Retratos setoriais</strong>: Terá o usuário Corporativo acesso a retratos temáticos, contendo ricas informações acerca de um escopo pré-selecionado. Podendo esses Retratos serem disponibilizados em formatos de leitura ou em formatos dinâmicos.</p>
			<p style="margin-left: 30px;">6.4.5. <strong>Integração de base de dados - simples</strong>: O usuário Corporativo poderá fazer integrações de pequenas bases de dados, conforme condições a serem estipuladas pela Empresa.</p></li>
			<li><p>6.5. Para o Usuário é concedido direito intransferível, limitado e não exclusivo durante a vigência do período de acesso ao Usuário, para acessar, utilizar os serviços on-line e materiais disponibilizado. Os direitos concedidos exclusivamente são os seguintes:</p>
			<p style="margin-left: 30px;">6.5.1. O direito de utilizar determinados Serviços e Materiais Online apenas para fins de investigação. Incluindo, o direito de copiar Materiais para análises, apresentações, documentos e outras formas de trabalho ou pesquisa semelhantes para fins internos;</p>
			<p style="margin-left: 30px;">6.5.2.    O direito de criar Dados Derivados e publicar extratos limitados dos Dados em documentos impressos ou eletrônicos, gráficos, planilhas, ficheiros, relatórios, apresentações internamente e para efeitos de auditoria e regulamentação, de acordo com o seu curso normal do negócio.</p></li>
		</ul>
		
		<div class="clear height20"><br></div>
		<a name="responsabilidades"></a> <strong>7. DAS RESPONSABILIDADES DA EMPRESA</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>7.1. A Empresa procura manter no ar o sistema pelo maior tempo possível, mas, devido à natureza da arquitetura web, isso é algo que pode não acontecer sempre.</p>
			<li><p>7.2. A Empresa e outras entidades parceiras podem, de vez em quando, colocar publicidades ou apresentar ofertas promocionais e materiais.</p></li>
			<li><p>7.3. Sua participação em qualquer promoção ou oferta está sujeita às regras aplicáveis associadas à promoção.</p></li>
		</ul>
		
		<div class="clear height20"><br></div>
		<a name="forma-contratacao"></a> <strong>8. FORMA DE CONTRATAÇÃO</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>8.1. O Serviço poderá ser contratado mediante pagamento de Mensalidade Recorrente via Cartão de Crédito: O usuário registrará seu cartão de crédito, do qual será cobrado mensalmente, de forma recorrente, sem a necessidade de renovação. A assinatura será mensal e somente será interrompida quando o usuário solicitar formalmente seu cancelamento.</p>
			<li><p>8.2. O Usuário, durante o processo de inscrição, será solicitado a fornecer as informações do seu cartão de crédito.</p></li>
			<li><p>8.3. O Usuário concorda que sejam cobrados no seu cartão de crédito todas as taxas e impostos sobre vendas e quaisquer outras despesas nas quais possa incorrer relacionadas ao uso do Site.</p></li>
			<li><p>8.4. Todas as despesas serão faturadas no cartão de crédito ou boleto bancário do Usuário, de acordo com a forma de pagamento escolhida no Site. Quaisquer taxas ou encargos bancários decorrentes da contratação aqui tratada serão de responsabilidade do Usuário.</p></li>
			<li><p>8.5. Decorrido o período contratado, a conta do Usuário se renovará automaticamente. O Usuário concorda que sejam debitados os valores decorrentes da renovação, responsabilizando-se por manter fundos necessários para o pagamento quando na época correta.</p></li>
			<li><p>8.6. Caso o Usuário altere suas informações para faturamento, as mesmas deverão ser atualizadas junto ao banco de dados da Empresa.</p></li>
			<li><p>8.7. Ao oferecer informações do seu cartão de crédito à Empresa, o Usuário concorda que consultará os termos e condições que são impostos pelo emissor do seu cartão de crédito para requisitos e limitações de notificação sobre a sua responsabilidade em caso de perda, roubo ou uso não autorizado do seu cartão, bem como informações relacionadas ao limite de crédito e de uso do mesmo.</p></li>
			<li><p>8.8. O Usuário concorda que será o único responsável pelo pagamento de todas as quantias faturadas. O Usuário concorda que não fornecerá nenhuma informação de cartão de crédito que não esteja em seu nome.</p></li>
			<li><p>8.9. Todos os preços listados estão sujeitos à alteração por parte da Empresa a qualquer momento, sem que haja a necessidade de prévia notificação.</p></li>
		</ul>
		
		<div class="clear height20"><br></div>
		<a name="foro"></a> <strong>9. DO FORO</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>9.1. Em conformidade com a legislação em vigor, o foro para dirimir eventuais controvérsias que decorram destes Termos de Uso será o do consumidor.</p>
			<li><p>9.2. Caso o litígio decorrente dos presentes Termos de Uso não seja caracterizado como Direito do Consumidor, o foro de eleição será o foro da cidade de Brasília.</p></li>
		</ul>
		
		<div class="clear height20"><br></div>
		<a name="diversos"></a><strong>10. DIVERSOS</strong>
		<div class="clear height20"><br></div>
		<ul>
			<li><p>10.1. Se qualquer parte deste Acordo for considerada ilegítima, nula ou inexequível por qualquer mediador ou corte de jurisdição competente, este Acordo como um todo não deverá ser considerado ilegítimo, nulo ou inexequível; tão-somente aquela parte do acordo será ilegítima, nula ou inexequível e deverá ser desconsiderada.</p>
			<li><p>10.2. O Usuário concorda que, se a Empresa não exercer ou exigir qualquer direito legal ou reparo previsto neste Acordo (ou qualquer direito ou reparo a que a Empresa tenha o direito legal), tal ato não será visto como renúncia formal dos direitos da Empresa e tais direitos ou reparos ainda estarão disponíveis à Empresa.</p></li>
			<li><p>10.3. Ao utilizar o Site, o Usuário concorda que a empresa ou uma de suas empresas poderá, no momento de uma fusão, aquisição ou venda do serviço, ou todos ou substancialmente os ativos da empresa, ceder os seus direitos e obrigações quanto ao serviço a um proprietário ou operador subsequente aplicável. No caso de uma fusão, aquisição ou venda, o seu uso continuado do serviço significa a sua concordância em limitar-se pelos Termos de Serviço e política de privacidade do proprietário ou operador subsequente do serviço.</p></li>
			<li><p>10.4. Se o Usuário tiver alguma pergunta sobre estes termos de uso ou a respeito de qualquer outra política da Empresa, poderá entrar em contato direto com os administradores da Empresa.</p></li>
			<li><p>10.5. A Empresa oferece todos seus serviços de forma online. Porém, tem um escritório físico que se encontra no Setor Comercial Sul, Quadra 6, Bloco A – Edifício Carioca – Sala 403 – Brasília - DF.</p></li>
		</ul>
		
		<p>&nbsp;</p>
	</div>
</div>


{% endblock %}

